.w-layout-grid {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  grid-row-gap: 16px;
  grid-column-gap: 16px;
}

h1 {
  margin-top: 0px;
  margin-bottom: 10px;
  font-family: univia-pro, sans-serif;
  color: #acf241;
  font-size: 50px;
  line-height: 1;
  font-weight: 700;
}

h2 {
  margin-top: 0px;
  margin-bottom: 10px;
  font-family: univia-pro, sans-serif;
  font-size: 32px;
  line-height: 36px;
  font-weight: 700;
}

h3 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: univia-pro, sans-serif;
  color: #151e40;
  font-size: 18px;
  line-height: 1;
  font-weight: 700;
}

p {
  margin-bottom: 10px;
  font-family: acumin-pro, sans-serif;
}

.navbar-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100px;
  padding-right: 20px;
  padding-left: 20px;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: transparent;
}

.container {
  width: 100%;
  max-width: 1100px;
}

.nav-link {
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
  font-family: univia-pro, sans-serif;
  color: #151e40;
  font-size: 12px;
  font-weight: 700;
}

.nav-link:hover {
  padding-bottom: 10px;
  border-bottom: 3px solid #151e40;
  color: #151e40;
}

.nav-link.w--current {
  padding-bottom: 10px;
  border-bottom: 3px solid #151e40;
  color: #151e40;
}

.header-banner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 600px;
  padding-right: 20px;
  padding-left: 20px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #151e40;
  /*background-image: url('../images/banner-test04.jpg');*/
  background-position: 50% 50%;
  background-size: cover;
}

.logo {
  margin-top: 4px;
}

.brand {
  margin-top: 10px;
}

.fno-section {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 120px;
  padding-right: 20px;
  padding-left: 20px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #f2f2f2;
}

.fno-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 1100px;
  padding-top: 20px;
  padding-bottom: 20px;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.fno-box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 70px;
  height: 70px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: transparent;
}

.introduction-section {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: auto;
  padding: 70px 20px 90px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.header-content-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: auto;
  max-width: 1100px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.header-content-box {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 518px;
}

.sub-heading {
  margin-bottom: 10px;
  font-family: univia-pro, sans-serif;
  color: #acf241;
  font-size: 30px;
}

.white-bold {
  margin-bottom: 15px;
  font-family: univia-pro, sans-serif;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
}

.white {
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: acumin-pro, sans-serif;
  color: #fff;
  font-size: 18px;
  line-height: 1.2;
  font-weight: 200;
}

.white.provider-text {
  width: 100%;
  max-width: 940px;
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 14px;
  text-align: center;
}

.header-btn-green {
  margin-top: 0px;
  padding: 12px 30px;
  border-style: solid;
  border-width: 1px;
  border-color: #acf241;
  border-radius: 30px;
  background-color: #acf241;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  font-family: univia-pro, sans-serif;
  color: #151e40;
  font-size: 13px;
  font-weight: 600;
}

.header-btn-green:hover {
  background-color: #6fa024;
  color: #acf241;
}

.header-btn-wrapper {
  margin-top: 20px;
}

.header-btn-stroke {
  margin-top: 0px;
  margin-left: 15px;
  padding: 12px 30px;
  border-style: solid;
  border-width: 1px;
  border-color: #acf241;
  border-radius: 30px;
  background-color: transparent;
  font-family: univia-pro, sans-serif;
  color: #acf241;
  font-size: 13px;
  font-weight: 600;
}

.header-btn-stroke:hover {
  background-color: #6fa024;
  color: #acf241;
}

.header-price-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 40px;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.price {
  margin-bottom: 0px;
  font-family: univia-pro, sans-serif;
  color: #fff;
  font-size: 50px;
  line-height: 1;
  font-weight: 700;
}

.per-month {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: univia-pro, sans-serif;
  color: #fff;
  font-size: 15px;
}

.content-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: auto;
  max-width: 1100px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.sub-heading-content {
  margin-bottom: 0px;
  font-family: univia-pro, sans-serif;
  color: #000;
  font-size: 14px;
}

.sub-heading-content.white {
  margin-top: 0px;
  color: #fff;
}

.sub-heading-content.white-bold {
  margin-bottom: 20px;
  color: #fff;
  font-weight: 700;
}

.sub-heading-content.bold {
  font-weight: 700;
}

.centre {
  font-family: acumin-pro, sans-serif;
  font-size: 15px;
  font-weight: 300;
  text-align: center;
}

.centre.details {
  font-size: 13px;
}

.centre._980 {
  width: 100%;
  max-width: 980px;
  margin-top: 10px;
}

.div-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: auto;
  max-width: 1000px;
  margin-top: 40px;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  background-color: transparent;
}

.card-container {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: visible;
  width: 290px;
  height: 400px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 20px;
  background-color: #ececec;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  color: #151e40;
}

.card-container:hover {
  background-color: #3554aa;
  color: #fff;
}

.card-header-box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 60px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background-color: #151e40;
}

.fno-logo-card {
  margin-top: 20px;
}

.card-speed-sub {
  margin-top: 5px;
  font-family: univia-pro, sans-serif;
  font-size: 12px;
  font-weight: 600;
}

.card-speed-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
}

.card-speed-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: 0px;
  margin-left: 0px;
  padding-right: 20px;
  padding-left: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.card-speed-upload {
  font-family: univia-pro, sans-serif;
  font-weight: 700;
}

.arrow-speed {
  margin-bottom: 5px;
  color: #fff;
}

.speed-sub {
  font-family: acumin-pro, sans-serif;
  font-size: 13px;
}

.card-price {
  padding-top: 20px;
  padding-bottom: 10px;
  font-family: univia-pro, sans-serif;
  font-size: 35px;
  line-height: 1;
  font-weight: 700;
}

.card-price.satellite {
  padding-bottom: 15px;
  font-size: 25px;
}

.card-btn {
  margin-top: 15px;
  padding: 14px 26px;
  border-radius: 25px;
  background-color: #3c67df;
  -webkit-transition: background-color 250ms ease;
  transition: background-color 250ms ease;
  font-family: univia-pro, sans-serif;
  font-size: 12px;
  font-weight: 600;
}

.card-btn:hover {
  background-color: #acf241;
  color: #151e40;
}

.cta-section {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: auto;
  padding: 60px 20px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #151e40;
  background-image: url('../images/CTA-BANNER.jpg');
  background-position: 50% 50%;
  background-size: cover;
}

.compare-select-section {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: auto;
  padding: 90px 20px 60px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.ribbon {
  position: absolute;
  left: auto;
  top: 0%;
  right: 0%;
  bottom: 0%;
}

.green {
  color: #acf241;
}

.white-medium {
  margin-bottom: 10px;
  font-family: univia-pro, sans-serif;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
}

.white-p {
  font-family: acumin-pro, sans-serif;
  color: #fff;
  font-weight: 300;
}

.white-p.hover:hover {
  color: #acf241;
}

.white-p.blog {
  font-size: 12px;
}

.white-p.margin-bot {
  margin-bottom: 15px;
}

.image {
  padding-top: 20px;
  padding-bottom: 20px;
}

.lte-fibre-select {
  width: 100%;
  max-width: 1100px;
  margin-top: 40px;
}

.column {
  height: 350px;
  background-image: url('../images/fibre-card.jpg');
  background-position: 50% 50%;
  background-size: cover;
}

.column-2 {
  height: 350px;
  background-image: url('../images/lte-card.jpg');
  background-position: 50% 50%;
  background-size: cover;
}

.div-block-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 1100px;
  padding-top: 50px;
  padding-bottom: 0px;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.compare-card {
  width: 530px;
  height: 350px;
  margin-right: 0px;
  padding: 30px;
  border-radius: 20px;
  background-image: url('../images/fibre-card.jpg');
  background-position: 50% 50%;
  background-size: cover;
  box-shadow: 2px 8px 10px -2px rgba(0, 0, 0, 0.32);
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
}

.compare-card:hover {
  box-shadow: 0 9px 19px -3px rgba(0, 0, 0, 0.43);
  -webkit-transform: translate(0px, -5px);
  -ms-transform: translate(0px, -5px);
  transform: translate(0px, -5px);
}

.compare-card.lte {
  background-image: url('../images/lte-card.jpg');
}

.compare-card.lte:hover {
  box-shadow: 0 15px 19px -3px rgba(0, 0, 0, 0.43);
}

.div-block-4 {
  width: 530px;
  height: 350px;
  margin-left: 0px;
  padding: 30px;
  background-image: url('../images/lte-card.jpg');
  background-position: 50% 50%;
  background-size: cover;
}

.link-block {
  text-decoration: none;
}

.coverage-map-section {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 50px;
  padding-bottom: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.html-embed {
  width: 100%;
  margin-top: 50px;
  margin-bottom: -5px;
}

.get-started {
  margin-top: 8px;
  margin-left: 10px;
  padding-top: 12px;
  padding-bottom: 12px;
  border-radius: 20px;
  background-color: #151e40;
  -webkit-transition: background-color 200ms ease;
  transition: background-color 200ms ease;
  font-family: univia-pro, sans-serif;
  color: #fff;
  font-size: 12px;
  font-weight: 600;
}

.get-started:hover {
  background-color: #acf241;
  color: #151e40;
}

.provider-list-section {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: -5px;
  padding: 80px 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #f2f2f2;
}

.grid {
  width: 100%;
  max-width: 980px;
  margin-top: 50px;
  justify-items: center;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.fno-logo {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 110px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.pre-footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: auto;
  padding-top: 70px;
  padding-bottom: 70px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #151e40;
}

.pre-footer-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 1100px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.pre-footer-column {
  padding: 5px 15px;
}

.column-4 {
  padding: 5px 15px;
}

.column-5 {
  padding: 5px 15px;
}

.blog-listing {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 10px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-bottom: 1px solid hsla(0, 0%, 100%, 0.1);
  text-decoration: none;
}

.image-2 {
  width: 55px;
  height: 55px;
}

.div-block-7 {
  margin-left: 15px;
}

.footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-top: 1px none #fff;
  background-color: #040d2e;
}

.footer-sitemap-link {
  margin-left: 12px;
  font-family: univia-pro, sans-serif;
  color: #fff;
  text-decoration: none;
}

.footer-sitemap-link:hover {
  color: #acf241;
}

.sitemap-link-wrapper {
  margin-bottom: 8px;
  -webkit-transition: margin 200ms ease;
  transition: margin 200ms ease;
}

.sitemap-link-wrapper:hover {
  margin-left: 10px;
}

.form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.text-field {
  margin-bottom: 0px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.submit-button {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: #cecece;
}

.submit-button.newsletter {
  background-color: #acf241;
  -webkit-transition: background-color 200ms ease;
  transition: background-color 200ms ease;
  font-family: univia-pro, sans-serif;
  color: #151e40;
  font-size: 12px;
  font-weight: 600;
}

.submit-button.newsletter:hover {
  background-color: #6fa024;
}

.footer-legal-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100px;
  max-width: 1100px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.footer-legal-container {
  width: 100%;
  height: auto;
}

.footer-legal-container.left-align {
  text-align: right;
}

.subpage-header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 470px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #151e40;
  /*background-image: url('../images/banner-fibre.jpg');*/
  background-position: 50% 50%;
  background-size: cover;
}

.subpage-header.lte {
  /*background-image: url('../images/banner-lte.jpg');*/
}

.subpage-header.provider {
  /*background-image: url('../images/banner-providers.jpg');*/
  background-position: 50% 50%;
  background-size: cover;
}

.subpage-header.satellite {
  /*background-image: url('../images/satellite-banner-01.jpg');*/
}

.introduction-strip {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: auto;
  padding-top: 30px;
  padding-bottom: 30px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #f2f2f2;
}

.content-strip {
  width: 100%;
  max-width: 1100px;
  margin-top: 10px;
  text-align: center;
}

.provider-section {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 70px;
  padding-bottom: 70px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.provider-card-wrapper {
  width: auto;
  max-width: 1100px;
  grid-row-gap: 45px;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto auto auto auto;
  grid-template-rows: auto auto auto auto;
}

.div-block-8 {
  width: 340px;
  height: auto;
  background-color: transparent;
}

.provider-box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 200px;
  max-width: 340px;
  margin-bottom: 0px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 10px;
  background-color: #151e40;
  -webkit-transition: background-color 200ms ease;
  transition: background-color 200ms ease;
}

.provider-box:hover {
  background-color: #3554aa;
}

.card-btn-providers {
  margin-top: 15px;
  padding: 10px 20px;
  border-radius: 25px;
  background-color: #cecece;
  -webkit-transition: background-color 250ms ease;
  transition: background-color 250ms ease;
  font-family: univia-pro, sans-serif;
  font-size: 12px;
  font-weight: 600;
  cursor: pointer;
}

.card-btn-providers:hover {
  background-color: #acf241;
  color: #151e40;
}

.fibre-comparison-section {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: auto;
  padding: 50px 20px 60px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.comparison-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: auto;
  max-width: 1050px;
  margin-top: 40px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: transparent;
}

.provider-column {
  width: 150px;
  height: 100%;
}

.column-header-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 75px;
  max-width: 150px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-style: solid;
  border-width: 0.25px;
  border-color: hsla(0, 0%, 80.8%, 0.38);
  background-color: #f2f2f2;
}

.column-header-block.last {
  border-style: none;
  background-color: transparent;
}

.column-provider {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 150px;
  height: 75px;
  max-width: 150px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-style: solid;
  border-width: 0.5px;
  border-color: hsla(0, 0%, 80.8%, 0.38);
  background-color: #fff;
}

.column-provider._01 {
  max-width: 150px;
  padding: 10px;
  border-right-style: none;
  border-left-style: none;
}

.column-provider._02 {
  max-width: 150px;
  border-right: 0.5px solid hsla(0, 0%, 80.8%, 0.38);
  border-left-style: none;
}

.div-block-10 {
  width: 100%;
  background-color: transparent;
}

.row-1 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.comparison-btn {
  border-radius: 20px;
  background-color: #3c67df;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  font-family: univia-pro, sans-serif;
  font-size: 12px;
  font-weight: 600;
}

.comparison-btn:hover {
  background-color: #acf241;
  color: #151e40;
}

.html-embed-2 {
  color: #cecece;
  font-size: 16px;
  letter-spacing: -2px;
}

.link-legal {
  margin-left: 0px;
  -webkit-transition: color 200ms ease;
  transition: color 200ms ease;
  font-family: acumin-pro, sans-serif;
  color: #fff;
  font-size: 13px;
  text-decoration: underline;
}

.link-legal:hover {
  color: #acf241;
}

.ribbon-tag {
  position: absolute;
  left: 0%;
  top: 0%;
  right: auto;
  bottom: auto;
  -webkit-transform: translate(-3px, -2px);
  -ms-transform: translate(-3px, -2px);
  transform: translate(-3px, -2px);
}

.comparison-container-lte {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: auto;
  max-width: 900px;
  margin-top: 40px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: transparent;
}

.ribbon-02 {
  position: absolute;
  left: 0%;
  top: 0%;
  right: auto;
  bottom: auto;
  -webkit-transform: translate(-3px, -3px);
  -ms-transform: translate(-3px, -3px);
  transform: translate(-3px, -3px);
}

.blog-section {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 100px;
  padding-bottom: 100px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.blog-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: auto;
  max-width: 1100px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  background-color: transparent;
}

.blog-post-wrapper {
  width: 100%;
  height: auto;
  max-width: 720px;
  background-color: transparent;
}

.right-sidebar {
  width: 100%;
  max-width: 340px;
  padding-left: 40px;
  border-bottom: 0.25px none #f2f2f2;
  border-left: 1px solid #f2f2f2;
  background-color: transparent;
}

.newsletter-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: auto;
  padding: 30px 30px 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  border-radius: 10px;
  background-color: #f2f2f2;
  color: #cecece;
}

.blog-post-box {
  margin-bottom: 30px;
  border-bottom: 1px solid #f2f2f2;
}

.blog-post-box:hover {
  background-color: hsla(0, 0%, 94.9%, 0.31);
}

.blog-post-image {
  width: 100%;
  height: 100%;
  max-height: 375px;
}

.blog-post-content {
  padding: 0px 20px 20px;
}

.popular-post-wrapper {
  margin-top: 0px;
}

.popular-image {
  width: 100%;
  height: 100%;
  max-height: 65px;
  max-width: 95px;
  border-radius: 36px;
}

.popular-post-slide {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #f2f2f2;
}

.div-block-12 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 100%;
  padding-left: 15px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.date {
  font-family: acumin-pro, sans-serif;
  color: #a1a1a1;
  font-size: 12px;
  line-height: 1;
}

.link-post {
  font-family: acumin-pro, sans-serif;
  color: #aaa;
  font-size: 12px;
  text-decoration: none;
  cursor: pointer;
}

.link-post:hover {
  color: #3554aa;
}

.tag-cloud-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 30px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.tags {
  margin-top: 7px;
  margin-left: 8px;
  padding: 10px 20px;
  border-radius: 20px;
  background-color: #f2f2f2;
  -webkit-transition: background-color 200ms ease;
  transition: background-color 200ms ease;
  font-family: acumin-pro, sans-serif;
  font-size: 12px;
  text-align: center;
}

.tags:hover {
  background-color: #acf241;
}

.tag-cloud {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 100%;
  margin-left: -7px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.small-copy-grey {
  margin-bottom: 5px;
  font-family: acumin-pro, sans-serif;
  color: #a1a1a1;
  font-size: 12px;
  line-height: 1;
  text-align: center;
}

.form-2 {
  width: 100%;
  max-width: 100%;
  margin-top: 15px;
}

.mailist-btn {
  width: 100%;
  margin-top: 0px;
  padding-top: 11px;
  padding-bottom: 11px;
  border-radius: 8px;
  background-color: #cecece;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
}

.mailist-btn:hover {
  background-color: #acf241;
  color: #151e40;
}

.text-field-2 {
  border-radius: 9px;
}

.google-ad {
  margin-top: 40px;
}

.blog-header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 350px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #151e40;
  background-image: url('../images/banner-blue.jpg');
  background-position: 50% 50%;
  background-size: cover;
}

.blog-header.lte {
  background-image: url('../images/banner-lte.jpg');
}

.blog-header-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: auto;
  max-width: 1100px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.blog-header-centre {
  text-align: center;
}

.article {
  margin-bottom: 30px;
  border-bottom: 1px solid #f2f2f2;
}

.article:hover {
  background-color: hsla(0, 0%, 94.9%, 0.31);
}

.blog-image {
  width: 100%;
  height: 100%;
  max-height: 375px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.back-btn {
  padding-right: 25px;
  padding-left: 25px;
  background-color: #cecece;
  -webkit-transition: background-color 200ms ease;
  transition: background-color 200ms ease;
  font-family: univia-pro, sans-serif;
}

.back-btn:hover {
  background-color: #3554aa;
}

.provider-banner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 350px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #151e40;
  background-image: url('../images/banner-fibre.jpg');
  background-position: 50% 50%;
  background-size: cover;
}

.provider-banner.lte {
  background-image: url('../images/banner-lte.jpg');
}

.provider-header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 350px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #151e40;
  background-image: url('../images/banner-blue.jpg');
  background-position: 50% 50%;
  background-size: cover;
}

.provider-header.lte {
  background-image: url('../images/banner-lte.jpg');
}

.provider-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: auto;
  max-width: 1100px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.image-3 {
  margin-bottom: 15px;
}

.form-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}

.filter-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  line-height: 1;
}

.form-3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 10px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.select-field {
  width: 155px;
  margin-right: 10px;
  margin-bottom: 0px;
  padding: 0px;
  border: 1px none #000;
  font-family: acumin-pro, sans-serif;
}

.design-btn {
  margin-left: 10px;
  padding: 9px 25px;
  border-radius: 8px;
  background-color: #cecece;
  -webkit-transition: background-color 200ms ease;
  transition: background-color 200ms ease;
}

.design-btn:hover {
  background-color: #3554aa;
}

.grid-2 {
  grid-row-gap: 29px;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.button {
  margin-top: 30px;
}

.reset-btn {
  margin-top: 30px;
  padding: 11px 26px;
  border-radius: 20px;
  background-color: #cecece;
  -webkit-transition: background-color 200ms ease;
  transition: background-color 200ms ease;
}

.reset-btn:hover {
  background-color: #a0a0a0;
}

.provider-link {
  width: 100%;
  height: 100%;
  max-height: 200px;
  max-width: 340px;
}

.contact-us-section {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 70px;
  padding-bottom: 70px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.contact-information-contatiner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 255px;
  max-width: 1100px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.contact-info-div {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  max-height: 230px;
  max-width: 350px;
  padding: 30px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 20px;
  background-color: #ececec;
  -webkit-transition: background-color 200ms ease;
  transition: background-color 200ms ease;
  font-family: acumin-pro, sans-serif;
  color: #000;
}

.contact-info-div:hover {
  background-color: #151e40;
  color: #fff;
}

.h1-centre {
  color: #fff;
  text-align: center;
}

.contact-form-section {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: -2px;
  padding-top: 50px;
  padding-bottom: 0px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.info-icon {
  margin-bottom: 15px;
}

.info-heading {
  margin-bottom: 10px;
  font-family: univia-pro, sans-serif;
  font-size: 16px;
  font-weight: 600;
}

.info-copy {
  text-align: center;
}

.form-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: auto;
  max-height: none;
  max-width: 1000px;
  margin-top: 40px;
  padding-top: 0px;
  padding-bottom: 0px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  background-color: transparent;
}

.form-4 {
  width: 100%;
  max-width: none;
  padding: 20px;
  color: #cecece;
}

.form-block-2 {
  width: 100%;
  max-width: 550px;
}

.div-block-13 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.text-field-3 {
  margin-right: 10px;
}

.contact-form-field {
  width: 100%;
  height: 44px;
  max-width: 550px;
  margin-bottom: 20px;
  padding-top: 9px;
  padding-bottom: 9px;
  padding-left: 20px;
  border: 1px none #000;
  border-radius: 20px;
  background-color: #f2f2f2;
  font-family: acumin-pro, sans-serif;
}

.contact-form-field._01 {
  margin-right: 10px;
}

.contact-form-field.message {
  height: 150px;
}

.submit-button-01 {
  padding: 10px 50px;
  border-radius: 20px;
  background-color: #cecece;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  font-family: univia-pro, sans-serif;
}

.submit-button-01:hover {
  background-color: #acf241;
  color: #151e40;
}

.submit-button-01.newsletter {
  background-color: #acf241;
  -webkit-transition: background-color 200ms ease;
  transition: background-color 200ms ease;
  font-family: univia-pro, sans-serif;
  color: #151e40;
  font-size: 12px;
  font-weight: 600;
}

.submit-button-01.newsletter:hover {
  background-color: #6fa024;
}

.image-4 {
  position: relative;
  z-index: -1;
  width: 100%;
  height: 100%;
  max-width: 440px;
}

.div-block-14 {
  position: relative;
  width: 100%;
  max-width: 550px;
}

.image-5 {
  position: absolute;
  left: 0%;
  top: -25%;
  right: 0%;
  bottom: auto;
}

.utility-page-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.utility-page-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 260px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
}

.utility-page-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.provider-details-box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 380px;
  max-height: none;
  max-width: 345px;
  padding: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 20px;
  background-color: #ececec;
  -webkit-transition: background-color 200ms ease;
  transition: background-color 200ms ease;
  font-family: acumin-pro, sans-serif;
  color: #000;
}

.provider-details-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: auto;
  max-width: 1100px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.div-block-15 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100px;
  margin-bottom: 10px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.div-block-16 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  padding-top: 0px;
  padding-left: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.link {
  font-family: univia-pro, sans-serif;
  color: #3554aa;
  font-size: 12px;
  font-weight: 600;
  text-decoration: none;
  cursor: pointer;
}

.text-block {
  width: 80%;
  margin-bottom: 10px;
  padding-bottom: 5px;
  border-bottom: 1px solid #cecece;
  font-family: univia-pro, sans-serif;
  font-size: 12px;
  font-weight: 600;
  text-decoration: none;
}

.card-btn01 {
  margin-top: 15px;
  padding: 14px 26px;
  border-radius: 14px;
  background-color: #cecece;
  -webkit-transition: background-color 250ms ease;
  transition: background-color 250ms ease;
  font-family: univia-pro, sans-serif;
  font-size: 12px;
  font-weight: 600;
}

.card-btn01:hover {
  background-color: #acf241;
  color: #151e40;
}

.image-6 {
  margin-top: 0px;
}

.text-block-2 {
  width: 80%;
  margin-bottom: 15px;
  font-size: 11px;
}

.grid-3 {
  width: 100%;
  max-width: 1100px;
  justify-items: center;
  grid-row-gap: 29px;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto auto auto auto;
  grid-template-rows: auto auto auto auto;
}

.logo-link-div {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  padding-top: 0px;
  padding-left: 36px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.checkout-header-banner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: auto;
  padding-top: 50px;
  padding-bottom: 50px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #151e40;
  background-image: url('../images/checkout-banner.jpg');
  background-position: 50% 50%;
  background-size: cover;
}

.checkout-header-info {
  width: 100%;
  height: auto;
  max-width: none;
  padding-right: 20px;
}

.checkout-header-form {
  position: -webkit-sticky;
  position: sticky;
  width: 100%;
  height: auto;
  max-width: none;
  margin: 0px 15px;
  padding: 40px 30px 20px;
  border-radius: 20px;
  background-color: rgba(21, 30, 64, 0.7);
}

.div-block-17 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.package-detail {
  width: 100%;
  height: 100px;
  padding-top: 10px;
}

.div-block-19 {
  width: 100%;
}

.div-block-20 {
  width: 100%;
}

.package-page-heading {
  margin-top: 20px;
  margin-bottom: 5px;
  font-family: univia-pro, sans-serif;
  color: #fff;
  font-size: 14px;
}

.package-page-heading.white {
  margin-top: 0px;
  color: #fff;
}

.package-page-heading.white-bold {
  margin-bottom: 20px;
  color: #fff;
  font-weight: 700;
}

.package-page-heading.bold {
  font-weight: 700;
}

.package-legal-copywrite {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 40px;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.text-block-3 {
  color: #fff;
  font-size: 12px;
  line-height: 1.3;
}

.package-overview {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 30px;
  margin-bottom: 40px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.div-block-21 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.div-block-22 {
  width: 100%;
  height: auto;
  padding-right: 15px;
  padding-left: 15px;
}

.charges-content {
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: acumin-pro, sans-serif;
  color: #fff;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 200;
}

.charges-content.provider-text {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 14px;
  text-align: center;
}

.white-h2 {
  color: #fff;
}

.form-checkout {
  margin-top: 35px;
}

.checkout-field {
  font-family: univia-pro, sans-serif;
  color: #fff;
  font-weight: 600;
}

.div-block-23 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.speeds-header {
  margin-right: 10px;
  margin-bottom: 0px;
  margin-left: 5px;
  font-family: acumin-pro, sans-serif;
  color: #fff;
  font-weight: 300;
}

.speeds-header.hover:hover {
  color: #acf241;
}

.speeds-header.blog {
  font-size: 12px;
}

.speeds-header.margin-bot {
  margin-bottom: 15px;
}

.speeds-header.green {
  color: #acf241;
}

.text-field-4 {
  height: 40px;
}

.text-field-5 {
  margin-bottom: 20px;
}

.checkout-text-field {
  margin-bottom: 13px;
  border-radius: 8px;
}

.checkout-btn {
  margin-top: 15px;
  padding: 15px 50px;
  border-radius: 20px;
  background-color: #acf241;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  font-family: univia-pro, sans-serif;
  color: #151e40;
  font-weight: 700;
}

.checkout-btn:hover {
  background-color: #3554aa;
  color: #fff;
}

.faq-section {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: auto;
  padding-top: 90px;
  padding-bottom: 90px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.div-block-24 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 40px;
  max-width: 1100px;
  margin-bottom: 25px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.go-back-arrow {
  margin-right: 5px;
}

.link-block-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
}

.go-back-link {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: color 200ms ease, -webkit-transform 200ms ease;
  transition: color 200ms ease, -webkit-transform 200ms ease;
  transition: transform 200ms ease, color 200ms ease;
  transition: transform 200ms ease, color 200ms ease, -webkit-transform 200ms ease;
  color: #fff;
  text-decoration: none;
}

.go-back-link:hover {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-transform: translate(-10px, 0px);
  -ms-transform: translate(-10px, 0px);
  transform: translate(-10px, 0px);
  color: #acf241;
}

.paragraph {
  margin-bottom: 0px;
}

.faq-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: auto;
  max-width: 1100px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.faq-div-01 {
  width: 100%;
  height: auto;
  max-width: none;
  padding-right: 20px;
}

.faq-wrapper {
  position: relative;
  margin-top: 20px;
}

.faq-question-div {
  display: none;
  margin-bottom: 10px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
}

.faq-question-div.margin {
  margin-bottom: 10px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.image-7 {
  margin-right: 10px;
}

.faq-heading {
  margin-bottom: 0px;
  font-family: univia-pro, sans-serif;
  color: #000;
  font-size: 18px;
  font-weight: 600;
}

.faq-heading.white {
  margin-top: 0px;
  color: #fff;
}

.faq-heading.white-bold {
  margin-bottom: 20px;
  color: #fff;
  font-weight: 700;
}

.faq-heading.bold {
  font-weight: 700;
}

.faq-heading.margin-10 {
  margin-bottom: 10px;
}

.margin {
  margin-bottom: 25px;
}

.faq-content {
  display: none;
  overflow: hidden;
  width: 100%;
  height: auto;
  max-width: none;
  padding-right: 20px;
}

.plus-icon {
  margin-right: 10px;
}

.minus-icon {
  margin-right: 10px;
}

.dropdown-link {
  background-color: #fff;
  font-family: univia-pro, sans-serif;
  font-size: 12px;
  font-weight: 700;
}

.dropdown-link:hover {
  background-color: #151e40;
  color: #fff;
}

.dropdown-link.w--current {
  background-color: #acf241;
  color: #151e40;
}

.image-8 {
  margin-bottom: 15px;
}

.contact-us-widget {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 10px;
  border-bottom: 1px solid hsla(0, 0%, 100%, 0.1);
}

.contact-us-info {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 10px;
  margin-bottom: 25px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-bottom: 1px solid hsla(0, 0%, 100%, 0.1);
  font-family: univia-pro, sans-serif;
  color: #fff;
  font-size: 13px;
  line-height: 1;
  font-weight: 400;
}

.heading-2 {
  margin-top: 0px;
}

.heading-3 {
  margin-top: 0px;
}

.inline-link {
  color: #3554aa;
  text-decoration: none;
}

.image-9 {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  width: 700px;
  -webkit-transform: translate(0px, -52px);
  -ms-transform: translate(0px, -52px);
  transform: translate(0px, -52px);
}

.product-overview-section {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 50px;
  padding-bottom: 60px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #ececec;
}

.div-block-25 {
  width: 100%;
  height: auto;
  max-width: 1100px;
  margin-top: 10px;
}

.benefits-card {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100px;
  max-height: none;
  max-width: 350px;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 10px;
  background-color: #151e40;
  -webkit-transition: background-color 200ms ease;
  transition: background-color 200ms ease;
}

.div-block-26 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100px;
  height: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.div-block-27 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  max-width: none;
  padding-top: 10px;
  padding-right: 25px;
  padding-bottom: 10px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.grid-4 {
  margin-top: 20px;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
}

.how-it-works-section {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 50px;
  padding-bottom: 60px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #151e40;
}

.div-block-28 {
  width: 100%;
  height: auto;
  max-width: 1100px;
}

.features-section {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 80px;
  padding-bottom: 80px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.feature-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: auto;
  max-width: 1100px;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.feature-wrapper {
  width: 100%;
  height: 100%;
  max-width: 550px;
  padding-right: 50px;
  padding-left: 20px;
}

.feature-wrapper.map {
  height: 450px;
  max-height: none;
  border-radius: 20px;
  background-color: #151e40;
  background-image: url('../images/satellite-map.svg');
  background-position: 50% 50%;
  background-size: cover;
  box-shadow: -3px 5px 10px 2px rgba(0, 0, 0, 0.29);
}

.list {
  margin-top: 10px;
}

.list-item {
  margin-bottom: 10px;
}

.margin-bot {
  margin-bottom: 20px;
}

.heading-5 {
  font-size: 18px;
  line-height: 1;
}

.white-h3 {
  color: #fff;
}

.link-block-3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 70px;
  height: 70px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.heading-blog-footer {
  margin-bottom: 1px;
  color: #fff;
  font-weight: 700;
}

.image-20 {
  margin-top: 30px;
}

.div-block-29 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.link-block-4 {
  margin-top: 20px;
}

.text-large {
  margin-bottom: 0px;
  margin-left: 8px;
  color: #fff;
  font-size: 16px;
}

.text-large.green {
  color: #acf241;
}

.fno-text {
  margin-top: 30px;
  color: #fff;
  font-size: 18px;
}

.link-social {
  color: #fff;
  line-height: 1;
  letter-spacing: 0.75px;
}

.link-social:hover {
  color: #acf241;
}

.features-container {
  width: 100%;
  height: auto;
  max-width: 1100px;
  margin-top: 50px;
  padding: 5px 25px 25px;
  border-radius: 10px;
  background-color: #f2f2f2;
}

.list-wrapper-01 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.div-block-30 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.filter-accordian {
  display: block;
  overflow: hidden;
  width: 100%;
  height: auto;
  max-width: none;
  padding-right: 20px;
}

.filter-accordian-question {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
}

.filter-accordian-question.margin {
  margin-bottom: 10px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.html-embed-3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: auto;
  height: 100%;
}

.section {
  width: 100%;
  height: 700px;
}

.results-section {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 300px;
  padding: 50px 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.1);
}

.h2 {
  margin-top: 0px;
  font-family: univia-pro, sans-serif;
  color: #171d40;
  font-size: 30px;
}

.paragraph-2 {
  width: 100%;
  max-width: 940px;
  margin-bottom: 30px;
  text-align: center;
}

.results-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 150px;
  max-width: 940px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.results-container:hover {
  -webkit-filter: none;
  filter: none;
}

.paragraph-3 {
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
}

.section-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: auto;
  padding: 60px 20px 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.form-block-3 {
  width: 940px;
}

.controls-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 950px;
  height: auto;
  margin-top: 20px;
  font-family: univia-pro, sans-serif;
}

.filter_select {
  margin-right: 5px;
  margin-left: 5px;
  border-radius: 0px;
  font-weight: 600;
}

.div-block-31 {
  width: auto;
  height: 500px;
  max-width: 960px;
}

.btn {
  display: block;
  margin-bottom: 30px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #d8d8d8;
}

.btn:hover {
  background-color: #818181;
}

.type-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100px;
  height: 45px;
  margin-top: 10px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-style: solid;
  border-width: 1px;
  border-color: #3c67df;
  border-radius: 20px;
  background-color: #3c67df;
  font-family: univia-pro, sans-serif;
  color: #fff;
  font-size: 12px;
  line-height: 1;
  text-align: center;
}

.upload-speed-div {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 85px;
  height: auto;
  margin-top: 30px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.h5 {
  margin-top: 0px;
  margin-bottom: 15px;
  font-family: univia-pro, sans-serif;
  color: #acf241;
  font-size: 15px;
  line-height: 1;
  text-align: center;
}

.h5.blue {
  margin-top: 0px;
  margin-bottom: 0px;
  color: #cecece;
  font-size: 12px;
}

.h5.price {
  color: #151e40;
}

.h5.grey {
  color: #151e40;
}

.agent-tip-text {
  width: 230px;
  margin-top: 10px;
  color: #fff;
  font-size: 11px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.5px;
}

.download-speed-div-copy {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: auto;
  height: auto;
  margin-bottom: 12px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  color: #acf241;
  font-size: 1px;
}

.provider-logo {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 190px;
  height: 70px;
  margin-top: 0px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: transparent;
}

.small {
  font-size: 30px;
}

.agent-tip {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: auto;
  width: 100%;
  max-width: 300px;
  padding: 25px 20px 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #151E40;
  
  background-position: 50% 50%;
  background-size: cover;
}

.h3 {
  margin-top: 10px;
  margin-bottom: 5px;
  color: #151e40;
  font-size: 50px;
  line-height: 1;
  text-align: center;
}

.download-speed-div {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 85px;
  height: auto;
  margin-top: 30px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  color: #666;
}

.fno-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 250px;
  height: 100%;
  padding-top: 20px;
  padding-bottom: 10px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 0px;
  background-color: #151e40;
}

.speed-text {
  margin-bottom: 4px;
  font-family: univia-pro, sans-serif;
  color: #ccc;
  font-size: 30px;
  line-height: 1;
  text-align: center;
}

.mix {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 250px;
  max-width: 1150px;
  margin-top: 50px;
  border-style: solid;
  border-width: 2px;
  border-color: #171d40;
}

.mix.telkom {
  overflow: hidden;
  margin-top: 20px;
  border-width: 0.5px;
  border-color: #ececec;
  border-radius: 20px;
}

.div-block-3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
}

.package-details-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 15px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.fno-image {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100px;
  height: auto;
  margin-top: 25px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: transparent;
}

.speed-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 200px;
  padding-top: 25px;
  padding-bottom: 10px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #ececec;
}

.mix-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: visible;
  width: 100%;
  height: auto;
  max-width: 1150px;
  padding-top: 50px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.type-text {
  margin-top: 0px;
  font-family: univia-pro, sans-serif;
  color: #151e40;
  font-size: 0.9em;
  line-height: 1;
  text-align: center;
}

.price-point {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 390px;
  padding-top: 10px;
  padding-bottom: 10px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #fff;
}

.price-text {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: univia-pro, sans-serif;
  color: #171d40;
  font-size: 50px;
  line-height: 1;
  text-align: center;
}

.div-block-32 {
  width: 100%;
  height: auto;
  max-width: 960px;
  margin-bottom: 50px;
}

.back-home-btn {
  margin-top: 8px;
  margin-left: 10px;
  padding-top: 12px;
  padding-bottom: 12px;
  border-radius: 20px;
  background-color: #ccc;
  -webkit-transition: background-color 200ms ease;
  transition: background-color 200ms ease;
  font-family: univia-pro, sans-serif;
  color: #fff;
  font-size: 12px;
  font-weight: 600;
}

.back-home-btn:hover {
  background-color: #acf241;
  color: #151e40;
}

.field-label {
  font-family: univia-pro, sans-serif;
  color: #171d40;
}

.modal {
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 999;
  display: none;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.6);
}

.paragraph-4 {
  font-size: 12px;
  text-align: center;
}

.text-block-4 {
  font-family: Lato, sans-serif;
  color: #171d40;
  font-size: 20px;
  line-height: 1;
  font-weight: 400;
}

.text-block-4:hover {
  color: #171d40;
}

.h2-2 {
  margin-top: 0px;
  font-family: univia-pro, sans-serif;
  color: #171d40;
  font-size: 2em;
}

.h2-2.blue {
  margin-top: 13px;
  margin-bottom: 10px;
  color: #171d40;
  text-align: center;
}

.error-message {
  background-color: #fc3d3d;
  color: #fff;
}

.textarea {
  height: 300px;
}

.form-6 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 4px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.success-message {
  background-color: #acf241;
  color: #171d40;
}

.suggestions-box {
  position: absolute;
  left: 50%;
  top: 50%;
  right: 0%;
  bottom: 0%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  width: 550px;
  height: 500px;
  padding: 30px 41px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-radius: 3%;
  background-color: #fff;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: #000;
}

.close-modal {
  position: absolute;
  left: auto;
  top: 0%;
  right: 0%;
  bottom: auto;
  z-index: 99;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 43px;
  height: 41px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 12px;
  background-color: #acf241;
  -webkit-transition: background-color 200ms ease;
  transition: background-color 200ms ease;
  cursor: pointer;
}

.close-modal:hover {
  background-color: #8cc536;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  color: #171d40;
}

.submit-button-2 {
  padding: 15px 40px;
  background-color: #171d40;
  -webkit-transition: background-color 300ms ease;
  transition: background-color 300ms ease;
  font-family: univia-pro, sans-serif;
}

.submit-button-2:hover {
  background-color: #acf241;
  color: #171d40;
  font-weight: 700;
}

.html-embed-4 {
  color: #151e40;
}

.pm {
  margin-left: 0px;
  font-size: 20px;
}

.heading-6 {
  color: #acf241;
}

.faq-content-desktop {
  display: block;
  overflow: hidden;
  width: 100%;
  height: auto;
  max-width: none;
  padding-right: 20px;
}

@media screen and (max-width: 991px) {
  .fno-wrapper {
    overflow: auto;
  }
  .introduction-section {
    padding-right: 20px;
    padding-left: 20px;
  }
  .card-container {
    margin-right: 6px;
    margin-left: 6px;
  }
  .div-block-2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .compare-card {
    margin-bottom: 30px;
  }
  .image-2 {
    height: 50px;
  }
  .footer-legal-wrapper {
    padding-right: 20px;
    padding-left: 20px;
  }
  .subpage-header {
    padding-right: 20px;
    padding-left: 20px;
  }
  .introduction-strip {
    padding-right: 20px;
    padding-left: 20px;
  }
  .provider-section {
    padding-right: 20px;
    padding-left: 20px;
  }
  .provider-card-wrapper {
    width: 100%;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }
  .fibre-comparison-section {
    overflow: hidden;
    margin-right: 0px;
    margin-left: 0px;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
  .comparison-container {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
  .link-legal {
    margin-right: 7px;
  }
  .comparison-container-lte {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
  .blog-section {
    padding-right: 20px;
    padding-left: 20px;
  }
  .blog-post-wrapper {
    margin-right: 30px;
  }
  .right-sidebar {
    display: none;
  }
  .blog-header {
    padding-right: 20px;
    padding-left: 20px;
  }
  .provider-banner {
    padding-right: 20px;
    padding-left: 20px;
  }
  .provider-header {
    padding-right: 20px;
    padding-left: 20px;
  }
  .filter-form {
    overflow: auto;
    width: 100%;
  }
  .form-3 {
    width: 100%;
    padding-right: 20px;
    padding-left: 20px;
  }
  .grid-2 {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }
  .contact-us-section {
    margin-right: 20px;
    margin-left: 20px;
  }
  .contact-info-div {
    margin-right: 5px;
    margin-left: 5px;
  }
  .grid-3 {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }
  .checkout-header-banner {
    padding-right: 20px;
    padding-left: 20px;
  }
  .faq-section {
    padding-right: 20px;
    padding-left: 20px;
  }
  .product-overview-section {
    padding-right: 20px;
    padding-left: 20px;
  }
  .how-it-works-section {
    padding-right: 20px;
    padding-left: 20px;
  }
  .features-section {
    padding-right: 20px;
    padding-left: 20px;
  }
}

@media screen and (max-width: 767px) {
  .header-content-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .content-container {
    padding-right: 21px;
    padding-left: 21px;
  }
  .div-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .card-container {
    margin-bottom: 25px;
  }
  .pre-footer {
    padding-right: 20px;
    padding-left: 20px;
  }
  .pre-footer-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .pre-footer-column {
    margin-bottom: 10px;
  }
  .provider-card-wrapper {
    justify-items: center;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
  .provider-column {
    max-width: 150px;
  }
  .div-block-10 {
    overflow: auto;
  }
  .row-1 {
    width: 900px;
    max-width: 900px;
  }
  .grid-2 {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
  .contact-information-contatiner {
    height: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .contact-info-div {
    margin-bottom: 15px;
  }
  .image-4 {
    display: none;
  }
  .div-block-14 {
    display: none;
  }
  .checkout-header-banner {
    overflow: visible;
    height: auto;
  }
  .product-overview-section {
    padding-right: 20px;
    padding-left: 20px;
  }
  .grid-4 {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }
  .feature-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .feature-wrapper.map {
    margin-top: 20px;
  }
  .heading-4 {
    text-align: center;
  }
}

@media screen and (max-width: 479px) {

  .faq-content-desktop {
    display: none;
    padding-right: 0px;
  }

  h2 {
    text-align: center;
  }
  .nav-link {
    width: 100%;
    background-color: #fff;
  }
  .header-banner {
    background-image: url('../images/checkout-banner.jpg'), url('../images/banner-test04.jpg');
    background-position: 50% 50%, 50% 50%;
    background-size: cover, cover;
  }
  .logo {
    margin-top: 4px;
  }
  .fno-wrapper {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    overflow: scroll;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
  .fno-box {
    margin-right: 15px;
  }
  .introduction-section {
    padding-bottom: 0px;
  }
  .header-content-wrapper {
    padding-right: 0px;
  }
  .header-btn-green {
    margin-bottom: 10px;
  }
  .header-btn-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .header-btn-stroke {
    margin-left: 0px;
  }
  .centre {
    padding-right: 20px;
    padding-left: 20px;
  }
  .div-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .card-container {
    margin-bottom: 30px;
  }
  .cta-section {
    height: auto;
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .green {
    text-align: left;
  }
  .div-block-2 {
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
  }
  .compare-card {
    width: 100%;
    max-height: 350px;
    max-width: 530px;
  }
  .get-started {
    margin-right: 5px;
    margin-left: 5px;
  }
  .grid {
    overflow: auto;
    grid-column-gap: 27px;
    grid-row-gap: 21px;
  }
  .pre-footer {
    padding-right: 20px;
    padding-left: 20px;
  }
  .pre-footer-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .pre-footer-column {
    margin-bottom: 15px;
  }
  .footer-legal-wrapper {
    height: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .subpage-header {
    height: auto;
    padding-top: 30px;
    padding-bottom: 30px;
    background-image: url('../images/checkout-banner.jpg'), url('../images/banner-fibre.jpg');
    background-position: 50% 50%, 50% 50%;
    background-size: cover, cover;
  }
  .subpage-header.lte {
    background-image: url('../images/checkout-banner.jpg'), url('../images/banner-lte.jpg');
    background-position: 50% 50%, 50% 50%;
    background-size: cover, cover;
  }
  .subpage-header.provider {
    background-image: url('../images/checkout-banner.jpg'), url('../images/banner-providers.jpg');
    background-position: 50% 50%, 50% 50%;
    background-size: cover, cover;
  }
  .subpage-header.satellite {
    background-image: url('../images/checkout-banner.jpg'), url('../images/satellite.jpg');
    background-position: 50% 50%, 50% 50%;
    background-size: cover, cover;
  }
  .div-block-8 {
    width: 100%;
    max-width: 340px;
  }
  .fibre-comparison-section {
    padding-top: 50px;
    padding-right: 0px;
  }
  .heading {
    padding-right: 20px;
  }
  .blog-section {
    padding-top: 60px;
  }
  .blog-post-wrapper {
    margin-right: 0px;
  }
  .blog-header {
    height: auto;
    padding-top: 25px;
    padding-bottom: 25px;
  }
  .blog-header-centre {
    width: 100%;
  }
  .form-3 {
    padding-right: 0px;
    padding-left: 0px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .select-field {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    max-width: none;
    margin-right: 0px;
    margin-bottom: 12px;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .design-btn {
    margin-left: 0px;
  }
  .contact-us-section {
    padding-bottom: 10px;
  }
  .form-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .form-4 {
    padding-right: 0px;
    padding-left: 0px;
  }
  .grid-3 {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
  .checkout-header-info {
    padding-right: 0px;
  }
  .checkout-header-form {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: auto;
    margin-bottom: 30px;
    margin-left: 0px;
    padding-bottom: 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .faq-question-div {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
  .faq-content {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding-right: 0px;
  }
  .dropdown-link {
    background-color: #e9e9e9;
  }
  .product-overview-section {
    padding-top: 30px;
  }
  .grid-4 {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
  .image-10 {
    width: 70px;
    max-width: none;
  }
  .image-11 {
    width: 70px;
    max-width: none;
  }
  .image-12 {
    width: 70px;
    max-width: none;
  }
  .image-13 {
    width: 70px;
    max-width: none;
  }
  .image-14 {
    width: 70px;
    max-width: none;
  }
  .image-15 {
    width: 70px;
    max-width: none;
  }
  .image-16 {
    width: 70px;
    max-width: none;
  }
  .image-17 {
    width: 70px;
    max-width: none;
  }
  .image-18 {
    width: 70px;
    max-width: none;
  }
  .image-19 {
    width: 70px;
    max-width: none;
  }
  .nav-menu {
    background-color: #fff;
  }
  .menu-button {
    background-color: #fff;
  }
  .menu-button.w--open {
    background-color: #acf241;
  }
  .dropdown {
    display: block;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
  .icon {
    color: #151e40;
  }
  .form-5 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .filter-accordian {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding-right: 0px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}

.contant-link-block {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 100%;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    text-decoration: none;
}


/*/Filter/*/

.grid-item{

    padding:20px;
    width:33%;
}

.grid-item-1 {
    padding: 20px;
    width: 100%;
}

.package-grid {
    width: 100%;
    max-width: 1000px;
}

@media screen and (max-width: 768px){
    .grid-item {
       margin-left:-30px;
        width: 100%;
    }

   
}


    /*//mautic*/

.mauticform_wrapper {
    max-width: 600px;
    margin: 10px auto;
}

label {
    font-family: univia-pro, sans-serif;
    color: white;
    margin: 0 2px;
}

.mauticform-innerform {
}

.mauticform-post-success {
}

.mauticform-name {
    font-weight: bold;
    font-size: 1.5em;
    margin-bottom: 3px;
}

.mauticform-description {
    margin-top: 2px;
    margin-bottom: 10px;
}

.mauticform-error {
    margin-bottom: 10px;
    color: red;
}

.mauticform-message {
    margin-bottom: 10px;
    color: green;
}

.mauticform-row {
    display: block;
    margin-bottom: 20px;
}

.mauticform-label {
    font-size: 1.1em;
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.mauticform-row.mauticform-required .mauticform-label:after {
    color: #e32;
    content: " *";
    display: inline;
}

.mauticform-helpmessage {
    display: block;
    font-size: 0.9em;
    margin-bottom: 3px;
}

.mauticform-errormsg {
    display: block;
    color: red;
    margin-top: 2px;
}

.mauticform-selectbox, .mauticform-input, .mauticform-textarea {
    width: 100%;
    height: 50px;
    padding: 0.9em 0.9em;
    border: 1px solid #CCC;
    background: #fff;
    box-shadow: 0px 0px 0px #fff inset;
    border-radius: 4px;
    box-sizing: border-box;
}

.mauticform-checkboxgrp-row {
}

.mauticform-checkboxgrp-label {
    font-weight: normal;
}

.mauticform-checkboxgrp-checkbox {
}

.mauticform-radiogrp-row {
}

.mauticform-radiogrp-label {
    font-weight: normal;
}

.mauticform-radiogrp-radio {
}

.mauticform-button-wrapper .mauticform-button.btn-default, .mauticform-pagebreak-wrapper .mauticform-pagebreak.btn-default {
    padding: 15px 50px;
    color: #151e40;
    background-color: #acf241;
    border-radius: 20px;
    font-weight: 700;
    font-family: univia-pro, sans-serif;
}

.mauticform-input {
    width: 100%;
    height: 35px;
}

.mauticform-button-wrapper .mauticform-button, .mauticform-pagebreak-wrapper .mauticform-pagebreak {
    display: inline-block;
    margin-bottom: 0;
    font-weight: 600;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 13px;
    line-height: 1.3856;
    border-radius: 3px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

    .mauticform-button-wrapper .mauticform-button.btn-default[disabled], .mauticform-pagebreak-wrapper .mauticform-pagebreak.btn-default[disabled] {
        background-color: #acf241;
        border-color: #1d598d;
        opacity: 0.75;
        cursor: not-allowed;
    }

.mauticform-pagebreak-wrapper .mauticform-button-wrapper {
    display: inline;
}


/*rounded circle content checkout/providerPackage*/


.progress {
    --progress-value: 0.1;
    --color: #acf241;
}

.circle-progress {
    width: 170px;
    height: 170px;
}

.circle-progress-value {
    stroke-width: 10px;
    stroke: var(--color);
    stroke-dasharray: 20.6 2;
    transition: stroke 5s;
}

.circle-progress-circle {
    stroke-width: 2px;
    stroke: transparent;
}

.circle-progress-text {
    font-weight: normal;
    fill: var(--color);
    transform: translateX(0.2em);
    transition: fill .5s;
}

/* div {
  margin: auto; 
  color: #fff;
} */

div.rounded {
  
    border-radius: 100%;
    margin: 0 auto;
    width: 170px;
    height: 170px;
    display: block;
    position: relative;
    padding: 0px;

}

.thankyou-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-top: 110px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.thankyou-h1 {
    font-family: univia-pro, sans-serif;
    font-size: 50px;
    margin: auto;
}

.heading {
    font-family: univia-pro, sans-serif;
    font-size: 32px;
    font-weight: 600;
    margin: 0 auto;
}

.button {
    color: white;
    margin-top: 15px;
    padding: 14px 26px;
    border-radius: 30px;
    background-color: #3c67df;
    font-family: univia-pro, sans-serif;
    font-weight: 400;
    letter-spacing: 0.5px;
    text-decoration: none;
}

    .button:hover {
        background-color: #151e40;
    }

.paragraph {
    font-family: acumin-pro-semi-condensed, sans-serif;
    font-size: 15px;
}



