.question-header-01 {
  margin-bottom: 0px;
  color: #000;
  font-size: 18px;
  font-weight: 600;
}

.question-header-01.margin-10 {
  margin-bottom: 10px;
}

.minus-icon {
  margin-right: 10px;
}

.select-field {
  width: 155px;
  margin-right: 10px;
  margin-bottom: 0px;
  padding: 0px 0px 0px 13px;
  border: 1px none #000;
  border-radius: 11px;
  background-color: #e7e7e7;
}

.filter-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  line-height: 1;
}

.listing-wrapper {
  position: relative;
  height: auto;
  margin-top: 20px;
  padding: 0px 0px 12px;
  border-radius: 20px;
  background-color: transparent;
}

.listing-wrapper.mobile {
  display: none;
}

.form-3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-top: 10px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.design-btn {
  margin-left: 10px;
  padding: 9px 25px;
  border-radius: 8px;
  background-color: #cecece;
  -webkit-transition: background-color 200ms ease;
  transition: background-color 200ms ease;
}

.design-btn:hover {
  background-color: #3554aa;
}

.list-filter {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
}

.list-filter.display-none {
  display: none;
}

.plus-icon {
  margin-right: 10px;
}

.list-content {
  display: block;
  overflow: hidden;
  width: 100%;
  height: auto;
  max-width: none;
  padding-right: 20px;
}

.list-filter-mobile {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
}

.faq-question-div {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
}

.faq-question-div.margin {
  margin-bottom: 10px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.faq-content {
  display: block;
  overflow: hidden;
  width: 100%;
  height: auto;
  max-width: none;
  padding-right: 20px;
}

.margin {
  margin-bottom: 25px;
}

.faq-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: auto;
  max-width: 1100px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.link {
  color: #3554aa;
  font-size: 12px;
  font-weight: 600;
  text-decoration: none;
  cursor: pointer;
}

.faq-container-01 {
  width: 100%;
  height: auto;
  max-width: none;
  padding-right: 20px;
}

.faq-wrapper {
  position: relative;
  height: auto;
  margin-top: 20px;
  padding-bottom: 10px;
}

.inline-link {
  color: #3554aa;
  text-decoration: none;
}

.faq-wrapper-new {
  position: relative;
  height: auto;
  margin-top: 20px;
  padding-bottom: 10px;
}

.faq-div-01-copy {
  width: 100%;
  height: auto;
  max-width: none;
  padding-right: 20px;
}

.question-header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
}

.question-header.margin {
  margin-bottom: 10px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.faq-div-new {
  display: block;
  overflow: hidden;
  width: 100%;
  height: auto;
  max-width: none;
  padding-right: 20px;
}

.body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

@media screen and (max-width: 991px) {
  .filter-form {
    overflow: auto;
    width: 100%;
  }
  .listing-wrapper {
    width: 100%;
  }
  .form-3 {
    width: 100%;
    padding-right: 20px;
    padding-left: 20px;
  }
}

@media screen and (max-width: 767px) {
  .select-field {
    width: 80%;
    margin-bottom: 10px;
    padding-top: 0px;
  }
  .listing-wrapper {
    display: none;
  }
  .listing-wrapper.mobile {
    display: block;
  }
  .form-3 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .list-filter {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .list-filter-mobile {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .faq-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

@media screen and (max-width: 479px) {
  .select-field {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    max-width: none;
    margin-right: 0px;
    margin-bottom: 12px;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .form-3 {
    padding-right: 0px;
    padding-left: 0px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .design-btn {
    margin-left: 0px;
  }
  .list-filter {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
  .list-content {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding-right: 0px;
  }
  .list-filter-mobile {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
  .faq-question-div {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
  .faq-content {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding-right: 0px;
  }
  .faq-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .question-header {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
  .faq-div-new {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding-right: 0px;
  }
}