﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    try
    {
        IPublishedContent settingsNode = CurrentPage.AncestorOrSelf(1);
        IPublishedContent model = Model.Content;
        bool robotsNoFollow = (model.HasValue("noFollow")) ? model.GetPropertyValue<bool>("noFollow") : false;
        bool robotsNoIndex = (model.HasValue("noIndex")) ? model.GetPropertyValue<bool>("noIndex") : false;
        var siteUrl = (Request.ServerVariables["HTTPS"].ToUpper() == "ON" ? "https://" : "http://") + Request.ServerVariables["SERVER_NAME"];

        string metaKeywords = CurrentPage._MetaKeywords ?? "";
        string metaDescription = model.HasValue("metaDescription") ? model.GetPropertyValue("metaDescription").ToString() : "";
        //if (String.IsNullOrEmpty(metaDescription))
        //{
        //    metaDescription = model.HasProperty("summary") && !string.IsNullOrEmpty(model.GetPropertyValue("summary").Value) ? model.GetProperty("summary").Value : "";
        //}
        //if (String.IsNullOrEmpty(metaDescription))
        //{
        //    metaDescription = model.HasProperty("blogDescription") && !string.IsNullOrEmpty(model.GetProperty("blogDescription").Value) ? model.GetProperty("blogDescription").Value : "";
        //}

        metaDescription = (metaDescription as String).StripHtml().Replace("\n", " ");

        var siteName = settingsNode.GetPropertyValue("websiteName");// WG2KExtensionMethods.SetFromConfig("SiteName");
        var metaTitle = (String.IsNullOrEmpty(CurrentPage.MetaTitle)) ? siteName + " - " + model.Name : CurrentPage.MetaTitle;

        //var socialType = "";
        //if (model.HasProperty("socialType") && (!String.IsNullOrEmpty(model.GetProperty("socialType").Value)))
        //{
        //    socialType = model.GetProperty("socialType").Value;
        //}
        //else
        //{
        //    socialType = ""; //WG2KExtensionMethods.SetFromConfig("DefaultSocialType");
        //}

        //var socialImage = "";
        //if (model.HasProperty("socialImage") && (!String.IsNullOrEmpty(model.GetProperty("socialImage").Value)))
        //{
        //    socialImage = siteUrl + model.Media("socialImage", "umbracoFile");
        //}
        //else
        //{
        //    socialImage = ""; //WG2KExtensionMethods.SetFromConfig("DefaultSocialImage");
        //}
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
       <link href="/images/favicon.png" rel="shortcut icon" type="image/x-icon">
    <link href="/images/webclip.png" rel="apple-touch-icon">
        <title>@metaTitle</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="keywords" content="@metaKeywords" />
        <meta name="description" content="@metaDescription" />
        @*<link rel="icon" href="/favicon.ico">*@

@*if (settingsNode.HasProperty("faviconFolder") && settingsNode.GetPropertyValue("faviconFolder").ToString() != "") {

    string path = settingsNode.GetPropertyValue("faviconFolder").ToString();
    int index = path.LastIndexOf("/");
    if (index > 0)
    {
        path = path.Substring(0, index); // or index + 1 to keep slash
    }


        <link rel="apple-touch-icon" sizes="57x57" href="@(path)/apple-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="@(path)/apple-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="@(path)/apple-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="@(path)/apple-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="@(path)/apple-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="@(path)/apple-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="@(path)/apple-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="@(path)/apple-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="@(path)/apple-icon-180x180.png">
        <link rel="icon" type="image/png" sizes="192x192" href="@(path)/android-icon-192x192.png">
        <link rel="icon" type="image/png" sizes="32x32" href="@(path)/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="96x96" href="@(path)/favicon-96x96.png">
        <link rel="icon" type="image/png" sizes="16x16" href="@(path)/favicon-16x16.png">
        <link rel="manifest" href="@(path)/manifest.json">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="@(path)/ms-icon-144x144.png">
        <meta name="theme-color" content="#ffffff">
}*@




if (robotsNoIndex)
{
            <meta name="robots" content="noindex" /> 
        }
        if (robotsNoFollow)
        {
            <meta name="robots" content="nofollow" />
        }
        @*<meta property="og:title" content="@metaTitle" />
        <meta property="og:type" content="@socialType" />
        <meta property="og:url" content="@(siteUrl + model.NiceUrl)" />
        if (!String.IsNullOrEmpty(socialImage))
        {
            <meta property="og:image" content="@socialImage" />
        }*@
        <meta property="og:site_name" content="@siteName" />
        <meta property="og:description" content="@metaDescription" />
        string ShowCanonicalLinks = "1"; // WG2KExtensionMethods.SetFromConfig("ShowCanonicalLinks"); turn on once site is live
        if (ShowCanonicalLinks == "1")
        {
            string protocol = Request.IsSecureConnection ? "https://" : "http://";
            if (!Request.Url.Host.ToString().Contains("www."))
            {
                string url = Request.Url.Host.ToString().Replace("www.", "");
                string originalUrl = Request.Url.ToString();
                string newUrl = protocol + "www." + url + model.Url;
                string newQueryUrl = newUrl;

                if (!string.IsNullOrEmpty(Request.QueryString.ToString()))
                {
                    newQueryUrl = newUrl + "?" + Request.QueryString;
                }

                Response.StatusCode = 301;
                Response.Status = "301 Moved Permanently";
                Response.AddHeader("Location", newQueryUrl);
                Response.Flush();
                Response.End();
            }
            else
            {
                var pageUrl = Request.Url.ToString();
                var modelUrl = protocol + Request.Url.Host.ToString() + model.Url.ToString();
                if (pageUrl != modelUrl)
                {
                    <link rel="canonical" href="@modelUrl" />
                }
                else if (!String.IsNullOrEmpty(Request.QueryString.ToString()))
                {
                    <link rel="canonical" href="@modelUrl" />
                }
            }
        }
    }
    catch (Exception ex)
    {
        //Response.Write(ex + ex.Message);
        //@OHelpers.WriteException(ex, "Error occurred when generated meta data", false);
    }
}