﻿<div class="compare-select-section">
    <div class="content-container">
        <h2>COMPARE &amp; SELECT</h2>
        <p class="centre">Best Internet strives to bring you simplicity, advancement and convenience when it comes to choosing your internet connections, <br>so let us, here at Best Internet, support you through your internet shopping journey.</p>
        <div class="div-block-2">
            <a href="/solutions/fibre" class="link-block w-inline-block">
                <div class="compare-card">
                    <h1>FIBRE</h1>
                    <div class="white-p hover">Click here to see more &gt;&gt;</div>
                </div>
            </a>
            <a href="/solutions/lte/" class="link-block w-inline-block">
                <div class="compare-card lte">
                    <h1>LTE</h1>
                    <div class="white-p hover">Click here to see more &gt;&gt;</div>
                </div>
            </a>
        </div>
    </div>
</div>
