﻿@inherits UmbracoViewPage

<div id="introduction" class="introduction-section">


    <div class="content-container">
        <div class="sub-heading-content">WE PICKED OUT THE BEST PACKAGES.</div>
        <h2>@Umbraco.AssignedContentItem.GetPropertyValue("intro")</h2>
        <p class="centre">See what deals your favourite providers have for you. Don’t forget to check your coverage to make sure<br>these packages work in your area!</p>
        <div class="div-block">
            <div id="card" class="card-container">
                <div class="card-header-box"><img src="images/openserve_white.svg" width="70" alt=""></div><img src="images/supersonic-black.svg" height="40" alt="" class="fno-logo-card">
                <div class="card-speed-sub">10MBPS FIBRE</div>
                <div class="card-speed-wrapper">
                    <div class="card-speed-container">
                        <img src="images/arrow-up.svg" width="30" alt="" class="arrow-speed">
                        <div class="card-speed-upload">5Mbps</div>
                        <div class="speed-sub">Upload</div>
                    </div>
                    <div class="card-speed-container">
                        <img src="images/arrow-down.svg" width="30" alt="" class="arrow-speed">
                        <div class="card-speed-upload">10Mbps</div>
                        <div class="speed-sub">Download</div>
                    </div>
                </div>
                <div class="card-price">R645/pm</div><a href="#" class="card-btn w-button">GET THIS DEAL</a><img src="images/best-value-ribbon.svg" width="131" alt="" class="ribbon-tag">
            </div>
            <div class="card-container">
                <div class="card-header-box"><img src="images/vumatel-logo.svg" width="96" alt=""></div><img src="images/Vox-black.svg" height="40" alt="" class="fno-logo-card">
                <div class="card-speed-sub">10MBPS FIBRE</div>
                <div class="card-speed-wrapper">
                    <div class="card-speed-container">
                        <img src="images/arrow-up.svg" width="30" alt="" class="arrow-speed">
                        <div class="card-speed-upload">2Mbps</div>
                        <div class="speed-sub">Upload</div>
                    </div>
                    <div class="card-speed-container">
                        <img src="images/arrow-down.svg" width="30" alt="" class="arrow-speed">
                        <div class="card-speed-upload">10Mbps</div>
                        <div class="speed-sub">Download</div>
                    </div>
                </div>
                <div class="card-price">R599/pm</div><a href="#" class="card-btn w-button">GET THIS DEAL</a>
            </div>
            <div class="card-container">
                <div class="card-header-box"></div><img src="images/supersonic-black.svg" height="40" alt="" class="fno-logo-card">
                <div class="card-speed-sub">120GB LTE</div>
                <div class="card-speed-wrapper">
                    <div class="card-speed-container">
                        <img src="images/day-icon.svg" width="30" alt="" class="arrow-speed">
                        <div class="card-speed-upload">60GB</div>
                        <div class="speed-sub">Day</div>
                    </div>
                    <div class="card-speed-container">
                        <img src="images/night-icon.svg" width="30" alt="" class="arrow-speed">
                        <div class="card-speed-upload">60GB</div>
                        <div class="speed-sub">Night</div>
                    </div>
                </div>
                <div class="card-price">R399/pm</div><a href="#" class="card-btn w-button">GET THIS DEAL</a>
            </div>
        </div>
    </div>
</div>
