﻿@*<div class="header-banner">
    <div class="header-content-wrapper">
        <div class="header-content-box">
            <h1>UNCAPPED FIBRE</h1>
            <div class="white-bold">4 Mbps Speed</div>
            <p class="white">Get the best internet money can buy. With Best Internet we help you get more than what you bargained for.</p>
            <div class="header-price-wrapper">
                <p class="per-month">From: </p>
                <div class="price">R399</div>
                <p class="per-month">/per month</p>
            </div>
            <div class="header-btn-wrapper">
                <a href="checkout.html" class="header-btn-green w-button">GET THIS DEAL</a>
                <a href="#coverage-map" class="header-btn-stroke w-button">CHECK COVERAGE</a>
            </div>
        </div>
    </div>
</div>*@
