﻿<div class="provider-list-section">
    <div class="content-container">
        <h2>ONLY THE BEST INTERNET PROVIDER DEALS!</h2>
        <p class="centre">Best Internet strives to bring you simplicity, advancement and convenience when it comes to choosing your internet connections, <br>so let us, here at Best Internet, support you through your internet shopping journey.</p>
    </div>
    @*<div class="w-layout-grid grid">
        <a href="fno/openserve" class="fno-logo w-inline-block"><img src="/images/openserve.svg" width="150" alt=""></a>
        <div class="fno-logo"><img src="/images/vuma.svg" width="150" alt=""></div>
        <div class="fno-logo"><img src="/images/balwin.svg" width="150" alt=""></div>
        <div class="fno-logo"><img src="/images/frogfoot.svg" width="150" alt=""></div>
        <div class="fno-logo"><img src="/images/edge.svg" width="150" alt=""></div>
        <div class="fno-logo"><img src="/images/tt-connect.svg" width="150" alt=""></div>
        <div class="fno-logo"><img src="/images/evotel.svg" width="150" alt=""></div>
        <div class="fno-logo"><img src="/images/maboneng.svg" width="150" alt=""></div>
        <div class="fno-logo"><img src="/images/sadv.svg" width="150" alt=""></div>
        <div class="fno-logo"><img src="/images/netstream.svg" width="150" alt=""></div>
        <div class="fno-logo"><img src="/images/octotel.svg" width="150" alt=""></div>
        <div class="fno-logo"><img src="/images/rsaweb.svg" width="150" alt=""></div>
    </div>*@
</div>
<div class="fno-section">
  
    <div class="fno-wrapper">
        <a href="/fnos/openserve" class="link-block-3 w-inline-block"><img src="/images/openserve.svg" alt="" class="image-10"></a>
        <a href="/fnos/vumatel" class="link-block-3 w-inline-block"><img src="/images/vuma.svg" alt="" class="image-11"></a>
        <a href="/fnos/balwin/" class="link-block-3 w-inline-block"><img src="/images/balwin.svg" alt="" class="image-12"></a>
        <a href="/fnos/frogfoot/" class="link-block-3 w-inline-block"><img src="/images/frogfoot.svg" alt="" class="image-13"></a>
        <a href="/fnos/edge/" class="link-block-3 w-inline-block"><img src="/images/edge.svg" alt="" class="image-14"></a>
        <a href="/fnos/tt-connect/" class="link-block-3 w-inline-block"><img src="/images/tt-connect.svg" alt="" class="image-15"></a>
        <a href="/fnos/evotel/" class="link-block-3 w-inline-block"><img src="/images/evotel.svg" alt="" class="image-16"></a>
       
        <a href="/fnos/sadv/" class="link-block-3 w-inline-block"><img src="/images/sadv.svg" alt="" class="image-18"></a>
        <a href="/fnos/netstream/" class="link-block-3 w-inline-block"><img src="/images/netstream.svg" alt="" class="image-18"></a>
        <a href="/fnos/octotel/" class="link-block-3 w-inline-block"><img src="/images/octotel.svg" alt="" class="image-18"></a>
        
        
    </div>
</div>