﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.ABlog>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
    Layout = "Web.cshtml";

    Blog blog = new Blog(Umbraco.TypedContent(1139));

    var adImage = blog.AdImage.Url;

    List<IPublishedContent> popularPosts = blog.PopularPosts.ToList();
}


<div class="blog-header">
    <div class="blog-header-wrapper">
        <h1 class="blog-header-centre">@Model.Content.BlogTitle</h1>
    </div>
</div>
<div class="blog-section">
    <div class="blog-container">
        <div class="blog-post-wrapper">
            @Model.Content.BlogContent
        </div>
        <div class="right-sidebar">
            <div class="popular-post-wrapper">
                <h3 class="heading-3">Popular Posts</h3>

                @foreach (ABlog aBlog in popularPosts)
                {
                    <div class="popular-post-slide">
                        <img src="@aBlog.SummaryImage.GetCropUrl("blogBlogThumb")" alt="Blog-image" class="popular-image">
                        <div class="div-block-12">
                            <div class="date">@aBlog.CreateDate</div>
                            <div class="sub-heading-content">@aBlog.BlogTitle</div><a href="@aBlog.Url" class="link-post">Read more...</a>
                        </div>
                    </div>
                }

            </div>
            <img src="@adImage" alt="Blog-image" class="google-ad">
        </div>
    </div>
</div>

<div style="margin-right:75px; margin-left:75px; margin-top:-50px;" id="disqus_thread"></div>
<script>

/**
*  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
*  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/

    var disqus_config = function () {
    var pageUrl = Umbraco.TypedContent(@Model.Content.Id);
        var url = pageUrl.Url;
        this.page.url = url;  // Replace PAGE_URL with your page's canonical URL variable
this.page.identifier = @Model.Content.Id; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
};

(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');
s.src = 'https://best-internet.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>