﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.AgentDashboard>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
    Layout = null;

    PackagesListing packages = new PackagesListing(Umbraco.TypedContent(1143));

    List<IPublishedContent> filteredPackages = packages.Children().ToList();


    Providers providersList = new Providers(Umbraco.TypedContent(1145));
    List<IPublishedContent> providerFilter = providersList.Children().ToList();

    FibreNetOperators fnoList = new FibreNetOperators(Umbraco.TypedContent(1141));
    List<IPublishedContent> fnoFilter = fnoList.Children().ToList();

    DataList TypedataList = new DataList(Umbraco.TypedContent(1178));
    List<IPublishedContent> typeFilter = TypedataList.Children().ToList();

    DataList DataRangedataList = new DataList(Umbraco.TypedContent(1179));
    List<IPublishedContent> DataRangeFilter = DataRangedataList.Children().ToList();

    DataList PriceRangedataList = new DataList(Umbraco.TypedContent(1180));
    List<IPublishedContent> PriceRangeFilter = PriceRangedataList.Children().ToList();

    DataList SpeedRangedataList = new DataList(Umbraco.TypedContent(1181));
    List<IPublishedContent> SpeedRangeFilter = SpeedRangedataList.Children().ToList();

    Providers providers = new Providers(Umbraco.TypedContent(1145));
    List<IPublishedContent> providersFilter = providers.Children().ToList();

    FibreNetOperators fnos = new FibreNetOperators(Umbraco.TypedContent(1141));
    List<IPublishedContent> fnosFilter = fnos.Children().ToList();
}

<!DOCTYPE html>
<!--  This site was created in Webflow. http://www.webflow.com  -->
<!--  Last Published: Thu Dec 05 2019 08:24:44 GMT+0000 (Coordinated Universal Time)  -->
<html data-wf-page="5de7682c524e500ae9f22846" data-wf-site="5de7682c524e508132f22845">
<head>
    <meta charset="utf-8">
    <title>Agent Dashboard</title>
    <meta content="Agent Dashboard" property="og:title">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <meta content="Webflow" name="generator">

    @* Modal style *@
    <style>
      

        /* The Modal (background) */
        .modal {
            display: none; /* Hidden by default */
            position: fixed; /* Stay in place */
            z-index: 1; /* Sit on top */
            padding-top: 100px; /* Location of the box */
            left: 0;
            top: 0;
            width: 100%; /* Full width */
            height: 100%; /* Full height */
            overflow: auto; /* Enable scroll if needed */
            background-color: rgb(0,0,0); /* Fallback color */
            background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
        }

        /* Modal Content */
        .modal-content {
            background-color: #fefefe;
            margin: auto;
            padding: 20px;
            border: 1px solid #888;
            width: 80%;
        }

        /* The Close Button */
        .close {
            color: #aaaaaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }

            .close:hover,
            .close:focus {
                color: #000;
                text-decoration: none;
                cursor: pointer;
            }
    </style>


    <link href="/css/normalize.css" rel="stylesheet" type="text/css">
    <link href="/css/webflow.css" rel="stylesheet" type="text/css">
    <link href="/css/best-internet-v2.webflow.css" rel="stylesheet" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js" type="text/javascript"></script>
    <script type="text/javascript">WebFont.load({ google: { families: ["Lato:100,100italic,300,300italic,400,400italic,700,700italic,900,900italic"] } });</script>
    <script src="https://use.typekit.net/nvx1mzb.js" type="text/javascript"></script>
    <script src="https://unpkg.com/isotope-layout@3/dist/isotope.pkgd.js"></script>
    <script type="text/javascript">try { Typekit.load(); } catch (e) { }</script>
    <!-- [if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js" type="text/javascript"></script><![endif] -->
    <script type="text/javascript">!function (o, c) { var n = c.documentElement, t = " w-mod-"; n.className += t + "js", ("ontouchstart" in o || o.DocumentTouch && c instanceof DocumentTouch) && (n.className += t + "touch") }(window, document);</script>
    <link href="/images/favicon.ico" rel="shortcut icon" type="image/x-icon">
    <link href="/images/webclip.png" rel="apple-touch-icon">
    <script type="text/javascript">
        /** This section is only needed once per page if manually copying **/
        if (typeof MauticSDKLoaded == 'undefined') {
            var MauticSDKLoaded = true;
            var head = document.getElementsByTagName('head')[0];
            var script = document.createElement('script');
            script.type = 'text/javascript';
            script.src = 'https://campaign.igdigital.co.za/index.php/media/js/mautic-form.js';
            script.onload = function () {
                MauticSDK.onLoad();
            };
            head.appendChild(script);
            var MauticDomain = 'https://campaign.igdigital.co.za/index.php';
            var MauticLang = {
                'submittingMessage': "Please wait..."
            }
        }
    </script>
</head>
<body>
    <div data-collapse="medium" data-animation="default" data-duration="400" id="navigation" class="navbar-container w-nav">
        <div class="container w-container">
            <a href="/agent-dashboard" class="brand w-nav-brand"><img src="/images/agent-dash-logo.svg" width="186" alt="" class="logo"></a>
            <nav role="navigation" class="nav-menu w-nav-menu"><a href="/agent-dashboard" class="back-home-btn w-nav-link">BACK HOME</a><a href="#" id="myBtn" data-w-id="38db7661-635c-080e-30c4-7598a3b7b51d" class="get-started w-nav-link">SUBMIT FEEDBACK</a></nav>
            <div class="menu-button w-nav-button">
                <div class="icon w-icon-nav-menu"></div>
            </div>
        </div>
    </div>
    <div class="html-embed-3 w-embed w-iframe">
        <style>
            iframe {
                height: 100vh;
                border: none;
                border: 0;
            }
        </style>
        <iframe src="https://bestinternet.28east.co.za/?buttons=false" width="100%" height="100%">
        </iframe>
    </div>
    <div class="results-section">
        <h1 class="h2">Fibre Network Operator</h1>
        <p class="paragraph-3">The below FNO is present for your customers location;</p>
        <div id="fno-logo" class="results-container"></div>

        <div id="input-address"></div>
        <div id="co-ordinates"> <text id="lat"></text>, <text id="lng"></text> </div>
    </div>

    <div class="section-2">
        <div><a onclick="displayIframe()" class="btn w-button">Vet customer</a></div>
        <div id="iframeDisplay"></div>

    </div>

    <div class="section-2">
        <h1 class="h2">Build Your Package</h1>
        <p class="paragraph-3">Use the below filters to build the best Fibre or LTE package for your customer;</p>
        <div class="form-block-3 w-form">
            <form id="email-form" name="email-form" data-name="Email Form" class="controls-form filters">
                <select id="field" name="field" data-name="Field" class="filter_select w-select" value-group="fno">
                    <option value="">FNO</option>
                    @foreach (FNos fno in fnoFilter)
                    {
                        <option value=".f@(fno.Id)">@fno.Name</option>

                    }
                </select>
                <select id="field-2" name="field-2" data-name="Field 2" class="filter_select w-select" value-group="provider">
                    <option value="">Providers</option>
                    @foreach (Provider provider in providerFilter)
                    {
                        <option value=".f@(provider.Id)">@provider.Name</option>

                    }
                </select>

                <select id="field-3" name="field-3" data-name="Field 3" class="filter_select w-select" value-group="type">
                    <option value="">Type</option>
                    @foreach (DataItem type in typeFilter)
                    {
                        <option value=".f@(type.Id)">@type.Name</option>

                    }
                </select>

                <select id="field-5" name="field-5" data-name="Field 5" class="filter_select w-select" value-group="dataRange">
                    <option value="">Data Range</option>
                    @foreach (DataItem dr in DataRangeFilter)
                    {
                        <option value=".f@(dr.Id)">@dr.Name</option>


                    }
                </select>
                <select id="field-6" name="field-6" data-name="Field 6" class="filter_select w-select" value-group="speedRange">
                    <option value="">Speed Range</option>
                    @foreach (DataItem sr in SpeedRangeFilter)
                    {
                        <option value=".f@(sr.Id)">@sr.Name</option>


                    }
                </select>
                <select id="field-6" name="field-6" data-name="Field 6" class="filter_select w-select" value-group="priceRange">
                    <option value="">Price Range</option>
                    @foreach (DataItem pr in PriceRangeFilter)
                    {
                        <option value=".f@(pr.Id)">@pr.Name</option>


                    }
                </select>
            </form>
            <div class="w-form-done">
                <div>Thank you! Your submission has been received!</div>
            </div>
            <div class="w-form-fail">
                <div>Oops! Something went wrong while submitting the form.</div>
            </div>
        </div>
        <div class="package-grid div-block-32">
            @foreach (ProviderPackages package in filteredPackages)
            {
                bool isLte = package.Type.FirstOrDefault().Name == "LTE";
                <div class="grid-item-1 f@(package.FNO.FirstOrDefault()) f@(package.Provider.FirstOrDefault().Id) f@(package.Type.FirstOrDefault()) f@(package.DataRange.FirstOrDefault().Id) f@(package.PriceRange.FirstOrDefault().Id) f@(package.SpeedRange.FirstOrDefault().Id)">

                    <div class="mix telkom">
                        <div class="fno-block">
                            <div class="provider-logo"> @Html.Raw(package.HasValue("ProviderSmallLogo") ? "<img src=" + @package.ProviderSmallLogo.Url + " width='130' alt=''>" : "")</div>
                            <div class="fno-image"> @Html.Raw(package.HasValue("FnoSmallLogo") ? "<img src=" + @package.FnoSmallLogo.Url + " width='130' alt=''>" : "")</div>
                        </div>
                        <div class="speed-block">
                            <h5 class="h5 grey"> @(isLte ? "Data" : "Speed")</h5>
                            <h1 class="h3">@(isLte ? package.Data : package.Speed)</h1>
                            <h5 class="h5 grey">@(isLte ? "GB" : "Mbps")</h5>
                            <div class="type-container">
                                <div>@package.Type.FirstOrDefault().Name</div>
                            </div>
                        </div>
                        <div class="price-point">
                            <div class="package-details-block">
                                <div class="download-speed-div-copy">
                                    <h5 class="h5 price">Price</h5>
                                    <h5 class="price-text">@package.Price<span class="pm">/pm</span><span class="small small"></span></h5>
                                </div>
                            </div>
                            <div class="card-speed-wrapper">
                                <div class="card-speed-container">
                                    <img src="/images/arrow-up.svg" width="30" alt="" class="arrow-speed">
                                    <div class="card-speed-upload">@(isLte ? package.DayData + "GB" : package.Upload + "Mbps")</div>
                                    <div class="speed-sub">@(isLte ? "Day" : "Upload")</div>
                                </div>
                                <div class="card-speed-container">
                                    <img src="/images/arrow-down.svg" width="30" alt="" class="arrow-speed">
                                    <div class="card-speed-upload">@(isLte ? package.NightData + "GB" : package.Download + "Mbps")</div>
                                    <div class="speed-sub">@(isLte ? "Night" : "Download")</div>
                                </div>
                            </div>
                        </div>
                        <div class="agent-tip">
                            <h5 class="h5">Agent Tip</h5>
                            <div class="agent-tip-text">@package.PackageDescription</div>
                        </div>
                    </div>
                </div>


            }

        </div><a href="#navigation" class="btn w-button">BACK TO TOP</a>
    </div>
 


    @* Modal *@
    <div id="myModal" class="modal">

        <!-- Modal content -->
        <div class="modal-content">
           
              
            <span class="close">&times;</span>
                    <h1 class="h2-2 blue">Submit Your Feedback</h1>
                    <p class="paragraph-4">Please note this is an unmanaged mailbox. All feedback and suggestions will be reviewed weekly for continuous enhancements to the dashboard.</p>
                    <div class="html-embed-4 w-embed">
                        
                        <div id="mauticform_wrapper_bestinternetagentview" class="mauticform_wrapper">
                            <form autocomplete="false" role="form" method="post" action="https://campaign.igdigital.co.za/index.php/form/submit?formId=33" id="mauticform_bestinternetagentview" data-mautic-form="bestinternetagentview" enctype="multipart/form-data">
                                <div class="mauticform-error" id="mauticform_bestinternetagentview_error"></div>
                                <div class="mauticform-message" id="mauticform_bestinternetagentview_message"></div>
                                <div class="mauticform-innerform">
                                    <div class="mauticform-page-wrapper mauticform-page-1" data-mautic-form-page="1">
                                        <div id="mauticform_bestinternetagentview_f_name" data-validate="f_name" data-validation-type="text" class="mauticform-row mauticform-text mauticform-field-1 mauticform-required">
                                            <label style="color:#000" id="mauticform_label_bestinternetagentview_f_name" for="mauticform_input_bestinternetagentview_f_name" class="mauticform-label">First Name</label>
                                            <input id="mauticform_input_bestinternetagentview_f_name" name="mauticform[f_name]" value="" class="mauticform-input" type="text">
                                            <span class="mauticform-errormsg" style="display: none;">This is required.</span>
                                        </div>
                                        <div id="mauticform_bestinternetagentview_surname" data-validate="surname" data-validation-type="text" class="mauticform-row mauticform-text mauticform-field-2 mauticform-required">
                                            <label style="color:#000" id="mauticform_label_bestinternetagentview_surname" for="mauticform_input_bestinternetagentview_surname" class="mauticform-label">Last Name</label>
                                            <input id="mauticform_input_bestinternetagentview_surname" name="mauticform[surname]" value="" class="mauticform-input" type="text">
                                            <span class="mauticform-errormsg" style="display: none;">This is required.</span>
                                        </div>
                                        <div id="mauticform_bestinternetagentview_suggestion" data-validate="suggestion" data-validation-type="textarea" class="mauticform-row mauticform-text mauticform-field-3 mauticform-required">
                                            <label style="color:#000" id="mauticform_label_bestinternetagentview_suggestion" for="mauticform_input_bestinternetagentview_suggestion" class="mauticform-label">Provide feedback below:</label>
                                            <textarea id="mauticform_input_bestinternetagentview_suggestion" name="mauticform[suggestion]" class="mauticform-textarea"></textarea>
                                            <span class="mauticform-errormsg" style="display: none;">This is required.</span>
                                        </div>
                                        <div id="mauticform_bestinternetagentview_submit" class="mauticform-row mauticform-button-wrapper mauticform-field-4">
                                            <button type="submit" name="mauticform[submit]" id="mauticform_input_bestinternetagentview_submit" value="" class="mauticform-button btn btn-default">SUBMIT</button>
                                        </div>
                                    </div>
                                </div>
                                <input type="hidden" name="mauticform[formId]" id="mauticform_bestinternetagentview_id" value="33">
                                <input type="hidden" name="mauticform[return]" id="mauticform_bestinternetagentview_return" value="">
                                <input type="hidden" name="mauticform[formName]" id="mauticform_bestinternetagentview_name" value="bestinternetagentview">
                            </form>
                        </div>
                    </div>
               
            
        </div>

    </div>

    <div class="footer">
        <div class="footer-legal-wrapper">
            <div class="footer-legal-container">
                <div class="white-p w-embed w-script">
                    Copyright &copy;
                    <script>document.write(new Date().getFullYear());</script> All rights reserved | <a href="http://www.bestinternet.co.za" class="link-legal" target="_blank">Best Internet</a>
                </div>
            </div>
            <div class="footer-legal-container left-align"><a href="/privacy-policy" class="link-legal privacy">Privacy Policy</a><</div>
        </div>
    </div>

    <script>
        // Get the modal
        var modal = document.getElementById("myModal");

        // Get the button that opens the modal
        var btn = document.getElementById("myBtn");

        // Get the <span> element that closes the modal
        var span = document.getElementsByClassName("close")[0];

        // When the user clicks the button, open the modal
        btn.onclick = function () {
            modal.style.display = "block";
        }

        // When the user clicks on <span> (x), close the modal
        span.onclick = function () {
            modal.style.display = "none";
        }

        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function (event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }
    </script>

    <script type="text/javascript">


        var url_string = window.location.href;

        var url = new URL(url_string);
        var FNO = url.searchParams.get("FNO");

        if (url.searchParams.get("FNO") != null) {
            document.getElementById('FNO').value = url.searchParams.get("FNO");
        }

        if (url.searchParams.get("Provider") != null) {
            document.getElementById('Provider').value = url.searchParams.get("Provider");
        }

        if (url.searchParams.get("type") != null) {
            document.getElementById('type').value = url.searchParams.get("type");
        }

        if (url.searchParams.get("data_range") != null) {
            document.getElementById('data_range').value = url.searchParams.get("data_range");
        }

        if (url.searchParams.get("price_range") != null) {
            document.getElementById('price_range').value = url.searchParams.get("price_range");
        }

    </script>

    <script type="text/javascript">

        var imglogo = "";
        window.addEventListener("message", function (message) {
            if (message.origin === 'https://bestinternet.28east.co.za') {
                var data = JSON.parse(message.data)

                console.log(data);
                data.services.forEach(function (service) {
                    service.providers.forEach(function (provider) {

                        console.log(`provider:${provider.provider}  Staus:${provider.status}`);

                        if (provider.provider == "telkom") {
                            imglogo += '<img style="margin-right:30px;" src="https://bestinternet.co.za/images/telkom.png" width="152" alt="">';
                        }

                         if (provider.provider == "telkom") {
                            imglogo += '<img style="margin-right:30px;" src="https://bestinternet.co.za/images/mtn-logo.png" width="152" alt="">';
                        }

                        if (provider.provider == "vumatelaerial" || provider.provider == "vumatelcore" || provider.provider == "vumatelcore" || provider.provider == "vumatelreach") {
                            imglogo += '<img style="margin-right:30px;" src="https://bestinternet.co.za/images/vuma-logo.png" width="152" alt="">';
                        }

                        if (provider.provider == "openserve" && provider.status == "live") {
                            imglogo += '<img style="margin-right:30px;" src="https://bestinternet.co.za/images/openserve-logo-transparent.png" width="152" alt="">';
                        }

                        if (provider.provider == "octotel") {
                            imglogo += '<img style="margin-right:30px;" src="https://bestinternet.co.za/images/octotel-logo_1.png" width="152" alt="">';
                        }

                        if (provider.provider == "frogfoot") {
                            imglogo += '<img style="margin-right:30px;" src="https://bestinternet.co.za/images/frogfoot-logo.png" width="152" alt="">';
                        }

                        if (provider.provider == "sadvmdu" || provider.provider == "sadvsdu" || provider.provider == "sadvsub") {
                            imglogo += '<img style="margin-right:30px;" src="https://bestinternet.co.za/images/SADV-logo.png" width="152" alt="">';
                        }
                        if (provider.provider == "ttconnect") {
                            imglogo += '<img style="margin-right:30px;" src="https://bestinternet.co.za/images/ttconnect-logo_1.png" width="152" alt="">';
                        }
                        if (provider.provider == "netstream") {
                            imglogo += '<img style="margin-right:30px;" src="https://bestinternet.co.za/images/netstream-logo-transparent.png" width="152" alt="">';
                        }
                        if (provider.provider == "balwin") {
                            imglogo += '<img style="margin-right:30px;" src="https://bestinternet.co.za/images/balwin_logo.png" width="152" alt="">';
                        }
                        if (provider.provider == "evotel") {
                            imglogo += '<img style="margin-right:30px;" src="https://bestinternet.co.za/images/evotel-logo_1.png" width="152" alt="">';
                        }
                        if (provider.provider == "maboneng") {
                            imglogo += '<img style="margin-right:30px;" src="https://bestinternet.co.za/images/maboneng-logo_1.png" width="152" alt="">';
                        }

                    });

                    document.getElementById("fno-logo").innerHTML = imglogo;
                });


                document.getElementById("input-address").innerHTML = data.input.formatted_address;

                document.getElementById("lat").innerHTML = data.place.geometry.location.lat;
                document.getElementById("lng").innerHTML = data.place.geometry.location.lng;
            }

        });


    </script>

    <script>
        function displayIframe() {
            document.getElementById("iframeDisplay").innerHTML = '<iframe width="100%" style="overflow:hidden; width:1100px;" src="https://agentbestdeals.azurewebsites.net/bestinternet.aspx"></iframe>';

        }
    </script>


    <script src="https://d3e54v103j8qbb.cloudfront.net/js/jquery-3.4.1.min.220afd743d.js" type="text/javascript" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="js/webflow.js" type="text/javascript"></script>
    <!-- [if lte IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif] -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mixitup/3.3.0/mixitup.min.js"></script>
    <script src="~/Scripts/isotope.pkgd.min.js"></script>
    <script>
        // external js: isotope.pkgd.js

        // init Isotope
        var $grid = $('.package-grid').isotope({
            itemSelector: '.grid-item-1'
        });

        // store filter for each group
        var filters = {};

        $('.filters').on('change', function (event) {
            var $select = $(event.target);
            // get group key
            var filterGroup = $select.attr('value-group');
            // set filter for group
            filters[filterGroup] = event.target.value;
            // combine filters
            var filterValue = concatValues(filters);
            // set filter for Isotope
            $grid.isotope({ filter: filterValue });
        });

        // flatten object by concatting values
        function concatValues(obj) {
            var value = '';
            for (var prop in obj) {
                value += obj[prop];
            }
            return value;
        }

    </script>
</body>
</html>