﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "Web.cshtml";
}

@* the fun starts here *@

<div class="provider-header">
    <div class="provider-wrapper">
        <h1 class="h1-centre">STILL CANT FIND WHAT <br><span class="green">YOU&#x27;RE LOOKING FOR?</span></h1>
        <p class="white-p centre">We’re here to help! Find our contact details below or drop us a message below and we’ll get back to you!<br>Don’t forget to check your coverage to be sure of your choices.</p>
    </div>
</div>

<div class="contact-us-section">
    <div class="contact-information-contatiner">
        <a href="tel:0861444899" class="contant-link-block w-inline-block">
            <div class="contact-info-div">
                <img src="/images/call-icon.svg" width="88" alt="" class="info-icon">
                <div class="info-heading">PHONE</div>
                <div class="info-copy">0861 444 899<br></div>
            </div>
        </a>
        <a href="mailto:info@bestinternet.co.za?subject=You%20got%20mail!" class="contant-link-block w-inline-block">
            <div class="contact-info-div">
                <img src="/images/contact-icon.svg" width="88" alt="" class="info-icon">
                <div class="info-heading">EMAIL</div>
                <div class="info-copy">info@bestinternet.co.za<br></div>
            </div>
        </a>
        <a href="http://www.facebook.com/bestinternetza" target="_blank" class="contant-link-block w-inline-block">
            <div class="contact-info-div">
                <img src="/images/facebook-icon.svg" width="88" alt="" class="info-icon">
                <div class="info-heading">SOCIAL MEDIA</div>
                <div class="info-copy">facebook.com/bestinternetza</div>
            </div>
        </a>
    </div>
</div>
<div class="contact-form-section">
    <div class="content-container">
        <div class="sub-heading-content">GET INTOUCH</div>
        <h2 class="heading-4">DROP US A MESSAGE FOR ANY QUERY</h2>
        <p class="centre">See what deals your favourite providers have for you. Don’t forget to check your coverage to make sure<br>these packages work in your area!</p>
        <div class="form-wrapper">
            <div class="form-4 w-embed">
                <style type="text/css" scoped="">
                    .mauticform_wrapper {
                        max-width: 600px;
                        margin: 10px auto;
                    }

                    .mauticform-innerform {
                    }

                    .mauticform-post-success {
                    }

                    .mauticform-name {
                        font-weight: bold;
                        font-size: 1.5em;
                        margin-bottom: 3px;
                    }

                    .mauticform-description {
                        margin-top: 2px;
                        margin-bottom: 10px;
                    }

                    .mauticform-error {
                        margin-bottom: 10px;
                        color: red;
                    }

                    .mauticform-message {
                        margin-bottom: 10px;
                        color: green;
                    }

                    .mauticform-row {
                        display: block;
                        margin-bottom: 20px;
                    }

                    .mauticform-label {
                        font-size: 1.1em;
                        display: block;
                        font-weight: bold;
                        margin-bottom: 5px;
                    }

                    .mauticform-row.mauticform-required .mauticform-label:after {
                        color: #333333;
                        content: " *";
                        display: inline;
                    }

                    .mauticform-helpmessage {
                        display: block;
                        font-size: 0.9em;
                        margin-bottom: 3px;
                    }

                    .mauticform-errormsg {
                        display: block;
                        color: red;
                        margin-top: 2px;
                    }

                    .mauticform-selectbox, .mauticform-input, .mauticform-textarea {
                        width: 100%;
                        height: 50px;
                        padding: 0.9em 0.9em;
                        border: 1px solid #CCC;
                        background: #fff;
                        box-shadow: 0px 0px 0px #fff inset;
                        border-radius: 30px;
                        box-sizing: border-box;
                        margin-bottom: 10px;
                    }

                    .mauticform-checkboxgrp-row {
                    }

                    .mauticform-checkboxgrp-label {
                        font-weight: normal;
                    }

                    .mauticform-checkboxgrp-checkbox {
                    }

                    .mauticform-radiogrp-row {
                    }

                    .mauticform-radiogrp-label {
                        font-weight: normal;
                    }

                    .mauticform-radiogrp-radio {
                    }

                    .mauticform-button-wrapper .mauticform-button.btn-default, .mauticform-pagebreak-wrapper .mauticform-pagebreak.btn-default {
                        width: 100%;
                        padding: 1.2em 1.2em;
                        color: #ffffff;
                        background-color: #cecece;
                        border-color: #cecece;
                        border-radius: 30px;
                    }

                    .mauticform-button-wrapper .mauticform-button, .mauticform-pagebreak-wrapper .mauticform-pagebreak {
                        display: inline-block;
                        margin-bottom: 0;
                        font-weight: 600;
                        text-align: center;
                        vertical-align: middle;
                        cursor: pointer;
                        background-image: none;
                        border: 1px solid transparent;
                        white-space: nowrap;
                        padding: 6px 12px;
                        font-size: 13px;
                        line-height: 1.3856;
                        border-radius: 20px;
                        -webkit-user-select: none;
                        -moz-user-select: none;
                        -ms-user-select: none;
                        user-select: none;
                    }

                        .mauticform-button-wrapper .mauticform-button.btn-default[disabled], .mauticform-pagebreak-wrapper .mauticform-pagebreak.btn-default[disabled] {
                            background-color: #cecece;
                            border-color: #1d598d;
                            opacity: 0.75;
                            cursor: not-allowed;
                        }

                    .mauticform-pagebreak-wrapper .mauticform-button-wrapper {
                        display: inline;
                    }
                </style>
                <div id="mauticform_wrapper_bestinternetcontact" class="mauticform_wrapper">
                    <form autocomplete="false" role="form" method="post" action="https://campaign.igdigital.co.za/index.php/form/submit?formId=22" id="mauticform_bestinternetcontact" data-mautic-form="bestinternetcontact" enctype="multipart/form-data">
                        <div class="mauticform-error" id="mauticform_bestinternetcontact_error"></div>
                        <div class="mauticform-message" id="mauticform_bestinternetcontact_message"></div>
                        <div class="mauticform-innerform">
                            <div class="mauticform-page-wrapper mauticform-page-1" data-mautic-form-page="1">
                                <div id="mauticform_bestinternetcontact_first_name" data-validate="first_name" data-validation-type="text" class="mauticform-row mauticform-text mauticform-field-1 mauticform-required">
                                    <input id="mauticform_input_bestinternetcontact_first_name" name="mauticform[first_name]" value="" placeholder="First Name" class="mauticform-input" type="text">
                                    <span class="mauticform-errormsg" style="display: none;">First Name Required</span>
                                </div>
                                <div id="mauticform_bestinternetcontact_last_name" data-validate="last_name" data-validation-type="text" class="mauticform-row mauticform-text mauticform-field-2 mauticform-required">
                                    <input id="mauticform_input_bestinternetcontact_last_name" name="mauticform[last_name]" value="" placeholder="Last Name" class="mauticform-input" type="text">
                                    <span class="mauticform-errormsg" style="display: none;">This is required.</span>
                                </div>
                                <div id="mauticform_bestinternetcontact_cell_number1" data-validate="cell_number1" data-validation-type="tel" class="mauticform-row mauticform-tel mauticform-field-3 mauticform-required">
                                    <input id="mauticform_input_bestinternetcontact_cell_number1" name="mauticform[cell_number1]" value="" placeholder="Cell Number" class="mauticform-input" type="tel">
                                    <span class="mauticform-errormsg" style="display: none;">Cell Number Required</span>
                                </div>
                                <div id="mauticform_bestinternetcontact_email" data-validate="email" data-validation-type="email" class="mauticform-row mauticform-email mauticform-field-4 mauticform-required">
                                    <input id="mauticform_input_bestinternetcontact_email" name="mauticform[email]" value="" placeholder="Email" class="mauticform-input" type="email">
                                    <span class="mauticform-errormsg" style="display: none;">Email Address Required</span>
                                </div>
                                <input id="mauticform_input_bestinternetcontact_page_url" name="mauticform[page_url]" value="" class="mauticform-hidden" type="hidden">
                                <input id="mauticform_input_bestinternetcontact_page_referrer1" name="mauticform[page_referrer1]" value="" class="mauticform-hidden" type="hidden">
                                <input id="mauticform_input_bestinternetcontact_company" name="mauticform[company]" value="Best Internet" class="mauticform-hidden" type="hidden">
                                <div id="mauticform_bestinternetcontact_submit" class="mauticform-row mauticform-button-wrapper mauticform-field-8">
                                    <button type="submit" name="mauticform[submit]" id="mauticform_input_bestinternetcontact_submit" value="" class="mauticform-button btn btn-default">Submit</button>
                                </div>
                            </div>
                        </div>
                        <input type="hidden" name="mauticform[formId]" id="mauticform_bestinternetcontact_id" value="22">
                        <input type="hidden" name="mauticform[return]" id="mauticform_bestinternetcontact_return" value="">
                        <input type="hidden" name="mauticform[formName]" id="mauticform_bestinternetcontact_name" value="bestinternetcontact">
                    </form>
                </div>
            </div><img src="/images/contact-us-guy.jpg" srcset="/images/contact-us-guy-p-500.jpeg 500w, /images/contact-us-guy.jpg 650w" sizes="(max-width: 767px) 100vw, 440px" alt="" class="image-4">
        </div>
    </div>
</div>