﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.Fibre>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
    Layout = "Solutions.cshtml";

        PackagesListing packages = new PackagesListing(Umbraco.TypedContent(1143));

    //List<IPublishedContent> filteredPackages = packages.Children(x => x.GetPropertyValue<IEnumerable<IPublishedContent>>("fno").FirstOrDefault().Id == Model.Content.Id).ToList();


   
}

@* the fun starts here *@

<div style="background-image:url(@Model.Content.BannerImage.Url)" class="subpage-header">
    <div class="header-content-wrapper">
        <div class="header-content-box">
            <h1>LOOKING FOR A FIBRE PROVIDER?</h1>
            <div class="white-bold">Compare which package is best for you.</div>
            <p class="white">Unsure if you have fibre in your area? Want to know which ISP is available? Let us help you compare providers, check your coverage and select the best package for you! Enjoy super speeds and uninterrupted connection with our selection of unbeatable Fibre deals.</p>
            <div class="header-btn-wrapper"><a href="#introduction" class="header-btn-green w-button">VIEW DEALS</a><a href="#fibre-comparison-section" class="header-btn-stroke w-button">COMPARE</a></div>
        </div>
    </div>
</div>
<div class="introduction-strip">
    <p class="content-strip">FTTH or Fibre to the Home has fast become a desirable fixed internet solution for South African users. FTTH utilises light transmission to transfer data through glass bundles found in Fibre Optic cables which is infrastructure dependent in your area. It is currently the fastest and most reliable fixed solution currently available and fast becoming available in most areas. Slowly moving away from ADSL copper cables; preventing theft and weather effects, FTTH is also less vulnerable to interferences and able to carry additional bandwidth.</p>
</div>
<div id="introduction" class="introduction-section">
    <div class="content-container">
        <h2>BEST FIBRE PACKAGES</h2>
        <p class="centre">See what deals your favourite providers have for you. Don’t forget to check your coverage to make sure<br>these packages work in your area!</p>
        <div class="div-block">
            @foreach (ProviderPackages package in Model.Content.FibreDeals)
            {
            <div id="card" class="card-container">
                <div class="card-header-box"> @Html.Raw(package.HasValue("FnoSmallLogo") ? "<img src="+@package.FnoSmallLogo.Url+" width='70' alt=''>" : "")  </div><img src="@package.ProviderSmallLogo.Url" height="40" alt="" class="fno-logo-card">
                <div class="card-speed-sub">@package.Speed MBPS FIBRE</div>
                <div class="card-speed-wrapper">
                    <div class="card-speed-container">
                        <img src="/images/arrow-up.svg" width="30" alt="" class="arrow-speed">
                        <div class="card-speed-upload">@package.Upload Mbps</div>
                        <div class="speed-sub">Upload</div>
                    </div>
                    <div class="card-speed-container">
                        <img src="/images/arrow-down.svg" width="30" alt="" class="arrow-speed">
                        <div class="card-speed-upload">@package.Download Mbps</div>
                        <div class="speed-sub">Download</div>
                    </div>
                </div>
                <div class="card-price">@package.Price/pm</div><a href="@package.Url" class="card-btn w-button">APPLY NOW</a>
                @Html.Raw(Model.Content.FibreDeals.FirstOrDefault().Id == package.Id ? "<img src='/images/best-value-ribbon.svg' width='131' alt='' class='ribbon-tag'>" : "")

               
            </div>

            }

           
        </div>
    </div>
</div>
<div id="fibre-comparison-section" class="fibre-comparison-section">
    <div class="content-container">
        <h2 class="heading">FIBRE COMPARISON</h2>
        <p class="centre">Let us help you filter out the service providers in your area! Enter your address to begin.</p>
    </div>
    <div class="comparison-container">
        <div class="provider-column">
            <div class="column-header-block">
                <div class="centre">Provider</div>
            </div>
            <div class="column-provider"><img src="/images/supersonic-color.svg" width="80" height="45" alt=""><img src="images/best-value-ribbon.svg" width="78" alt="" class="ribbon-02"></div>
            <div class="column-provider"><img src="/images/vox-color.svg" width="80" height="45" alt=""></div>
            <div class="column-provider"><img src="/images/onair-color.svg" width="80" height="45" alt=""></div>
            <div class="column-provider"><img src="/images/rsa-web-color.svg" width="80" height="45" alt=""></div>
            <div class="column-provider"><img src="/images/cellc-color.svg" width="80" height="45" alt=""></div>
            <div class="column-provider"><img src="/images/telkom-color.svg" width="80" height="45" alt=""></div>
        </div>
        <div class="div-block-10">
            <div class="row-1">
                <div class="column-header-block">
                    <div class="centre">Speed</div>
                </div>
                <div class="column-header-block">
                    <div class="centre">Rating</div>
                </div>
                <div class="column-header-block">
                    <div class="centre">Data Caps</div>
                </div>
                <div class="column-header-block">
                    <div class="centre">Extra&#x27;s</div>
                </div>
                <div class="column-header-block">
                    <div class="centre">Pricing From</div>
                </div>
                <div class="column-header-block"></div>
            </div>
            <div class="row-1">
                <div class="column-provider _01">
                    <div class="centre details">10Mbps - 1000Mbps</div>
                </div>
                <div class="column-provider _01">
                    <div class="html-embed-2 w-embed">
                        <style>
                            .rating > span:hover:before {
                                position: absolute;
                            }

                            .checked {
                                color: #f8db02;
                            }
                        </style>
                        <div class="rating">
                            <span class="checked">&#9733</span>
                            <span class="checked">&#9733</span>
                            <span class="checked">&#9733</span>
                            <span class="checked">&#9733</span>
                            <span class="checked">&#9733</span>
                        </div>
                    </div>
                </div>
                <div class="column-provider _01">
                    <div class="centre details">Uncapped</div>
                </div>
                <div class="column-provider _01">
                    <div class="centre details">Free installation, activation and router</div>
                </div>
                <div class="column-provider _01">
                    <div class="centre details">R645</div>
                </div>
                <div class="column-provider _02"><a href="/providers/supersonic" class="comparison-btn w-button">VIEW DEALS</a></div>
            </div>
            <div class="row-1">
                <div class="column-provider _01">
                    <div class="centre details">10Mbps - 1000Mbps</div>
                </div>
                <div class="column-provider _01">
                    <div class="html-embed-2 w-embed">
                        <style>
                            .rating > span:hover:before {
                                position: absolute;
                            }

                            .checked {
                                color: #f8db02;
                            }
                        </style>
                        <div class="rating">
                            <span class="checked">&#9733</span>
                            <span class="checked">&#9733</span>
                            <span class="checked">&#9733</span>
                            <span class="checked">&#9733</span>
                            <span class="checked">&#9733</span>
                        </div>
                    </div>
                </div>
                <div class="column-provider _01">
                    <div class="centre details">Uncapped</div>
                </div>
                <div class="column-provider _01">
                    <div class="centre details">Free installation, activation and router</div>
                </div>
                <div class="column-provider _01">
                    <div class="centre details">R554</div>
                </div>
                <div class="column-provider _02"><a href="/providers/vox" class="comparison-btn w-button">VIEW DEALS</a></div>
            </div>
            <div class="row-1">
                <div class="column-provider _01">
                    <div class="centre details">10Mbps - 1000Mbps</div>
                </div>
                <div class="column-provider _01">
                    <div class="html-embed-2 w-embed">
                        <style>
                            .rating > span:hover:before {
                                position: absolute;
                            }

                            .checked {
                                color: #f8db02;
                            }
                        </style>
                        <div class="rating">
                            <span class="checked">&#9733</span>
                            <span class="checked">&#9733</span>
                            <span class="checked">&#9733</span>
                            <span class="checked">&#9733</span>
                            <span class="checked">&#9733</span>
                        </div>
                    </div>
                </div>
                <div class="column-provider _01">
                    <div class="centre details">Uncapped</div>
                </div>
                <div class="column-provider _01">
                    <div class="centre details">Free installation, activation and router</div>
                </div>
                <div class="column-provider _01">
                    <div class="centre details">R554</div>
                </div>
                <div class="column-provider _02"><a href="/providers/onair" class="comparison-btn w-button">VIEW DEALS</a></div>
            </div>
            <div class="row-1">
                <div class="column-provider _01">
                    <div class="centre details">10Mbps - 1000Mbps</div>
                </div>
                <div class="column-provider _01">
                    <div class="html-embed-2 w-embed">
                        <style>
                            .rating > span:hover:before {
                                position: absolute;
                            }

                            .checked {
                                color: #f8db02;
                            }
                        </style>
                        <div class="rating">
                            <span class="checked">&#9733</span>
                            <span class="checked">&#9733</span>
                            <span class="checked">&#9733</span>
                            <span class="checked">&#9733</span>
                            <span>&#9733</span>
                        </div>
                    </div>
                </div>
                <div class="column-provider _01">
                    <div class="centre details">Uncapped</div>
                </div>
                <div class="column-provider _01">
                    <div class="centre details">Free to use router <br>and setup</div>
                </div>
                <div class="column-provider _01">
                    <div class="centre details">R395</div>
                </div>
                <div class="column-provider _02"><a href="/providers/rsa-web" class="comparison-btn w-button">VIEW DEALS</a></div>
            </div>
            <div class="row-1">
                <div class="column-provider _01">
                    <div class="centre details">10Mbps - 1000Mbps</div>
                </div>
                <div class="column-provider _01">
                    <div class="html-embed-2 w-embed">
                        <style>
                            .rating > span:hover:before {
                                position: absolute;
                            }

                            .checked {
                                color: #f8db02;
                            }
                        </style>
                        <div class="rating">
                            <span class="checked">&#9733</span>
                            <span class="checked">&#9733</span>
                            <span class="checked">&#9733</span>
                            <span class="checked">&#9733</span>
                            <span>&#9733</span>
                        </div>
                    </div>
                </div>
                <div class="column-provider _01">
                    <div class="centre details">Uncapped</div>
                </div>
                <div class="column-provider _01">
                    <div class="centre details">Free Wi-Fi router, installation and connection</div>
                </div>
                <div class="column-provider _01">
                    <div class="centre details">R599</div>
                </div>
                <div class="column-provider _02"><a href="/providers/cell-c" class="comparison-btn w-button">VIEW DEALS</a></div>
            </div>
            <div class="row-1">
                <div class="column-provider _01">
                    <div class="centre details">10Mbps - 100Mbps</div>
                </div>
                <div class="column-provider _01">
                    <div class="html-embed-2 w-embed">
                        <style>
                            .rating > span:hover:before {
                                position: absolute;
                            }

                            .checked {
                                color: #f8db02;
                            }
                        </style>
                        <div class="rating">
                            <span class="checked">&#9733</span>
                            <span class="checked">&#9733</span>
                            <span class="checked">&#9733</span>
                            <span class="checked">&#9733</span>
                            <span>&#9733</span>
                        </div>
                    </div>
                </div>
                <div class="column-provider _01">
                    <div class="centre details">Uncapped</div>
                </div>
                <div class="column-provider _01">
                    <div class="centre details">Free Router</div>
                </div>
                <div class="column-provider _01">
                    <div class="centre details">R799</div>
                </div>
                <div class="column-provider _02"><a href="/providers/telkom" class="comparison-btn w-button">VIEW DEALS</a></div>
            </div>
        </div>
    </div>
</div>
<div id="coverage-map-section" class="coverage-map-section">
    <div class="content-container">
        <h2>CHECK THE COVERAGE MAP</h2>
        <p class="centre">Let us help you filter out the service providers in your area! Enter your address to begin.</p>
    </div>
    <div class="html-embed w-embed w-iframe">
        <style>
            iframe {
                border: none;
                border: 0;
            }
        </style>
        <iframe src="https://ignition.28east.co.za/" width="100%" height="700">
            Hello There!
        </iframe>
    </div>
</div>