﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.FNos>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
	Layout = "Web.cshtml";

        PackagesListing packages = new PackagesListing(Umbraco.TypedContent(1143));

        List<IPublishedContent> filteredPackages = packages.Children(x => x.GetPropertyValue<IEnumerable<IPublishedContent>>("fno").FirstOrDefault().Id == Model.Content.Id).OrderBy(x => x.GetPropertyValue("speed")).ToList(); //all packages that are of the current page

            DataList TypedataList = new DataList(Umbraco.TypedContent(1178));
    List<IPublishedContent> typeFilter = TypedataList.Children().ToList();

    DataList DataRangedataList = new DataList(Umbraco.TypedContent(1179));
    List<IPublishedContent> DataRangeFilter = DataRangedataList.Children().ToList();

     DataList PriceRangedataList = new DataList(Umbraco.TypedContent(1180));
    List<IPublishedContent> PriceRangeFilter = PriceRangedataList.Children().ToList();

    DataList SpeedRangedataList = new DataList(Umbraco.TypedContent(1181));
    List<IPublishedContent> SpeedRangeFilter = SpeedRangedataList.Children().ToList();

        Providers providers = new Providers(Umbraco.TypedContent(1145));
    List<IPublishedContent> providersFilter = providers.Children().ToList();

    FibreNetOperators fnos = new FibreNetOperators(Umbraco.TypedContent(1141));
    List<IPublishedContent> fnosFilter = fnos.Children().ToList();
}

@* the fun starts here *@



    <div class="provider-header">
        <div class="provider-wrapper">
            <img src="@Model.Content.MainLogoOne" width="427" alt="" class="image-3">
            <div class="white-bold">@Model.Content.BannerHeaderOne</div>
            <div class="white provider-text">@Model.Content.BannerTextOne</div>
        </div>

    </div>
    <div class="introduction-strip">
        <p class="content-strip">@Model.Content.ProviderDescriptionOne</p>
    </div>


    <div id="introduction" class="introduction-section">
        <div class="content-container">
            <h2>PACKAGE RESULTS</h2>
            <div class="faq-wrapper">
                <div class="faq-question-div">
                    <img src="/images/plus-icon.svg" width="19" alt="" class="plus-icon"><img src="../images/minus-icon.svg" width="19" alt="" class="minus-icon">
                    <div class="faq-heading">Filter Packages</div>
                </div>

                <div class="faq-content">
                    <div class="filter-form w-form">
                        <form id="email-form-2" name="email-form-2" data-name="Email Form 2" class="form-3 filters">

                            <select id="field-5" name="field-5" data-name="Field 5" class="select-field w-select filter-select" value-group="provider">
                                <option value="">Provider</option>
                                @foreach (Provider prov in providersFilter)
                                {
                                    <option value=".f@(prov.Id)">@prov.Name</option>


                                }

                            </select>

                            <select id="field-5" name="field-5" data-name="Field 5" class="select-field w-select filter-select" value-group="type">
                                <option value="">Type</option>
                                @foreach (DataItem type in typeFilter)
                                {
                                    <option value=".f@(type.Id)">@type.Name</option>


                                }

                            </select>

                            <select id="field-4" name="field-4" data-name="Field 4" class="select-field w-select filter-select" value-group="dataRange">
                                <option value="">Data Range</option>
                                @foreach (DataItem dr in DataRangeFilter)
                                {
                                    <option value=".f@(dr.Id)">@dr.Name</option>


                                }


                            </select>

                            <select id="field-3" name="field-3" data-name="Field 3" class="select-field w-select filter-select" value-group="priceRange">
                                <option value="">Pricing</option>
                                @foreach (DataItem pr in PriceRangeFilter)
                                {
                                    <option value=".f@(pr.Id)">@pr.Name</option>


                                }
                            </select>

                            <select id="field-2" name="field-2" data-name="Field 2" class="select-field w-select filter-select" value-group="speedRange">
                                <option value="">Speed</option>
                                @foreach (DataItem sr in SpeedRangeFilter)
                                {
                                    <option value=".f@(sr.Id)">@sr.Name</option>


                                }
                            </select>


                        </form>

                        <div class="w-form-done">
                            <div>Thank you! Your submission has been received!</div>
                        </div>
                        <div class="w-form-fail">
                            <div>Oops! Something went wrong while submitting the form.</div>
                        </div>


                    </div>
                </div>

                <div class="faq-content-desktop">
                    <div class="filter-form w-form">
                        <form id="email-form-2" name="email-form-2" data-name="Email Form 2" class="form-3 filters">

                            <select id="field-5" name="field-5" data-name="Field 5" class="select-field w-select filter-select" value-group="provider">
                                <option value="">Provider</option>
                                @foreach (Provider prov in providersFilter)
                                {
                                    <option value=".f@(prov.Id)">@prov.Name</option>


                                }

                            </select>

                            <select id="field-5" name="field-5" data-name="Field 5" class="select-field w-select filter-select" value-group="type">
                                <option value="">Type</option>
                                @foreach (DataItem type in typeFilter)
                                {
                                    <option value=".f@(type.Id)">@type.Name</option>


                                }

                            </select>

                            <select id="field-4" name="field-4" data-name="Field 4" class="select-field w-select filter-select" value-group="dataRange">
                                <option value="">Data Range</option>
                                @foreach (DataItem dr in DataRangeFilter)
                                {
                                    <option value=".f@(dr.Id)">@dr.Name</option>


                                }


                            </select>

                            <select id="field-3" name="field-3" data-name="Field 3" class="select-field w-select filter-select" value-group="priceRange">
                                <option value="">Pricing</option>
                                @foreach (DataItem pr in PriceRangeFilter)
                                {
                                    <option value=".f@(pr.Id)">@pr.Name</option>


                                }
                            </select>

                            <select id="field-2" name="field-2" data-name="Field 2" class="select-field w-select filter-select" value-group="speedRange">
                                <option value="">Speed</option>
                                @foreach (DataItem sr in SpeedRangeFilter)
                                {
                                    <option value=".f@(sr.Id)">@sr.Name</option>


                                }
                            </select>


                        </form>

                        <div class="w-form-done">
                            <div>Thank you! Your submission has been received!</div>
                        </div>
                        <div class="w-form-fail">
                            <div>Oops! Something went wrong while submitting the form.</div>
                        </div>


                    </div>
                </div>
            </div>
            <div class="div-block">
                <div class="package-grid w-layout-grid grid-2">

                    @foreach (ProviderPackages package in filteredPackages)
                    {
                         bool isLte = package.Type.FirstOrDefault().Name == "LTE";
                        <div class="grid-item f@(package.Provider.FirstOrDefault().Id) f@(package.Type.FirstOrDefault().Id) f@(package.DataRange.FirstOrDefault().Id) f@(package.PriceRange.FirstOrDefault().Id) f@(package.SpeedRange.FirstOrDefault().Id)">

                            

                            <div class="card-container">
                                <div class="card-header-box">@Html.Raw(isLte ? "" : "<img src=" + @package.FnoSmallLogo.Url + " width='70'>")  </div><img src="@package.ProviderSmallLogo.Url" height="40" alt="" class="fno-logo-card">
                                <div class="card-speed-sub">@(isLte ? package.Data + "GB LTE" : package.Speed + "Mbps "+ package.Type.FirstOrDefault().Name)</div>
                                <div class="card-speed-wrapper">
                                    <div class="card-speed-container">
                                        <img src="@(isLte ? "/images/day-icon.svg" : "/images/arrow-up.svg")" width="30" alt="" class="arrow-speed">
                                        <div class="card-speed-upload">@(isLte ? package.DayData + "GB" : package.Upload + "Mbps")</div>
                                        <div class="speed-sub">@(isLte ? "Day" : "Upload")</div>
                                    </div>
                                    <div class="card-speed-container">
                                        <img src="@(isLte ? "/images/night-icon.svg" : "/images/arrow-down.svg")" width="30" alt="" class="arrow-speed">
                                        <div class="card-speed-upload">@(isLte ? package.NightData + "GB" : package.Download + "Mbps")</div>
                                        <div class="speed-sub">@(isLte ? "Night" : "Download")</div>
                                    </div>
                                </div>
                                <div class="card-price">@package.Price/pm</div><a href="@package.Url" class="card-btn w-button">APPLY NOW</a>
                               
                            </div>


                        </div>


                    }


                </div>
            </div>


        </div>
    </div>