﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.Home>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
	Layout = "Web.cshtml";

        PackagesListing packages = new PackagesListing(Umbraco.TypedContent(1143));

        //List<IPublishedContent> filteredPackages = packages.Children(x => x.GetPropertyValue<IEnumerable<IPublishedContent>>("fno").FirstOrDefault().Id == Model.Content.Id).ToList();
          List<IPublishedContent> chosenPackage = packages.Children(x => x.Id == Model.Content.BannerDeal.FirstOrDefault().Id).ToList();
    
          List<IPublishedContent> bestDeal = packages.Children(x => x.Id == Model.Content.BestValueDeal.FirstOrDefault().Id).ToList(); 
          List<IPublishedContent> deal1 = packages.Children(x => x.Id == Model.Content.HomePageDeal1.FirstOrDefault().Id).ToList(); 
          List<IPublishedContent> deal2 = packages.Children(x => x.Id == Model.Content.HomePageDeal2.FirstOrDefault().Id).ToList(); 

       
          var packageMainImage = String.Empty;    
                        var packageImage = Umbraco.TypedMedia(Model.Content.GetPropertyValue<int>("backgroundImage"));
                        if (packageImage != null)
                        {
                            packageMainImage = packageImage.Url;
                        }

}

@*@{ Html.RenderAction("RenderHeader", "Home");}*@

    <div class="cookie-banner">
        <p class="covid-alert"><img class="popup-logo" src="covid/health-logo.jpg" alt="South Africa Health Department Logo">For news and information regarding <strong>COVID-19</strong> please visit <a class="covid-sa" href="http://www.sacoronavirus.co.za" target="_blank">SA Corona Virus</a></p>
        <button class="close">&times;</button>
    </div>

    <div class="header-banner" style="background-image:url(@Model.Content.BackgroundImage.Url)">
        <div class="header-content-wrapper">
            <div class="header-content-box">


                @foreach (ProviderPackages package in chosenPackage)
                {
                    <h1>@package.Type.FirstOrDefault().Name.ToUpper()</h1>
                    <div class="white-bold">@package.Speed Mbps Speed</div>
                    <p class="white">Get the best internet money can buy. With Best Internet we help you get more than what you bargained for.</p>
                    <div class="header-price-wrapper">
                        <p class="per-month">From: </p>
                        <div class="price">@package.Price</div>
                        <p class="per-month">/per month</p>
                    </div>
                    <div class="header-btn-wrapper">
                        <a href="@package.Url" class="header-btn-green w-button">APPLY NOW</a>
                        <a href="#coverage-map" class="header-btn-stroke w-button">CHECK COVERAGE</a>
                    </div>
                }


            </div>
        </div>
    </div>


@{ Html.RenderAction("RenderFnos", "Home");}


<div id="introduction" class="introduction-section">


    <div class="content-container">
        <div class="sub-heading-content">WE PICKED OUT THE BEST PACKAGES.</div>
        <h2>LET'S GET YOU STARTED</h2>
        <p class="centre">See what deals your favourite providers have for you. Don’t forget to check your coverage to make sure<br>these packages work in your area!</p>
        <div class="div-block">


            @foreach (ProviderPackages package in Model.Content.HomePageDeals)
            {
                bool isLte = package.Type.FirstOrDefault().Name == "LTE";
               
       
                <div class="card-container">
                    <div class="card-header-box">@Html.Raw(isLte ? "" : "<img src="+@package.FnoSmallLogo.Url+" width='70'>")  </div><img src="@package.ProviderSmallLogo.Url" height="40" alt="" class="fno-logo-card">
                      <div class="card-speed-sub">@(isLte ? package.Data + "GB LTE" : package.Speed + "Mbps Fibre")</div>
                    <div class="card-speed-wrapper">
                        <div class="card-speed-container">
                            <img src="@(isLte ? "images/day-icon.svg" : "images/arrow-up.svg")" width="30" alt="" class="arrow-speed">
                            <div class="card-speed-upload">@(isLte ? package.DayData + "GB"  : package.Upload + "Mbps")</div>
                            <div class="speed-sub">@(isLte ? "Day" : "Upload")</div>
                        </div>
                        <div class="card-speed-container">
                            <img src="@(isLte ? "images/night-icon.svg" : "images/arrow-down.svg")" width="30" alt="" class="arrow-speed">
                            <div class="card-speed-upload">@(isLte ? package.NightData + "GB" : package.Download + "Mbps")</div>
                            <div class="speed-sub">@(isLte ? "Night" : "Download")</div>
                        </div>
                    </div>
                    <div class="card-price">@package.Price/pm</div><a href="@package.Url" class="card-btn w-button">APPLY NOW</a>
                    @Html.Raw(Model.Content.HomePageDeals.FirstOrDefault().Id == package.Id ? "<img src='images/best-value-ribbon.svg' width='131' alt='' class='ribbon-tag'>" : "")
                </div>
            }

          
        </div>
    </div>
</div>


@{ Html.RenderAction("RenderCta", "Home");}
@{ Html.RenderAction("RenderCompare", "Home");}
@{ Html.RenderAction("RenderCoverageMap", "Home");}
@{ Html.RenderAction("RenderProviders", "Home");}
