﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.LTE>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
    Layout = "Solutions.cshtml";

    PackagesListing packages = new PackagesListing(Umbraco.TypedContent(1143));

    //List<IPublishedContent> filteredPackages = packages.Children(x => x.GetPropertyValue<IEnumerable<IPublishedContent>>("fno").FirstOrDefault().Id == Model.Content.Id).ToList();


   

    
}

@* the fun starts here *@
<div style="background-image:url(@Model.Content.BannerImage.Url)" class="subpage-header lte">
    <div class="header-content-wrapper">
        <div class="header-content-box">
            <h1>CUT THE CORD WITH THE BEST LTE!</h1>
            <div class="white-bold">Compare which LTE package is best for you.</div>
            <p class="white">Compare packages, check coverage in your area and choose from over 5 different service providers so you can keep moving with LTE; plug and play on the go or at home with Best Internet. LTE gives you freedom without the fuss; no installation required.</p>
            <div class="header-btn-wrapper"><a href="#introduction" class="header-btn-green w-button">View Deals</a><a href="#fibre-comparison-section" class="header-btn-stroke w-button">COMPARE</a></div>
        </div>
    </div>
</div>
<div class="introduction-strip">
    <p class="content-strip">LTE or Long Term Evolution is best described as a fast, wireless solution which offers you up to 10x the speed of 3G. LTE requires no fixed connection and functions on mobile signals providing connection to your devices through the radio spectrum. A simple plug and play method allows you effortless connection to fast internet without the hassle of installation; all you require is an LTE enabled SIM, device and coverage availability in the areas of your choice.</p>
</div>
<div id="introduction" class="introduction-section">
    <div class="content-container">
        <h2>BEST LTE PACKAGES</h2>
        <p class="centre">See what deals your favourite providers have for you. Don’t forget to check your coverage to make sure<br>these packages work in your area!</p>
        <div class="div-block">
            @foreach (ProviderPackages package in Model.Content.LteDeals)
            {
            <div id="card" class="card-container">
                <div class="card-header-box"></div><img src="@package.ProviderSmallLogo.Url" height="40" alt="" class="fno-logo-card">
                <div class="card-speed-sub">@package.Data GB</div>
                <div class="card-speed-wrapper">
                    <div class="card-speed-container">
                        <img src="/images/day-icon.svg" width="30" alt="" class="arrow-speed">
                        <div class="card-speed-upload">@package.DayData GB</div>
                        <div class="speed-sub">Day</div>
                    </div>
                    <div class="card-speed-container">
                        <img src="/images/night-icon.svg" width="30" alt="" class="arrow-speed">
                        <div class="card-speed-upload">@package.NightData GB</div>
                        <div class="speed-sub">Night</div>
                    </div>
                </div>
                <div class="card-price">@package.Price/pm</div><a href="@package.Url" class="card-btn w-button">APPLY NOW</a>

                @Html.Raw(Model.Content.LteDeals.FirstOrDefault().Id == package.Id ? "<img src='/images/best-value-ribbon.svg' width='131' alt='' class='ribbon-tag'>" : "")
               
            </div>

            }

     
        </div>
    </div>
</div>
<div id="fibre-comparison-section" class="fibre-comparison-section">
    <div class="content-container">
        <h2 class="heading">LTE COMPARISON</h2>
        <p class="centre">Let us help you filter out the service providers in your area! Enter your address to begin.</p>
    </div>
    <div class="comparison-container-lte">
        <div class="provider-column">
            <div class="column-header-block">
                <div class="centre">Provider</div>
            </div>
            <div class="column-provider"><img src="/images/best-value-ribbon.svg" width="78" alt="" class="ribbon-02"><img src="/images/supersonic-color.svg" width="80" height="45" alt=""></div>
            <div class="column-provider"><img src="~/images/vox-color.svg" width="80" height="45" alt=""></div>
            <div class="column-provider"><img src="~/images/meandyou-colour.svg" width="80" height="45" alt=""></div>
            
            <div class="column-provider"><img src="/images/telkom-color.svg" width="80" height="45" alt=""></div>
            <div class="column-provider"><img src="/images/mtn-color.svg" width="80" height="45" alt=""></div>
            <div class="column-provider"><img src="/images/vodacom-color.svg" width="80" height="45" alt=""></div>
        </div>
        <div class="div-block-10">
            <div class="row-1">
                <div class="column-header-block">
                    <div class="centre">Data Cap</div>
                </div>
                <div class="column-header-block">
                    <div class="centre">Rating</div>
                </div>
                <div class="column-header-block">
                    <div class="centre">Extra&#x27;s</div>
                </div>
                <div class="column-header-block">
                    <div class="centre">Pricing From</div>
                </div>
                <div class="column-header-block"></div>
            </div>
            <div class="row-1">
                <div class="column-provider _01">
                    <div class="centre details">60GB - 400GB</div>
                </div>
                <div class="column-provider _01">
                    <div class="html-embed-2 w-embed">
                        <style>
                            .rating > span:hover:before {
                                position: absolute;
                            }

                            .checked {
                                color: #f8db02;
                            }
                        </style>
                        <div class="rating">
                            <span class="checked">&#9733</span>
                            <span class="checked">&#9733</span>
                            <span class="checked">&#9733</span>
                            <span class="checked">&#9733</span>
                            <span class="checked">&#9733</span>
                        </div>
                    </div>
                </div>
                <div class="column-provider _01">
                    <div class="centre details">Includes activation, delivery, sim card and free to use router</div>
                </div>
                <div class="column-provider _01">
                    <div class="centre details">R249</div>
                </div>
                <div class="column-provider _02"><a href="/providers/supersonic" class="comparison-btn w-button">VIEW DEALS</a></div>
            </div>
            <div class="row-1">
                <div class="column-provider _01">
                    <div class="centre details">10GB - 220GB</div>
                </div>
                <div class="column-provider _01">
                    <div class="html-embed-2 w-embed">
                        <style>
                            .rating > span:hover:before {
                                position: absolute;
                            }

                            .checked {
                                color: #f8db02;
                            }
                        </style>
                        <div class="rating">
                            <span class="checked">&#9733</span>
                            <span class="checked">&#9733</span>
                            <span class="checked">&#9733</span>
                            <span class="checked">&#9733</span>
                            <span class="checked">&#9733</span>
                        </div>
                    </div>
                </div>
                <div class="column-provider _01">
                    <div class="centre details">-</div>
                </div>
                <div class="column-provider _01">
                    <div class="centre details">R150</div>
                </div>
                <div class="column-provider _02"><a href="/providers/vox" class="comparison-btn w-button">VIEW DEALS</a></div>
            </div>
            <div class="row-1">
                <div class="column-provider _01">
                    <div class="centre details">20GB - 100GB</div>
                </div>
                <div class="column-provider _01">
                    <div class="html-embed-2 w-embed">
                        <style>
                            .rating > span:hover:before {
                                position: absolute;
                            }

                            .checked {
                                color: #f8db02;
                            }
                        </style>
                        <div class="rating">
                            <span class="checked">&#9733</span>
                            <span class="checked">&#9733</span>
                            <span class="checked">&#9733</span>
                            <span class="checked">&#9733</span>
                            <span class="checked">&#9733</span>
                        </div>
                    </div>
                </div>
                <div class="column-provider _01">
                    <div class="centre details">Free delivery</div>
                </div>
                <div class="column-provider _01">
                    <div class="centre details">R149</div>
                </div>
                <div class="column-provider _02"><a href="/providers/meyou-mobile" class="comparison-btn w-button">VIEW DEALS</a></div>
            </div>
            <div class="row-1">
                <div class="column-provider _01">
                    <div class="centre details">20GB - Uncapped</div>
                </div>
                <div class="column-provider _01">
                    <div class="html-embed-2 w-embed">
                        <style>
                            .rating > span:hover:before {
                                position: absolute;
                            }

                            .checked {
                                color: #f8db02;
                            }
                        </style>
                        <div class="rating">
                            <span class="checked">&#9733</span>
                            <span class="checked">&#9733</span>
                            <span class="checked">&#9733</span>
                            <span class="checked">&#9733</span>
                            <span class="checked">&#9733</span>
                        </div>
                    </div>
                </div>
                <div class="column-provider _01">
                    <div class="centre details">-</div>
                </div>
                <div class="column-provider _01">
                    <div class="centre details">R199</div>
                </div>
                <div class="column-provider _02"><a href="/providers/Telkom/" class="comparison-btn w-button">VIEW DEALS</a></div>
            </div>
            <div class="row-1">
                <div class="column-provider _01">
                    <div class="centre details">40GB - 200GB</div>
                </div>
                <div class="column-provider _01">
                    <div class="html-embed-2 w-embed">
                        <style>
                            .rating > span:hover:before {
                                position: absolute;
                            }

                            .checked {
                                color: #f8db02;
                            }
                        </style>
                        <div class="rating">
                            <span class="checked">&#9733</span>
                            <span class="checked">&#9733</span>
                            <span class="checked">&#9733</span>
                            <span class="checked">&#9733</span>
                            <span>&#9733</span>
                        </div>
                    </div>
                </div>
                <div class="column-provider _01">
                    <div class="centre details">-</div>
                </div>
                <div class="column-provider _01">
                    <div class="centre details">R199</div>
                </div>
                <div class="column-provider _02"><a href="/providers/MTN/" class="comparison-btn w-button">VIEW DEALS</a></div>
            </div>
            <div class="row-1">
                <div class="column-provider _01">
                    <div class="centre details">100GB - 200GB</div>
                </div>
                <div class="column-provider _01">
                    <div class="html-embed-2 w-embed">
                        <style>
                            .rating > span:hover:before {
                                position: absolute;
                            }

                            .checked {
                                color: #f8db02;
                            }
                        </style>
                        <div class="rating">
                            <span class="checked">&#9733</span>
                            <span class="checked">&#9733</span>
                            <span class="checked">&#9733</span>
                            <span class="checked">&#9733</span>
                            <span>&#9733</span>
                        </div>
                    </div>
                </div>
                <div class="column-provider _01">
                    <div class="centre details">Free router and wifi extender</div>
                </div>
                <div class="column-provider _01">
                    <div class="centre details">R899</div>
                </div>
                <div class="column-provider _02"><a href="/providers/Vodacom/" class="comparison-btn w-button">VIEW DEALS</a></div>
            </div>
        </div>
    </div>
</div>
<div id="coverage-map-section" class="coverage-map-section">
    <div class="content-container">
        <h2>CHECK THE COVERAGE MAP</h2>
        <p class="centre">Let us help you filter out the service providers in your area! Enter your address to begin.</p>
    </div>
    <div class="html-embed w-embed w-iframe">
        <style>
            iframe {
                border: none;
                border: 0;
            }
        </style>
        <iframe src="https://ignition.28east.co.za/" width="100%" height="700">
            Hello There!
        </iframe>
    </div>
</div>