﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.Providers>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
    Layout = "Web.cshtml";
}

@* the fun starts here *@

<div style="background-image:url(@Model.Content.BannerImage.Url)" class="subpage-header provider">
    <div class="header-content-wrapper">
        <div class="header-content-box">
            <h1>INTERNET SERVICE <br>PROVIDERS</h1>
            <p class="white">Best Internet gives you freedom of choice with over 10 different Internet Service Providers to choose from! View our providers, check your coverage, compare and get connected with Best Internet today!<strong><em></em></strong></p>
            <div class="header-btn-wrapper"><a href="#provider-list" class="header-btn-green w-button">VIEW PROVIDERS</a></div>
        </div>
    </div>
</div>
<div class="introduction-strip">
    <p class="content-strip">Internet Service Providers are the connection to the World Wide Web. Providing access to your browsing, internet and work needs, signing up with an Internet Service provider is an integral part of your internet shopping experience. Best Internet opens the pathway to the internet to bring you the best in Internet Service Providers to compliment your shiny, new equipment. You make the choice or let us choose for you, based off yours or your family’s internet requirements.</p>
</div>
<div id="provider-list" class="provider-section">
    <div class="w-layout-grid provider-card-wrapper">

        @foreach (Provider provider in Model.Content.Children)
        {
            <div class="div-block-8">
                <a href="@provider.Url" class="provider-box w-inline-block"><img src=@provider.MiniLogo width="150" height="150" alt=""></a>
                <div class="div-block-29">
                    <h3>@provider.Name</h3>
                    <div>@provider.MiniText</div>
                    <a href="@provider.Url" class="card-btn-providers w-button">SEE MORE</a>
                </div>
            </div>
        }


    </div>
</div>