﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.ProviderDetails>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
	Layout = "Web.cshtml";
}

  
  <div class="provider-header">
    <div class="provider-wrapper">
      <h1 class="h1-centre"><span class="green">INTERNET SERVICE <br>PROVIDER?</span></h1>
      <p class="white provider-text">Best Fibre and LTE ISP Providers In Cape Town, Johannesburg, Pretoria And Durban.<br>These are a list of the contact and support details for the best internet providers in South Africa.</p>
    </div>
  </div>
  <div class="contact-us-section">
    <div class="w-layout-grid grid-3">
      <div class="provider-details-box">
        <div class="div-block-15">
          <div class="logo-link-div"><img src="images/bitco.svg" width="90" height="70" alt="" class="image-6"><a target="_blank" href="https://www.bitco.co.za" class="link">www.bitco.co.za</a></div>
          <div class="div-block-16"><a href="https://www.bitco.co.za" target="_blank" class="card-btn01 w-button">VISIT</a></div>
        </div>
        <div class="text-block">Supporting Networks</div>
        <div class="text-block-2">SA Digital Villages, OpenServe, Vumatel<br>‍</div>
        <div class="text-block">E-Mail</div>
        <div class="text-block-2"><a href="mailto:support@bitcohome.co.za" target="_blank" class="inline-link">support@bitcohome.co.za</a></div>
        <div class="text-block">Support Telephone</div>
        <div class="text-block-2">087 135 0050</div><a href="https://www.bitco.co.za/acceptable-and-fair-use-policy/" target="_blank" class="link">Fair Usage Policy</a></div>
      <div class="provider-details-box">
        <div class="div-block-15">
          <div class="logo-link-div"><img src="images/supersonic.svg" width="100" height="70" alt="" class="image-6"><a target="_blank" href="https://www.supersonic.co.za" class="link">www.supersonic.co.za</a></div>
          <div class="div-block-16"><a href="https://www.supersonic.co.za" target="_blank" class="card-btn01 w-button">VISIT</a></div>
        </div>
        <div class="text-block">Supporting Networks</div>
        <div class="text-block-2">SA Digital Villages, OpenServe, Vumatel<br>‍</div>
        <div class="text-block">E-Mail</div>
        <div class="text-block-2"><a href="mailto:info@supersonic.co.za" target="_blank" class="inline-link">info@supersonic.co.za</a></div>
        <div class="text-block">Support Telephone</div>
        <div class="text-block-2">0861 787 377</div><a href="https://www.supersonic.co.za/Pages/Termsandconditions.aspx" target="_blank" class="link">Fair Usage Policy</a></div>
      <div class="provider-details-box">
        <div class="div-block-15">
          <div class="logo-link-div"><img src="images/telkom.svg" width="85" height="70" alt="" class="image-6"><a href="www.telkom.co.za" class="link">www.telkom.co.za</a></div>
          <div class="div-block-16"><a href="www.telkom.co.za" target="_blank" class="card-btn01 w-button">VISIT</a></div>
        </div>
        <div class="text-block">Supporting Networks</div>
        <div class="text-block-2">OpenServe, Vumatel<br>‍</div>
        <div class="text-block">E-Mail</div>
        <div class="text-block-2">-</div>
        <div class="text-block">Support Telephone</div>
        <div class="text-block-2">081180</div><a href="https://media.telkom.co.za/today/media/downloads/Telkom_Internet_Educational_Product_Sheet.pdf" target="_blank" class="link">Fair Usage Policy</a></div>
      <div class="provider-details-box">
        <div class="div-block-15">
          <div class="logo-link-div"><img src="images/rsaweb.svg" width="100" height="70" alt="" class="image-6"><a href="https://www.rsaweb.co.za/" class="link">www.rsaweb.co.za</a></div>
          <div class="div-block-16"><a href="www.rsaweb.co.za" target="_blank" class="card-btn01 w-button">VISIT</a></div>
        </div>
        <div class="text-block">Supporting Networks</div>
        <div class="text-block-2">SA Digital Villages, Frogfoot, Vumatel, Octotel, Openserve</div>
        <div class="text-block">E-Mail</div>
        <div class="text-block-2"><a href="mailto:support@rsaweb.net" target="_blank" class="inline-link">support@rsaweb.net</a></div>
        <div class="text-block">Support Telephone</div>
        <div class="text-block-2">087 470 0000</div><a href="https://www.rsaweb.co.za/legal/" target="_blank" class="link">Fair Usage Policy</a></div>
      <div class="provider-details-box">
        <div class="div-block-15">
          <div class="logo-link-div"><img src="images/vox.svg" width="90" height="70" alt="" class="image-6"><a target="_blank" href="https://www.vox.co.za" class="link">www.vox.co.za</a></div>
          <div class="div-block-16"><a href="https://www.vox.co.za" target="_blank" class="card-btn01 w-button">VISIT</a></div>
        </div>
        <div class="text-block">Supporting Networks</div>
        <div class="text-block-2">SA Digital Villages, OpenServe, Vumatel, Frogfoot, TT Connect, Octotel, Maboneng, Balwin, Netstream, Evotel</div>
        <div class="text-block">E-Mail</div>
        <div class="text-block-2"><a href="mailto:help@voxtelecom.co.za" class="inline-link">help@voxtelecom.co.za</a></div>
        <div class="text-block">Support Telephone</div>
        <div class="text-block-2">011 612 7200</div><a href="#" class="link">Fair Usage Policy</a></div>
      <div class="provider-details-box">
        <div class="div-block-15">
          <div class="logo-link-div"><img src="images/mtn.svg" width="90" height="70" alt="" class="image-6"><a target="_blank" href="https://www.mtn.co.za" class="link">www.mtn.co.za</a></div>
          <div class="div-block-16"><a href="https://www.mtn.co.za" target="_blank" class="card-btn01 w-button">VISIT</a></div>
        </div>
        <div class="text-block">Supporting Networks</div>
        <div class="text-block-2">MTN<br>‍</div>
        <div class="text-block">E-Mail</div>
        <div class="text-block-2"><a href="mailto:customercare@mtn.com" class="inline-link">customercare@mtn.com</a></div>
        <div class="text-block">Support Telephone</div>
        <div class="text-block-2">083 135</div><a href="https://www.mtndeals.co.za/terms-conditions/" target="_blank" class="link">Fair Usage Policy</a></div>
      <div class="provider-details-box">
        <div class="div-block-15">
          <div class="logo-link-div"><img src="images/cellc.svg" width="90" height="70" alt="" class="image-6"><a target="_blank" href="https://www.cellc.co.za" class="link">www.cellc.co.za</a></div>
          <div class="div-block-16"><a href="https://www.cellc.co.za" target="_blank" class="card-btn01 w-button">VISIT</a></div>
        </div>
        <div class="text-block">Supporting Networks</div>
        <div class="text-block-2">SA Digital Villages, OpenServe, Vumatel, Frogfoot, Octotel, Netstream, Evotel</div>
        <div class="text-block">E-Mail</div>
        <div class="text-block-2">-</div>
        <div class="text-block">Support Telephone</div>
        <div class="text-block-2">084 135</div><a href="https://www.cellc.co.za/cellc/static-content/PDF/Acceptable_Use_Policy.pdf" target="_blank" class="link">Fair Usage Policy</a></div>
      <div class="provider-details-box">
        <div class="div-block-15">
          <div class="logo-link-div"><img src="images/metro-fibre.svg" width="100" height="80" alt="" class="image-6"><a target="_blank" href="https://www.metrofibre.co.za" class="link">www.metrofibre.co.za</a></div>
          <div class="div-block-16"><a href="https://www.metrofibre.co.za" target="_blank" class="card-btn01 w-button">VISIT</a></div>
        </div>
        <div class="text-block">Supporting Networks</div>
        <div class="text-block-2">N/A<br>‍</div>
        <div class="text-block">E-Mail</div>
        <div class="text-block-2"><a href="mailto:info@metrofibre.co.za" class="inline-link">info@metrofibre.co.za</a></div>
        <div class="text-block">Support Telephone</div>
        <div class="text-block-2">087 151 4000</div><a href="https://metrofibre.co.za/sites/default/files/terms/terms.pdf" target="_blank" class="link">Fair Usage Policy</a></div>
      <div class="provider-details-box">
        <div class="div-block-15">
          <div class="logo-link-div"><img src="images/onair.svg" width="90" height="70" alt="" class="image-6"><a target="_blank" href="https://www.onair.co.za" class="link">www.onair.co.za</a></div>
          <div class="div-block-16"><a href="https://www.onair.co.za" target="_blank" class="card-btn01 w-button">VISIT</a></div>
        </div>
        <div class="text-block">Supporting Networks</div>
        <div class="text-block-2">SA Digital Villages, OpenServe, Vumatel, Frogfoot, TT Connect, Octotel, Maboneng, Balwin, Netstream, Evotel</div>
        <div class="text-block">E-Mail</div>
        <div class="text-block-2">-</div>
        <div class="text-block">Support Telephone</div>
        <div class="text-block-2">-</div><a href="#" class="link">Fair Usage Policy</a></div>
      <div class="provider-details-box">
        <div class="div-block-15">
          <div class="logo-link-div"><img src="images/mweb.svg" width="90" height="65" alt="" class="image-6"><a target="_blank" href="https://www.mweb.co.za" class="link">www.mweb.co.za</a></div>
          <div class="div-block-16"><a href="https://www.mweb.co.za" trget="_blank" class="card-btn01 w-button">VISIT</a></div>
        </div>
        <div class="text-block">Supporting Networks</div>
        <div class="text-block-2">SA Digital Villages, OpenServe, Frogfoot, Octotel, Maboneng</div>
        <div class="text-block">E-Mail</div>
        <div class="text-block-2">-</div>
        <div class="text-block">Support Telephone</div>
        <div class="text-block-2">087 700 0777</div><a href="https://www.mweb.co.za/legal-notices/policies/acceptable-use-policy" target="_blank" class="link">Fair Usage Policy</a></div>
      <div class="provider-details-box">
        <div class="div-block-15">
          <div class="logo-link-div"><img src="images/vodacom.svg" width="90" height="70" alt="" class="image-6"><a target="_blank" href="https://www.vodacom.co.za" class="link">www.vodacom.co.za</a></div>
          <div class="div-block-16"><a href="https://www.vodacom.co.za" target="_blank" class="card-btn01 w-button">VISIT</a></div>
        </div>
        <div class="text-block">Supporting Networks</div>
        <div class="text-block-2">SA Digital Villages, OpenServe, Vumatel, Frogfoot, TT Connect, Octotel</div>
        <div class="text-block">E-Mail</div>
        <div class="text-block-2"><a href="mailto:customercare@vodacom.co.za" target="_blank" class="inline-link">customercare@vodacom.co.za</a></div>
        <div class="text-block">Support Telephone</div>
        <div class="text-block-2">082 135</div><a href="https://www.vodacom.co.za/vodacom/terms/fibre/vodacom-fibre" target="_blank" class="link">Fair Usage Policy</a></div>
    </div>
  </div>