﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.ProviderPackages>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
    Layout = "Web.cshtml";

    var url_string = Request.Url.ToString();

    bool isLte = Model.Content.Type.FirstOrDefault().Name == "LTE";
}

@* the fun starts here *@


@section Styles {
    <link href="~/css/faq.css" rel="stylesheet" type="text/css" />
}

<div class="checkout-header-banner">
    @*<div class="div-block-24"><a href="providers/vox.html" class="go-back-link w-inline-block"><img src="/images/back-arrow-green.svg" width="23" alt="" class="go-back-arrow"><p class="paragraph">Go Back</p></a></div>*@
    <div class="header-content-wrapper">
        <div class="checkout-header-info">
            <a href="" class="link-block-4 w-inline-block"><img src="@Model.Content.ProviderSmallLogo.Url" width="90" alt=""></a>
            <h1>@Model.Content.Type.FirstOrDefault().Name.ToUpper()</h1>

            <div class="package-overview">
                <div class="div-block-21">
                    <div class="rounded">


                        <div class='progress' role='progressbar' aria-valuemin='0' aria-valuemax='1000' aria-valuenow='50'></div>

                    </div>
                </div>
                <div class="div-block-22">
                    <div class="white-bold">@(isLte ? Model.Content.Data + "GB LTE" : Model.Content.Speed + "Mbps Fibre")</div>
                    <div class="div-block-23">
                        @Html.Raw(isLte ? "<img src='/images/day-icon_white.svg' width='35'>" : "<img src= '/images/upload-white-icon.svg' width='35' alt=''>")
                        <p class="text-large">@(isLte ? Model.Content.DayData + "GB" : Model.Content.Upload + "Mbps")</p>
                    </div>
                    <div class="div-block-23">
                        @Html.Raw(isLte ? "<img src='/images/night-icon_white.svg' width='35'>" : "<img src= '/images/download-green-icon.svg' width='35' alt=''>")
                        <p class="text-large green">@(isLte ? Model.Content.NightData + "GB" : Model.Content.Download + "Mbps Fibre")</p>
                    </div>
                    @if (Model.Content.HasValue("fNO"))
                    {
                        <div class="fno-text">@Model.Content.Price</div>
                    }

                </div>
            </div>
            <div class="package-legal-copywrite">
                <div class="text-block-3">
                    All prices per month & subject to change without prior notice..<br>
                    <br>@Model.Content.PackageDescription
                </div>
            </div>
        </div>
        <div class="checkout-header-form">
            <h2 class="white-h2">Fill in your details</h2>
            <div class="sub-heading-content white">An agent will be in contact shortly to complete your order.</div>
            <div class="form-checkout w-form">
                <div id="mauticform_wrapper_bestinternetgeneral" class="mauticform_wrapper">



                    <form autocomplete="false" role="form" method="post" action="https://campaign.igdigital.co.za/index.php/form/submit?formId=23" id="mauticform_bestinternetgeneral" data-mautic-form="bestinternetgeneral" enctype="multipart/form-data">
                        <div class="mauticform-error" id="mauticform_bestinternetgeneral_error"></div>
                        <div class="mauticform-message" id="mauticform_bestinternetgeneral_message"></div>
                        <div class="mauticform-innerform">



                            <div class="mauticform-page-wrapper mauticform-page-1" data-mautic-form-page="1">
                                <div id="mauticform_bestinternetgeneral_first_name" data-validate="first_name" data-validation-type="text" class="mauticform-row mauticform-text mauticform-field-1 mauticform-required">
                                    <label for="mauticform_input_bestinternetgeneral_first_name">First Name</label>
                                    <input id="mauticform_input_bestinternetgeneral_first_name" name="mauticform[first_name]" value="" placeholder="" class="mauticform-input" type="text">
                                    <span class="mauticform-errormsg" style="display: none;">First Name Required</span>
                                </div>



                                <div id="mauticform_bestinternetgeneral_last_name" data-validate="last_name" data-validation-type="text" class="mauticform-row mauticform-text mauticform-field-2 mauticform-required">
                                    <label for="mauticform_input_bestinternetgeneral_last_name">Surname</label>
                                    <input id="mauticform_input_bestinternetgeneral_last_name" name="mauticform[last_name]" value="" placeholder="" class="mauticform-input" type="text">
                                    <span class="mauticform-errormsg" style="display: none;">This is required.</span>
                                </div>
                                <div id="mauticform_bestinternetgeneral_cell_number1" data-validate="cell_number1" data-validation-type="tel" class="mauticform-row mauticform-tel mauticform-field-3 mauticform-required">
                                    <label for="mauticform_input_bestinternetgeneral_cell_number1">Cell Number</label>
                                    <input id="mauticform_input_bestinternetgeneral_cell_number1" name="mauticform[cell_number1]" value="" placeholder="" class="mauticform-input" type="tel">
                                    <span class="mauticform-errormsg" style="display: none;">Cell Number Required</span>
                                </div>
                                <div id="mauticform_bestinternetgeneral_email" data-validate="email" data-validation-type="email" class="mauticform-row mauticform-email mauticform-field-4 mauticform-required">
                                    <label for="mauticform_input_bestinternetgeneral_email">Email Address</label>
                                    <input id="mauticform_input_bestinternetgeneral_email" name="mauticform[email]" value="" placeholder="" class="mauticform-input" type="email">
                                    <span class="mauticform-errormsg" style="display: none;">Email Address Required</span>



                                </div>
                                <input id="mauticform_input_bestinternetgeneral_page_url" name="mauticform[page_url]" value="@url_string" class="mauticform-hidden" type="hidden">
                                <input id="mauticform_input_bestinternetgeneral_page_referrer1" name="mauticform[page_referrer1]" value="" class="mauticform-hidden" type="hidden">
                                <input id="mauticform_input_bestinternetgeneral_company" name="mauticform[company]" value="Best Internet" class="mauticform-hidden" type="hidden">
                                <input id="mauticform_input_bestinternetgeneral_isp" name="mauticform[isp]" value="@Model.Content.Provider.FirstOrDefault().Name" class="mauticform-hidden" type="hidden">
                                <input id="mauticform_input_bestinternetgeneral_fno" name="mauticform[fno]" value="@Model.Content.FNO.FirstOrDefault().Name" class="mauticform-hidden" type="hidden">
                                <input id="mauticform_input_bestinternetgeneral_package" name="mauticform[package]" value="@Model.Content.Name" class="mauticform-hidden" type="hidden">
                                <div id="mauticform_bestinternetgeneral_submit" class="mauticform-row mauticform-button-wrapper mauticform-field-11">
                                    <button type="submit" name="mauticform[submit]" id="mauticform_input_bestinternetgeneral_submit" value="" class="mauticform-button btn btn-default">SUBMIT</button>
                                </div>
                            </div>
                        </div>


                        <input type="hidden" name="mauticform[formId]" id="mauticform_bestinternetgeneral_id" value="23">
                        <input type="hidden" name="mauticform[return]" id="mauticform_bestinternetgeneral_return" value="">
                        <input type="hidden" name="mauticform[formName]" id="mauticform_bestinternetgeneral_name" value="bestinternetgeneral">
                    </form>



                </div>
                <div class="w-form-done">
                    <div>Thank you! Your submission has been received!</div>
                </div>
                <div class="w-form-fail">
                    <div>Oops! Something went wrong while submitting the form.</div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="introduction" class="faq-section">
    <div class="faq-container">
        <div class="faq-div-01">
            <h2 class="margin">Frequently asked questions</h2>
            <div class="faq-wrapper-checkout">
                <div class="faq-checkout-question">
                    <div class="faq-heading">How does it work?</div>
                </div>
                <div class="faq-checkout-content">
                    <p>Best Internet aims to provide for your internet needs all in a single place! Simply check your coverage to see product availability and submit your contact details for a call back! It’s as simple as that!</p>
                </div>
            </div>
            <div class="faq-wrapper-checkout">
                <div class="faq-checkout-question">
                    <div class="faq-heading">How long does it take?</div>
                </div>
                <div class="faq-checkout-content">
                    <p>The vetting process depends directly on the service provider approval timings, but delivery and installation of your deal can take between 5-10 days once approved by the chosen service provider.</p>
                </div>
            </div>
            <div class="faq-wrapper-checkout">
                <div class="faq-checkout-question">
                    <div class="faq-heading">Do you have a physical office I can visit?</div>
                </div>
                <div class="faq-checkout-content">
                    <p>We are an online store and do not have physical premises. You can contact us on our channels via our Contact Us Page. Visit our Facebook Page <a href="https://business.facebook.com/bestinternetza/" class="inline-link">here</a>.</p>
                </div>
            </div>
            <div class="faq-wrapper-checkout">
                <div class="faq-checkout-question">
                    <div class="faq-heading">Why choose Best Internet?</div>
                </div>
                <div class="faq-checkout-content">
                    <p>Best Internet serves as a resource to assist you during your internet shopping journey. We know that learning and browsing through deals can be daunting for you as a consumer, therefore we help you directly, to find the best Internet deal for you based on your coverage and choice. Our friendly consultants are on hand to help you with your questions and get you the service you deserve!</p>
                </div>
            </div>
            <div class="faq-wrapper-checkout">
                <div class="faq-checkout-question">
                    <div class="faq-heading">How can I track my order?</div>
                </div>
                <div class="faq-checkout-content">
                    <p>Need to know where your order is? Simply contact our friendly customer care department or drop us a private message via our Facebook page with your details.</p>
                </div>
            </div>
            <div class="faq-wrapper-checkout">
                <div class="faq-checkout-question">
                    <div class="faq-heading">Why pay an installation and/or activation fee?</div>
                </div>
                <div class="faq-checkout-content">
                    <p>While many providers cover the cost of these fees, there are times where you’ll be asked to pay a fee towards installation and/or activations. These fees cover the cost of cabling and any additional physical work that needs to be done on your property as well as the ONT box that your fibre line connects to. The activation fees come into play when getting you connected to an internet service. These costs are directly dependent on the providers.</p>
                </div>
            </div>
        </div>
        <div class="faq-div-01-copy">
            <h2 class="margin">What you will need?</h2>
            <div class="faq-wrapper">
                <div class="faq-question-div margin">
                    <div class="faq-heading margin-10">Coverage:</div>
                    <p>Check your coverage to see what products your area covers. If you opt for fibre, ensure that you have a Fibre to the Home line.</p>
                </div>
                <div class="faq-question-div margin">
                    <div class="faq-heading margin-10">Equipment:</div>
                    <p>Depending on your chosen deal you may or may not be offered a router. If you opt not take one through your service provider, ensure that you have the correct type for your connection I.e a WAN (Wide Area Network) router or a service provider approved LTE router.</p>
                </div><a href="/provider-details" class="link">See Provider Details &gt;&gt;</a>
            </div>
        </div>
    </div>
</div>


<script>

    document.getElementById("mauticform_input_bestinternetgeneral_page_referrer1").value = getCookie("page_url");

</script>

<script src="/js/circle-progress.js"></script>
<script>



   const cp = new CircleProgress('.progress', {
       max:  @if(Model.Content.HasValue("data")){ @Model.Content.Data; }else{@Model.Content.Speed; },
        value: @if(Model.Content.HasValue("data")){ @Model.Content.Data; ; }else{ @Model.Content.Speed;},
       startAngle: 215,

        animationDuration: 3000,
        textFormat: val => val + 'GB'
    });




</script>

<script>



</script>