﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.Redirect>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
    Layout = "Web.cshtml";



    PackagesListing packages = new PackagesListing(Umbraco.TypedContent(1143));

    string absoluteurl = HttpContext.Current.Request.Url.AbsoluteUri;
    List<IPublishedContent> openservePackages = null;
    List<IPublishedContent> vumatelPackages = null;
    List<IPublishedContent> balwinPackages = null;
    List<IPublishedContent> frogfootPackages = null;
    List<IPublishedContent> edgePackages = null;
    List<IPublishedContent> ttconnectPackages = null;
    List<IPublishedContent> evotelPackages = null;
    List<IPublishedContent> sadvPackages = null;
    List<IPublishedContent> netstreamPackages = null;
    List<IPublishedContent> octotelPackages = null;
    List<IPublishedContent> mtnPackages = null;
    List<IPublishedContent> telkomPackages = null;
    List<IPublishedContent> supersonicPackages = null;
    List<IPublishedContent> meyouPackages = null;
    List<IPublishedContent> voxPackages = null;
     

    if (absoluteurl.Contains("openserve"))
    {

        openservePackages = packages.Children(x => x.GetPropertyValue<IEnumerable<IPublishedContent>>("fno").FirstOrDefault().Name == "Openserve").OrderBy(x => x.GetPropertyValue("speed")).ToList(); //all packages that are of the current page

    }
    if (absoluteurl.Contains("vumatel") || absoluteurl.Contains("vumatelaerial") || absoluteurl.Contains("vumatelcore") || absoluteurl.Contains("vumatelcore") || absoluteurl.Contains("vumatelreach"))
    {

        vumatelPackages = packages.Children(x => x.GetPropertyValue<IEnumerable<IPublishedContent>>("fno").FirstOrDefault().Name == "Vumatel").OrderBy(x => x.GetPropertyValue("speed")).ToList(); //all packages that are of the current page

    }

    if (absoluteurl.Contains("balwin"))
    {

        balwinPackages = packages.Children(x => x.GetPropertyValue<IEnumerable<IPublishedContent>>("fno").FirstOrDefault().Name == "Balwin").OrderBy(x => x.GetPropertyValue("speed")).ToList(); //all packages that are of the current page

    }
    if (absoluteurl.Contains("frogfoot"))
    {

        frogfootPackages = packages.Children(x => x.GetPropertyValue<IEnumerable<IPublishedContent>>("fno").FirstOrDefault().Name == "Frogfoot").OrderBy(x => x.GetPropertyValue("speed")).ToList(); //all packages that are of the current page

    }
    if (absoluteurl.Contains("edge"))
    {

        edgePackages = packages.Children(x => x.GetPropertyValue<IEnumerable<IPublishedContent>>("fno").FirstOrDefault().Name == "Edge").OrderBy(x => x.GetPropertyValue("speed")).ToList(); //all packages that are of the current page

    }

    if (absoluteurl.Contains("tt-connect"))
    {

        ttconnectPackages = packages.Children(x => x.GetPropertyValue<IEnumerable<IPublishedContent>>("fno").FirstOrDefault().Name == "TT Connect").OrderBy(x => x.GetPropertyValue("speed")).ToList(); //all packages that are of the current page

    }
    if (absoluteurl.Contains("evotel"))
    {

        evotelPackages = packages.Children(x => x.GetPropertyValue<IEnumerable<IPublishedContent>>("fno").FirstOrDefault().Name == "Evotel").OrderBy(x => x.GetPropertyValue("speed")).ToList(); //all packages that are of the current page

    }
    if (absoluteurl.Contains("sadv") || absoluteurl.Contains("sadvmdu") || absoluteurl.Contains("sadvsdu") || absoluteurl.Contains("sadvsub"))
    {

        sadvPackages = packages.Children(x => x.GetPropertyValue<IEnumerable<IPublishedContent>>("fno").FirstOrDefault().Name == "SADV").OrderBy(x => x.GetPropertyValue("speed")).ToList(); //all packages that are of the current page

    }
    if (absoluteurl.Contains("netstream"))
    {

        netstreamPackages = packages.Children(x => x.GetPropertyValue<IEnumerable<IPublishedContent>>("fno").FirstOrDefault().Name == "Netstream").OrderBy(x => x.GetPropertyValue("speed")).ToList(); //all packages that are of the current page

    }
    if (absoluteurl.Contains("octotel"))
    {

        octotelPackages = packages.Children(x => x.GetPropertyValue<IEnumerable<IPublishedContent>>("fno").FirstOrDefault().Name == "Octotel").OrderBy(x => x.GetPropertyValue("speed")).ToList(); //all packages that are of the current page

    }
    if (absoluteurl.Contains("telkom"))
    {

        telkomPackages = packages.Children(x => x.GetPropertyValue<IEnumerable<IPublishedContent>>("provider").FirstOrDefault().Name == "Telkom").OrderBy(x => x.GetPropertyValue("speed")).ToList(); //all packages that are of the current page
        voxPackages = packages.Children(x => x.GetPropertyValue<IEnumerable<IPublishedContent>>("provider").FirstOrDefault().Name == "Vox").OrderBy(x => x.GetPropertyValue("speed")).ToList(); //all packages that are of the current page
     //voxPackages1 = voxPackages.Children(x => x.GetPropertyValue<IEnumerable<IPublishedContent>>("provider").FirstOrDefault().Name == "Vox").OrderBy(x => x.GetPropertyValue("speed")).ToList(); //all packages that are of the current page                                                                                                                                                                                              //voxPackages = packages.Children(x => x.GetPropertyValue<IEnumerable<IPublishedContent>>("provider").FirstOrDefault().Name == "Vox").OrderBy(x => x.GetPropertyValue("speed")).ToList(); //all packages that are of the current page

    }
    if (absoluteurl.Contains("mtn"))
    {

        mtnPackages = packages.Children(x => x.GetPropertyValue<IEnumerable<IPublishedContent>>("provider").FirstOrDefault().Name == "MTN").OrderBy(x => x.GetPropertyValue("speed")).ToList(); //all packages that are of the current page
        supersonicPackages = packages.Children(x => x.GetPropertyValue<IEnumerable<IPublishedContent>>("provider").FirstOrDefault().Name == "Supersonic").OrderBy(x => x.GetPropertyValue("speed")).ToList(); //all packages that are of the current page
        meyouPackages = packages.Children(x => x.GetPropertyValue<IEnumerable<IPublishedContent>>("provider").FirstOrDefault().Name == "me&you mobile").OrderBy(x => x.GetPropertyValue("speed")).ToList(); //all packages that are of the current page

    }


    DataList TypedataList = new DataList(Umbraco.TypedContent(1178));
    List<IPublishedContent> typeFilter = TypedataList.Children().ToList();

    DataList DataRangedataList = new DataList(Umbraco.TypedContent(1179));
    List<IPublishedContent> DataRangeFilter = DataRangedataList.Children().ToList();

    DataList PriceRangedataList = new DataList(Umbraco.TypedContent(1180));
    List<IPublishedContent> PriceRangeFilter = PriceRangedataList.Children().ToList();

    DataList SpeedRangedataList = new DataList(Umbraco.TypedContent(1181));
    List<IPublishedContent> SpeedRangeFilter = SpeedRangedataList.Children().ToList();

    Providers providers = new Providers(Umbraco.TypedContent(1145));
    List<IPublishedContent> providersFilter = providers.Children().ToList();

    FibreNetOperators fnos = new FibreNetOperators(Umbraco.TypedContent(1141));
    List<IPublishedContent> fnosFilter = fnos.Children().ToList();
}

@* the fun starts here *@



<div class="provider-header">
    <div class="provider-wrapper">
        @*<img src="@Model.Content.MainLogoOne" width="427" alt="" class="image-3">*@
        <div class="white-bold"><h1>Results</h1></div>
        <div class="white provider-text"><h3 style="color:white;">Below is a list of Packages available in your area. Explore all your options by using our filter feature.</h3></div>

    </div>

</div>



<div id="introduction" class="introduction-section">
    <div class="content-container">
        <h2>PACKAGE RESULTS</h2>
        <div class="faq-wrapper">
            <div class="faq-question-div">
                <img src="/images/plus-icon.svg" width="19" alt="" class="plus-icon"><img src="../images/minus-icon.svg" width="19" alt="" class="minus-icon">
                <div class="faq-heading">Filter Packages</div>
            </div>

            <div class="faq-content">
                <div class="filter-form w-form">
                    <form id="email-form-2" name="email-form-2" data-name="Email Form 2" class="form-3 filters">

                        <select id="field-5" name="field-5" data-name="Field 5" class="select-field w-select filter-select" value-group="provider">
                            <option value="">Provider</option>
                            @foreach (Provider prov in providersFilter)
                            {
                                <option value=".f@(prov.Id)">@prov.Name</option>


                            }

                        </select>

                        <select id="field-5" name="field-5" data-name="Field 5" class="select-field w-select filter-select" value-group="type">
                            <option value="">Type</option>
                            @foreach (DataItem type in typeFilter)
                            {
                                <option value=".f@(type.Id)">@type.Name</option>


                            }

                        </select>

                        <select id="field-4" name="field-4" data-name="Field 4" class="select-field w-select filter-select" value-group="dataRange">
                            <option value="">Data Range</option>
                            @foreach (DataItem dr in DataRangeFilter)
                            {
                                <option value=".f@(dr.Id)">@dr.Name</option>


                            }


                        </select>

                        <select id="field-3" name="field-3" data-name="Field 3" class="select-field w-select filter-select" value-group="priceRange">
                            <option value="">Pricing</option>
                            @foreach (DataItem pr in PriceRangeFilter)
                            {
                                <option value=".f@(pr.Id)">@pr.Name</option>


                            }
                        </select>

                        <select id="field-2" name="field-2" data-name="Field 2" class="select-field w-select filter-select" value-group="speedRange">
                            <option value="">Speed</option>
                            @foreach (DataItem sr in SpeedRangeFilter)
                            {
                                <option value=".f@(sr.Id)">@sr.Name</option>


                            }
                        </select>


                    </form>

                    <div class="w-form-done">
                        <div>Thank you! Your submission has been received!</div>
                    </div>
                    <div class="w-form-fail">
                        <div>Oops! Something went wrong while submitting the form.</div>
                    </div>


                </div>
            </div>

            <div class="faq-content-desktop">
                <div class="filter-form w-form">
                    <form id="email-form-2" name="email-form-2" data-name="Email Form 2" class="form-3 filters">

                        <select id="field-5" name="field-5" data-name="Field 5" class="select-field w-select filter-select" value-group="provider">
                            <option value="">Provider</option>
                            @foreach (Provider prov in providersFilter)
                            {
                                <option value=".f@(prov.Id)">@prov.Name</option>


                            }

                        </select>

                        <select id="field-5" name="field-5" data-name="Field 5" class="select-field w-select filter-select" value-group="type">
                            <option value="">Type</option>
                            @foreach (DataItem type in typeFilter)
                            {
                                <option value=".f@(type.Id)">@type.Name</option>


                            }

                        </select>

                        <select id="field-4" name="field-4" data-name="Field 4" class="select-field w-select filter-select" value-group="dataRange">
                            <option value="">Data Range</option>
                            @foreach (DataItem dr in DataRangeFilter)
                            {
                                <option value=".f@(dr.Id)">@dr.Name</option>


                            }


                        </select>

                        <select id="field-3" name="field-3" data-name="Field 3" class="select-field w-select filter-select" value-group="priceRange">
                            <option value="">Pricing</option>
                            @foreach (DataItem pr in PriceRangeFilter)
                            {
                                <option value=".f@(pr.Id)">@pr.Name</option>


                            }
                        </select>

                        <select id="field-2" name="field-2" data-name="Field 2" class="select-field w-select filter-select" value-group="speedRange">
                            <option value="">Speed</option>
                            @foreach (DataItem sr in SpeedRangeFilter)
                            {
                                <option value=".f@(sr.Id)">@sr.Name</option>


                            }
                        </select>


                    </form>

                    <div class="w-form-done">
                        <div>Thank you! Your submission has been received!</div>
                    </div>
                    <div class="w-form-fail">
                        <div>Oops! Something went wrong while submitting the form.</div>
                    </div>


                </div>
            </div>
        </div>
        <div class="div-block">
            <div class="package-grid w-layout-grid grid-2">
                @if (openservePackages != null)
                {
                    foreach (ProviderPackages package in openservePackages)
                    {
                        bool isLte = package.Type.FirstOrDefault().Name == "LTE";
                        <div class="grid-item f@(package.Provider.FirstOrDefault().Id) f@(package.Type.FirstOrDefault().Id) f@(package.DataRange.FirstOrDefault().Id) f@(package.PriceRange.FirstOrDefault().Id) f@(package.SpeedRange.FirstOrDefault().Id)">



                            <div class="card-container">
                                <div class="card-header-box">@Html.Raw(isLte ? "" : "<img src=" + @package.FnoSmallLogo.Url + " width='70'>")  </div><img src="@package.ProviderSmallLogo.Url" height="40" alt="" class="fno-logo-card">
                                <div class="card-speed-sub">@(isLte ? package.Data + "GB LTE" : package.Speed + "Mbps " + package.Type.FirstOrDefault().Name)</div>
                                <div class="card-speed-wrapper">
                                    <div class="card-speed-container">
                                        <img src="@(isLte ? "/images/day-icon.svg" : "/images/arrow-up.svg")" width="30" alt="" class="arrow-speed">
                                        <div class="card-speed-upload">@(isLte ? package.DayData + "GB" : package.Upload + "Mbps")</div>
                                        <div class="speed-sub">@(isLte ? "Day" : "Upload")</div>
                                    </div>
                                    <div class="card-speed-container">
                                        <img src="@(isLte ? "/images/night-icon.svg" : "/images/arrow-down.svg")" width="30" alt="" class="arrow-speed">
                                        <div class="card-speed-upload">@(isLte ? package.NightData + "GB" : package.Download + "Mbps")</div>
                                        <div class="speed-sub">@(isLte ? "Night" : "Download")</div>
                                    </div>
                                </div>
                                <div class="card-price">@package.Price/pm</div><a href="@package.Url" class="card-btn w-button">APPLY NOW</a>

                            </div>


                        </div>


                    }
                }


                @if (vumatelPackages != null)
                {
                    foreach (ProviderPackages package in vumatelPackages)
                    {
                        bool isLte = package.Type.FirstOrDefault().Name == "LTE";
                        <div class="grid-item f@(package.Provider.FirstOrDefault().Id) f@(package.Type.FirstOrDefault().Id) f@(package.DataRange.FirstOrDefault().Id) f@(package.PriceRange.FirstOrDefault().Id) f@(package.SpeedRange.FirstOrDefault().Id)">



                            <div class="card-container">
                                <div class="card-header-box">@Html.Raw(isLte ? "" : "<img src=" + @package.FnoSmallLogo.Url + " width='70'>")  </div><img src="@package.ProviderSmallLogo.Url" height="40" alt="" class="fno-logo-card">
                                <div class="card-speed-sub">@(isLte ? package.Data + "GB LTE" : package.Speed + "Mbps " + package.Type.FirstOrDefault().Name)</div>
                                <div class="card-speed-wrapper">
                                    <div class="card-speed-container">
                                        <img src="@(isLte ? "/images/day-icon.svg" : "/images/arrow-up.svg")" width="30" alt="" class="arrow-speed">
                                        <div class="card-speed-upload">@(isLte ? package.DayData + "GB" : package.Upload + "Mbps")</div>
                                        <div class="speed-sub">@(isLte ? "Day" : "Upload")</div>
                                    </div>
                                    <div class="card-speed-container">
                                        <img src="@(isLte ? "/images/night-icon.svg" : "/images/arrow-down.svg")" width="30" alt="" class="arrow-speed">
                                        <div class="card-speed-upload">@(isLte ? package.NightData + "GB" : package.Download + "Mbps")</div>
                                        <div class="speed-sub">@(isLte ? "Night" : "Download")</div>
                                    </div>
                                </div>
                                <div class="card-price">@package.Price/pm</div><a href="@package.Url" class="card-btn w-button">APPLY NOW</a>

                            </div>


                        </div>


                    }
                }

                @if (balwinPackages != null)
                {
                    foreach (ProviderPackages package in balwinPackages)
                    {
                        bool isLte = package.Type.FirstOrDefault().Name == "LTE";
                        <div class="grid-item f@(package.Provider.FirstOrDefault().Id) f@(package.Type.FirstOrDefault().Id) f@(package.DataRange.FirstOrDefault().Id) f@(package.PriceRange.FirstOrDefault().Id) f@(package.SpeedRange.FirstOrDefault().Id)">



                            <div class="card-container">
                                <div class="card-header-box">@Html.Raw(isLte ? "" : "<img src=" + @package.FnoSmallLogo.Url + " width='70'>")  </div><img src="@package.ProviderSmallLogo.Url" height="40" alt="" class="fno-logo-card">
                                <div class="card-speed-sub">@(isLte ? package.Data + "GB LTE" : package.Speed + "Mbps " + package.Type.FirstOrDefault().Name)</div>
                                <div class="card-speed-wrapper">
                                    <div class="card-speed-container">
                                        <img src="@(isLte ? "/images/day-icon.svg" : "/images/arrow-up.svg")" width="30" alt="" class="arrow-speed">
                                        <div class="card-speed-upload">@(isLte ? package.DayData + "GB" : package.Upload + "Mbps")</div>
                                        <div class="speed-sub">@(isLte ? "Day" : "Upload")</div>
                                    </div>
                                    <div class="card-speed-container">
                                        <img src="@(isLte ? "/images/night-icon.svg" : "/images/arrow-down.svg")" width="30" alt="" class="arrow-speed">
                                        <div class="card-speed-upload">@(isLte ? package.NightData + "GB" : package.Download + "Mbps")</div>
                                        <div class="speed-sub">@(isLte ? "Night" : "Download")</div>
                                    </div>
                                </div>
                                <div class="card-price">@package.Price/pm</div><a href="@package.Url" class="card-btn w-button">APPLY NOW</a>

                            </div>


                        </div>


                    }
                }
                @if (frogfootPackages != null)
                {
                    foreach (ProviderPackages package in frogfootPackages)
                    {
                        bool isLte = package.Type.FirstOrDefault().Name == "LTE";
                        <div class="grid-item f@(package.Provider.FirstOrDefault().Id) f@(package.Type.FirstOrDefault().Id) f@(package.DataRange.FirstOrDefault().Id) f@(package.PriceRange.FirstOrDefault().Id) f@(package.SpeedRange.FirstOrDefault().Id)">



                            <div class="card-container">
                                <div class="card-header-box">@Html.Raw(isLte ? "" : "<img src=" + @package.FnoSmallLogo.Url + " width='70'>")  </div><img src="@package.ProviderSmallLogo.Url" height="40" alt="" class="fno-logo-card">
                                <div class="card-speed-sub">@(isLte ? package.Data + "GB LTE" : package.Speed + "Mbps " + package.Type.FirstOrDefault().Name)</div>
                                <div class="card-speed-wrapper">
                                    <div class="card-speed-container">
                                        <img src="@(isLte ? "/images/day-icon.svg" : "/images/arrow-up.svg")" width="30" alt="" class="arrow-speed">
                                        <div class="card-speed-upload">@(isLte ? package.DayData + "GB" : package.Upload + "Mbps")</div>
                                        <div class="speed-sub">@(isLte ? "Day" : "Upload")</div>
                                    </div>
                                    <div class="card-speed-container">
                                        <img src="@(isLte ? "/images/night-icon.svg" : "/images/arrow-down.svg")" width="30" alt="" class="arrow-speed">
                                        <div class="card-speed-upload">@(isLte ? package.NightData + "GB" : package.Download + "Mbps")</div>
                                        <div class="speed-sub">@(isLte ? "Night" : "Download")</div>
                                    </div>
                                </div>
                                <div class="card-price">@package.Price/pm</div><a href="@package.Url" class="card-btn w-button">APPLY NOW</a>

                            </div>


                        </div>


                    }
                }

                @if (edgePackages != null)
                {
                    foreach (ProviderPackages package in edgePackages)
                    {
                        bool isLte = package.Type.FirstOrDefault().Name == "LTE";
                        <div class="grid-item f@(package.Provider.FirstOrDefault().Id) f@(package.Type.FirstOrDefault().Id) f@(package.DataRange.FirstOrDefault().Id) f@(package.PriceRange.FirstOrDefault().Id) f@(package.SpeedRange.FirstOrDefault().Id)">



                            <div class="card-container">
                                <div class="card-header-box">@Html.Raw(isLte ? "" : "<img src=" + @package.FnoSmallLogo.Url + " width='70'>")  </div><img src="@package.ProviderSmallLogo.Url" height="40" alt="" class="fno-logo-card">
                                <div class="card-speed-sub">@(isLte ? package.Data + "GB LTE" : package.Speed + "Mbps " + package.Type.FirstOrDefault().Name)</div>
                                <div class="card-speed-wrapper">
                                    <div class="card-speed-container">
                                        <img src="@(isLte ? "/images/day-icon.svg" : "/images/arrow-up.svg")" width="30" alt="" class="arrow-speed">
                                        <div class="card-speed-upload">@(isLte ? package.DayData + "GB" : package.Upload + "Mbps")</div>
                                        <div class="speed-sub">@(isLte ? "Day" : "Upload")</div>
                                    </div>
                                    <div class="card-speed-container">
                                        <img src="@(isLte ? "/images/night-icon.svg" : "/images/arrow-down.svg")" width="30" alt="" class="arrow-speed">
                                        <div class="card-speed-upload">@(isLte ? package.NightData + "GB" : package.Download + "Mbps")</div>
                                        <div class="speed-sub">@(isLte ? "Night" : "Download")</div>
                                    </div>
                                </div>
                                <div class="card-price">@package.Price/pm</div><a href="@package.Url" class="card-btn w-button">APPLY NOW</a>

                            </div>


                        </div>


                    }
                }

                @if (ttconnectPackages != null)
                {
                    foreach (ProviderPackages package in ttconnectPackages)
                    {
                        bool isLte = package.Type.FirstOrDefault().Name == "LTE";
                        <div class="grid-item f@(package.Provider.FirstOrDefault().Id) f@(package.Type.FirstOrDefault().Id) f@(package.DataRange.FirstOrDefault().Id) f@(package.PriceRange.FirstOrDefault().Id) f@(package.SpeedRange.FirstOrDefault().Id)">



                            <div class="card-container">
                                <div class="card-header-box">@Html.Raw(isLte ? "" : "<img src=" + @package.FnoSmallLogo.Url + " width='70'>")  </div><img src="@package.ProviderSmallLogo.Url" height="40" alt="" class="fno-logo-card">
                                <div class="card-speed-sub">@(isLte ? package.Data + "GB LTE" : package.Speed + "Mbps " + package.Type.FirstOrDefault().Name)</div>
                                <div class="card-speed-wrapper">
                                    <div class="card-speed-container">
                                        <img src="@(isLte ? "/images/day-icon.svg" : "/images/arrow-up.svg")" width="30" alt="" class="arrow-speed">
                                        <div class="card-speed-upload">@(isLte ? package.DayData + "GB" : package.Upload + "Mbps")</div>
                                        <div class="speed-sub">@(isLte ? "Day" : "Upload")</div>
                                    </div>
                                    <div class="card-speed-container">
                                        <img src="@(isLte ? "/images/night-icon.svg" : "/images/arrow-down.svg")" width="30" alt="" class="arrow-speed">
                                        <div class="card-speed-upload">@(isLte ? package.NightData + "GB" : package.Download + "Mbps")</div>
                                        <div class="speed-sub">@(isLte ? "Night" : "Download")</div>
                                    </div>
                                </div>
                                <div class="card-price">@package.Price/pm</div><a href="@package.Url" class="card-btn w-button">APPLY NOW</a>

                            </div>


                        </div>


                    }
                }
                @if (evotelPackages != null)
                {
                    foreach (ProviderPackages package in edgePackages)
                    {
                        bool isLte = package.Type.FirstOrDefault().Name == "LTE";
                        <div class="grid-item f@(package.Provider.FirstOrDefault().Id) f@(package.Type.FirstOrDefault().Id) f@(package.DataRange.FirstOrDefault().Id) f@(package.PriceRange.FirstOrDefault().Id) f@(package.SpeedRange.FirstOrDefault().Id)">



                            <div class="card-container">
                                <div class="card-header-box">@Html.Raw(isLte ? "" : "<img src=" + @package.FnoSmallLogo.Url + " width='70'>")  </div><img src="@package.ProviderSmallLogo.Url" height="40" alt="" class="fno-logo-card">
                                <div class="card-speed-sub">@(isLte ? package.Data + "GB LTE" : package.Speed + "Mbps " + package.Type.FirstOrDefault().Name)</div>
                                <div class="card-speed-wrapper">
                                    <div class="card-speed-container">
                                        <img src="@(isLte ? "/images/day-icon.svg" : "/images/arrow-up.svg")" width="30" alt="" class="arrow-speed">
                                        <div class="card-speed-upload">@(isLte ? package.DayData + "GB" : package.Upload + "Mbps")</div>
                                        <div class="speed-sub">@(isLte ? "Day" : "Upload")</div>
                                    </div>
                                    <div class="card-speed-container">
                                        <img src="@(isLte ? "/images/night-icon.svg" : "/images/arrow-down.svg")" width="30" alt="" class="arrow-speed">
                                        <div class="card-speed-upload">@(isLte ? package.NightData + "GB" : package.Download + "Mbps")</div>
                                        <div class="speed-sub">@(isLte ? "Night" : "Download")</div>
                                    </div>
                                </div>
                                <div class="card-price">@package.Price/pm</div><a href="@package.Url" class="card-btn w-button">APPLY NOW</a>

                            </div>


                        </div>


                    }
                }
                @if (sadvPackages != null)
                {
                    foreach (ProviderPackages package in sadvPackages)
                    {
                        bool isLte = package.Type.FirstOrDefault().Name == "LTE";
                        <div class="grid-item f@(package.Provider.FirstOrDefault().Id) f@(package.Type.FirstOrDefault().Id) f@(package.DataRange.FirstOrDefault().Id) f@(package.PriceRange.FirstOrDefault().Id) f@(package.SpeedRange.FirstOrDefault().Id)">



                            <div class="card-container">
                                <div class="card-header-box">@Html.Raw(isLte ? "" : "<img src=" + @package.FnoSmallLogo.Url + " width='70'>")  </div><img src="@package.ProviderSmallLogo.Url" height="40" alt="" class="fno-logo-card">
                                <div class="card-speed-sub">@(isLte ? package.Data + "GB LTE" : package.Speed + "Mbps " + package.Type.FirstOrDefault().Name)</div>
                                <div class="card-speed-wrapper">
                                    <div class="card-speed-container">
                                        <img src="@(isLte ? "/images/day-icon.svg" : "/images/arrow-up.svg")" width="30" alt="" class="arrow-speed">
                                        <div class="card-speed-upload">@(isLte ? package.DayData + "GB" : package.Upload + "Mbps")</div>
                                        <div class="speed-sub">@(isLte ? "Day" : "Upload")</div>
                                    </div>
                                    <div class="card-speed-container">
                                        <img src="@(isLte ? "/images/night-icon.svg" : "/images/arrow-down.svg")" width="30" alt="" class="arrow-speed">
                                        <div class="card-speed-upload">@(isLte ? package.NightData + "GB" : package.Download + "Mbps")</div>
                                        <div class="speed-sub">@(isLte ? "Night" : "Download")</div>
                                    </div>
                                </div>
                                <div class="card-price">@package.Price/pm</div><a href="@package.Url" class="card-btn w-button">APPLY NOW</a>

                            </div>


                        </div>


                    }
                }
                @if (netstreamPackages != null)
                {
                    foreach (ProviderPackages package in netstreamPackages)
                    {
                        bool isLte = package.Type.FirstOrDefault().Name == "LTE";
                        <div class="grid-item f@(package.Provider.FirstOrDefault().Id) f@(package.Type.FirstOrDefault().Id) f@(package.DataRange.FirstOrDefault().Id) f@(package.PriceRange.FirstOrDefault().Id) f@(package.SpeedRange.FirstOrDefault().Id)">



                            <div class="card-container">
                                <div class="card-header-box">@Html.Raw(isLte ? "" : "<img src=" + @package.FnoSmallLogo.Url + " width='70'>")  </div><img src="@package.ProviderSmallLogo.Url" height="40" alt="" class="fno-logo-card">
                                <div class="card-speed-sub">@(isLte ? package.Data + "GB LTE" : package.Speed + "Mbps " + package.Type.FirstOrDefault().Name)</div>
                                <div class="card-speed-wrapper">
                                    <div class="card-speed-container">
                                        <img src="@(isLte ? "/images/day-icon.svg" : "/images/arrow-up.svg")" width="30" alt="" class="arrow-speed">
                                        <div class="card-speed-upload">@(isLte ? package.DayData + "GB" : package.Upload + "Mbps")</div>
                                        <div class="speed-sub">@(isLte ? "Day" : "Upload")</div>
                                    </div>
                                    <div class="card-speed-container">
                                        <img src="@(isLte ? "/images/night-icon.svg" : "/images/arrow-down.svg")" width="30" alt="" class="arrow-speed">
                                        <div class="card-speed-upload">@(isLte ? package.NightData + "GB" : package.Download + "Mbps")</div>
                                        <div class="speed-sub">@(isLte ? "Night" : "Download")</div>
                                    </div>
                                </div>
                                <div class="card-price">@package.Price/pm</div><a href="@package.Url" class="card-btn w-button">APPLY NOW</a>

                            </div>


                        </div>


                    }
                }
                @if (octotelPackages != null)
                {
                    foreach (ProviderPackages package in octotelPackages)
                    {
                        bool isLte = package.Type.FirstOrDefault().Name == "LTE";
                        <div class="grid-item f@(package.Provider.FirstOrDefault().Id) f@(package.Type.FirstOrDefault().Id) f@(package.DataRange.FirstOrDefault().Id) f@(package.PriceRange.FirstOrDefault().Id) f@(package.SpeedRange.FirstOrDefault().Id)">



                            <div class="card-container">
                                <div class="card-header-box">@Html.Raw(isLte ? "" : "<img src=" + @package.FnoSmallLogo.Url + " width='70'>")  </div><img src="@package.ProviderSmallLogo.Url" height="40" alt="" class="fno-logo-card">
                                <div class="card-speed-sub">@(isLte ? package.Data + "GB LTE" : package.Speed + "Mbps " + package.Type.FirstOrDefault().Name)</div>
                                <div class="card-speed-wrapper">
                                    <div class="card-speed-container">
                                        <img src="@(isLte ? "/images/day-icon.svg" : "/images/arrow-up.svg")" width="30" alt="" class="arrow-speed">
                                        <div class="card-speed-upload">@(isLte ? package.DayData + "GB" : package.Upload + "Mbps")</div>
                                        <div class="speed-sub">@(isLte ? "Day" : "Upload")</div>
                                    </div>
                                    <div class="card-speed-container">
                                        <img src="@(isLte ? "/images/night-icon.svg" : "/images/arrow-down.svg")" width="30" alt="" class="arrow-speed">
                                        <div class="card-speed-upload">@(isLte ? package.NightData + "GB" : package.Download + "Mbps")</div>
                                        <div class="speed-sub">@(isLte ? "Night" : "Download")</div>
                                    </div>
                                </div>
                                <div class="card-price">@package.Price/pm</div><a href="@package.Url" class="card-btn w-button">APPLY NOW</a>

                            </div>


                        </div>


                    }
                }
                @if (telkomPackages != null)
                {
                    foreach (ProviderPackages package in telkomPackages)
                    {
                        if (package.Type.FirstOrDefault().Name == "LTE")
                        {
                            bool isLte = package.Type.FirstOrDefault().Name == "LTE";
                            <div class="grid-item f@(package.Provider.FirstOrDefault().Id) f@(package.Type.FirstOrDefault().Id) f@(package.DataRange.FirstOrDefault().Id) f@(package.PriceRange.FirstOrDefault().Id) f@(package.SpeedRange.FirstOrDefault().Id)">



                                <div class="card-container">
                                    <div class="card-header-box">@Html.Raw(isLte ? "" : "<img src=" + @package.FnoSmallLogo.Url + " width='70'>")  </div><img src="@package.ProviderSmallLogo.Url" height="40" alt="" class="fno-logo-card">
                                    <div class="card-speed-sub">@(isLte ? package.Data + "GB LTE" : package.Speed + "Mbps " + package.Type.FirstOrDefault().Name)</div>
                                    <div class="card-speed-wrapper">
                                        <div class="card-speed-container">
                                            <img src="@(isLte ? "/images/day-icon.svg" : "/images/arrow-up.svg")" width="30" alt="" class="arrow-speed">
                                            <div class="card-speed-upload">@(isLte ? package.DayData + "GB" : package.Upload + "Mbps")</div>
                                            <div class="speed-sub">@(isLte ? "Day" : "Upload")</div>
                                        </div>
                                        <div class="card-speed-container">
                                            <img src="@(isLte ? "/images/night-icon.svg" : "/images/arrow-down.svg")" width="30" alt="" class="arrow-speed">
                                            <div class="card-speed-upload">@(isLte ? package.NightData + "GB" : package.Download + "Mbps")</div>
                                            <div class="speed-sub">@(isLte ? "Night" : "Download")</div>
                                        </div>
                                    </div>
                                    <div class="card-price">@package.Price/pm</div><a href="@package.Url" class="card-btn w-button">APPLY NOW</a>

                                </div>


                            </div>

                        }


                    }
                }
                @if (mtnPackages != null)
                {
                    foreach (ProviderPackages package in mtnPackages)
                    {
                        if (package.Type.FirstOrDefault().Name == "LTE")
                        {
                            bool isLte = package.Type.FirstOrDefault().Name == "LTE";
                            <div class="grid-item f@(package.Provider.FirstOrDefault().Id) f@(package.Type.FirstOrDefault().Id) f@(package.DataRange.FirstOrDefault().Id) f@(package.PriceRange.FirstOrDefault().Id) f@(package.SpeedRange.FirstOrDefault().Id)">



                                <div class="card-container">
                                    <div class="card-header-box">@Html.Raw(isLte ? "" : "<img src=" + @package.FnoSmallLogo.Url + " width='70'>")  </div><img src="@package.ProviderSmallLogo.Url" height="40" alt="" class="fno-logo-card">
                                    <div class="card-speed-sub">@(isLte ? package.Data + "GB LTE" : package.Speed + "Mbps " + package.Type.FirstOrDefault().Name)</div>
                                    <div class="card-speed-wrapper">
                                        <div class="card-speed-container">
                                            <img src="@(isLte ? "/images/day-icon.svg" : "/images/arrow-up.svg")" width="30" alt="" class="arrow-speed">
                                            <div class="card-speed-upload">@(isLte ? package.DayData + "GB" : package.Upload + "Mbps")</div>
                                            <div class="speed-sub">@(isLte ? "Day" : "Upload")</div>
                                        </div>
                                        <div class="card-speed-container">
                                            <img src="@(isLte ? "/images/night-icon.svg" : "/images/arrow-down.svg")" width="30" alt="" class="arrow-speed">
                                            <div class="card-speed-upload">@(isLte ? package.NightData + "GB" : package.Download + "Mbps")</div>
                                            <div class="speed-sub">@(isLte ? "Night" : "Download")</div>
                                        </div>
                                    </div>
                                    <div class="card-price">@package.Price/pm</div><a href="@package.Url" class="card-btn w-button">APPLY NOW</a>

                                </div>


                            </div>

                        }


                    }
                }
                @if (supersonicPackages != null)
                {
                    foreach (ProviderPackages package in supersonicPackages)
                    {
                        if (package.Type.FirstOrDefault().Name == "LTE")
                        {
                            bool isLte = package.Type.FirstOrDefault().Name == "LTE";
                            <div class="grid-item f@(package.Provider.FirstOrDefault().Id) f@(package.Type.FirstOrDefault().Id) f@(package.DataRange.FirstOrDefault().Id) f@(package.PriceRange.FirstOrDefault().Id) f@(package.SpeedRange.FirstOrDefault().Id)">



                                <div class="card-container">
                                    <div class="card-header-box">@Html.Raw(isLte ? "" : "<img src=" + @package.FnoSmallLogo.Url + " width='70'>")  </div><img src="@package.ProviderSmallLogo.Url" height="40" alt="" class="fno-logo-card">
                                    <div class="card-speed-sub">@(isLte ? package.Data + "GB LTE" : package.Speed + "Mbps " + package.Type.FirstOrDefault().Name)</div>
                                    <div class="card-speed-wrapper">
                                        <div class="card-speed-container">
                                            <img src="@(isLte ? "/images/day-icon.svg" : "/images/arrow-up.svg")" width="30" alt="" class="arrow-speed">
                                            <div class="card-speed-upload">@(isLte ? package.DayData + "GB" : package.Upload + "Mbps")</div>
                                            <div class="speed-sub">@(isLte ? "Day" : "Upload")</div>
                                        </div>
                                        <div class="card-speed-container">
                                            <img src="@(isLte ? "/images/night-icon.svg" : "/images/arrow-down.svg")" width="30" alt="" class="arrow-speed">
                                            <div class="card-speed-upload">@(isLte ? package.NightData + "GB" : package.Download + "Mbps")</div>
                                            <div class="speed-sub">@(isLte ? "Night" : "Download")</div>
                                        </div>
                                    </div>
                                    <div class="card-price">@package.Price/pm</div><a href="@package.Url" class="card-btn w-button">APPLY NOW</a>

                                </div>


                            </div>

                        }


                    }
                }
                @if (meyouPackages != null)
                {
                    foreach (ProviderPackages package in meyouPackages)
                    {
                        bool isLte = package.Type.FirstOrDefault().Name == "LTE";
                        <div class="grid-item f@(package.Provider.FirstOrDefault().Id) f@(package.Type.FirstOrDefault().Id) f@(package.DataRange.FirstOrDefault().Id) f@(package.PriceRange.FirstOrDefault().Id) f@(package.SpeedRange.FirstOrDefault().Id)">



                            <div class="card-container">
                                <div class="card-header-box">@Html.Raw(isLte ? "" : "<img src=" + @package.FnoSmallLogo.Url + " width='70'>")  </div><img src="@package.ProviderSmallLogo.Url" height="40" alt="" class="fno-logo-card">
                                <div class="card-speed-sub">@(isLte ? package.Data + "GB LTE" : package.Speed + "Mbps " + package.Type.FirstOrDefault().Name)</div>
                                <div class="card-speed-wrapper">
                                    <div class="card-speed-container">
                                        <img src="@(isLte ? "/images/day-icon.svg" : "/images/arrow-up.svg")" width="30" alt="" class="arrow-speed">
                                        <div class="card-speed-upload">@(isLte ? package.DayData + "GB" : package.Upload + "Mbps")</div>
                                        <div class="speed-sub">@(isLte ? "Day" : "Upload")</div>
                                    </div>
                                    <div class="card-speed-container">
                                        <img src="@(isLte ? "/images/night-icon.svg" : "/images/arrow-down.svg")" width="30" alt="" class="arrow-speed">
                                        <div class="card-speed-upload">@(isLte ? package.NightData + "GB" : package.Download + "Mbps")</div>
                                        <div class="speed-sub">@(isLte ? "Night" : "Download")</div>
                                    </div>
                                </div>
                                <div class="card-price">@package.Price/pm</div><a href="@package.Url" class="card-btn w-button">APPLY NOW</a>

                            </div>


                        </div>


                    }
                }
                @if (voxPackages != null)
                {
                    foreach (ProviderPackages package in voxPackages)
                    {
                        if (package.Type.FirstOrDefault().Name == "LTE")
                        {
                            bool isLte = package.Type.FirstOrDefault().Name == "LTE";

                            <div class="grid-item f@(package.Provider.FirstOrDefault().Id) f@(package.Type.FirstOrDefault().Id) f@(package.DataRange.FirstOrDefault().Id) f@(package.PriceRange.FirstOrDefault().Id) f@(package.SpeedRange.FirstOrDefault().Id)">



                                <div class="card-container">
                                    <div class="card-header-box">@Html.Raw(isLte ? "" : "<img src=" + @package.FnoSmallLogo.Url + " width='70'>")  </div><img src="@package.ProviderSmallLogo.Url" height="40" alt="" class="fno-logo-card">
                                    <div class="card-speed-sub">@(isLte ? package.Data + "GB LTE" : package.Speed + "Mbps " + package.Type.FirstOrDefault().Name)</div>
                                    <div class="card-speed-wrapper">
                                        <div class="card-speed-container">
                                            <img src="@(isLte ? "/images/day-icon.svg" : "/images/arrow-up.svg")" width="30" alt="" class="arrow-speed">
                                            <div class="card-speed-upload">@(isLte ? package.DayData + "GB" : package.Upload + "Mbps")</div>
                                            <div class="speed-sub">@(isLte ? "Day" : "Upload")</div>
                                        </div>
                                        <div class="card-speed-container">
                                            <img src="@(isLte ? "/images/night-icon.svg" : "/images/arrow-down.svg")" width="30" alt="" class="arrow-speed">
                                            <div class="card-speed-upload">@(isLte ? package.NightData + "GB" : package.Download + "Mbps")</div>
                                            <div class="speed-sub">@(isLte ? "Night" : "Download")</div>
                                        </div>
                                    </div>
                                    <div class="card-price">@package.Price/pm</div><a href="@package.Url" class="card-btn w-button">APPLY NOW</a>

                                </div>


                            </div>

                        }


                    }
                }

            </div>
        </div>


    </div>
</div>



@*<script>


         var url_string = window.location.href;

         //var url_string = "https://bestinternet.co.za/redirect.html?address=The Centenary Building, 30 Meridian Dr, Umhlanga, Durban, 4319, South Africa&latitude=-29.720912&longitude=31.063479&province=KwaZulu-Natal&town=Durban&suburb=Umhlanga&street=Meridian Drive&streetnumber=30&postalcode=4319&status=planned,live&fno=openserve,telkom&service=fibre";
          var url = new URL(url_string);
          var fno = url.searchParams.get("fno");
          var address = url.searchParams.get("address");


          if(fno.includes("openserve")){
             window.open("/fnos/openserve?address="+address+"#packages", "_self");
             }else if(fno.includes("vumatel") || fno.includes("vumatelaerial")){

                window.open("/fnos/vumatel?address="+address+"#packages", "_self");
                }else if(fno.includes("octotel")){

                window.open("/fnos/octotel?address="+address, "_self");
                }else if(fno.includes("frogfoot")){

                    window.open("/fnos/frogfoot?address="+address+"#packages", "_self");
                }else if(fno.includes("sadvmdu") || fno.includes("sadvsdu") || fno.includes("sadvsub")){

                    window.open("/fnos/sadv?address="+address+"#packages", "_self");
                }else if(fno.includes("ttconnect")){

                    window.open("/fnos/tt-connect?address="+address+"#packages", "_self");
                }else if(fno.includes("netstream")){

                    window.open("/fnos/netstream?address="+address+"#packages", "_self");
                }else if(fno.includes("balwin")){

                    window.open("/fnos/balwin?address="+address+"#packages", "_self");
                }else if(fno.includes("mweb")){

                    window.open("/providers/mweb-lte?address="+address+"#packages", "_self");
                }else if(fno.includes("evotel")){

                    window.open("/fnos/evotel?address="+address+"#packages", "_self");
                }else if(fno.includes("maboneng")){

                    window.open("/fnos/maboneng?address="+address+"#packages", "_self");
                }else if(fno.includes("vumatel") || fno.includes("vumatelaerial") || fno.includes("vumatelcore") || fno.includes("vumatelreach")){

                window.open("/fnos/vumatel?address="+address+"#packages", "_self");
                }else{

                //if not above, prioritise the first one

                var fno = fno + ',';

                var fno = fno.substring(0, fno.indexOf(','));


                if(fno == 'telkom'){

                    window.open("/providers/supersonic-lte?address="+address+"#packages", "_self");
                }

                if(fno == 'supersonic'){
                    window.open("/providers/supersonic-lte?address="+address+"#packages", "_self");
                }

                if(fno == 'openserve'){
                    window.open("/fnos/openserve?address="+address+"#packages", "_self");
                }

                if(fno == 'vodacom'){
                    window.open("/providers/vodacom-lte?address="+address+"#packages", "_self");
                }

                if(fno == 'mtn'){
                    window.open("/providers/mtn-lte?address="+address+"#packages", "_self");
                }

                if(fno == 'none' || fno == '' || fno == null){
                    window.open("/fibre?address="+address, "_self");
                }
             }


    </script>*@
