﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.Satelite>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
    Layout = "Solutions.cshtml";

          PackagesListing packages = new PackagesListing(Umbraco.TypedContent(1143));



}

@* the fun starts here *@

<div style="background-image:url(@Model.Content.BannerImage.Url)" class="subpage-header satellite">
    <div class="header-content-wrapper">
        <div class="header-content-box">
            <h1>SATELLITE DEALS</h1>
            <p class="white">YahClick is Vox’s Satellite-powered broadband service. Our devices connect users by locking onto spot beams instead of full spectrum bandwidth, making it highly efficient and very affordable</p>
            <div class="header-btn-wrapper"><a href="#introduction" class="header-btn-green w-button">VIEW DEALS</a><a href="#how-it-works-section" class="header-btn-stroke w-button">HOW IT WORKS</a></div>
        </div>
    </div>
</div>
<div id="introduction" class="introduction-section">
    <div class="content-container">
        <h2>SATELLITE PACKAGES</h2>
        <div class="div-block">
            @foreach (ProviderPackages package in Model.Content.SatelliteDeals)
            {
            <div id="card" class="card-container">
                <div class="card-header-box"> @Html.Raw(package.HasValue("FnoSmallLogo") ? "<img src=" + @package.FnoSmallLogo.Url + " width='70' alt=''>" : "")</div><img src="@package.ProviderSmallLogo.Url" height="40" alt="" class="fno-logo-card">
                <div class="card-speed-sub">@package.Speed MBPS Uncapped</div>
                <div class="card-speed-wrapper">
                    <div class="card-speed-container">
                        <img src="/images/arrow-up.svg" width="30" alt="" class="arrow-speed">
                        <div class="card-speed-upload">@package.Upload Mbps</div>
                        <div class="speed-sub">Upload</div>
                    </div>
                    <div class="card-speed-container">
                        <img src="/images/arrow-down.svg" width="30" alt="" class="arrow-speed">
                        <div class="card-speed-upload">@package.Download Mbps</div>
                        <div class="speed-sub">Download</div>
                    </div>
                </div>
                <div class="card-price">@package.Price/pm</div><a href="@package.Url" class="card-btn w-button">APPLY NOW</a>

                @Html.Raw(Model.Content.SatelliteDeals.FirstOrDefault().Id == package.Id ? "<img src='/images/best-value-ribbon.svg' width='131' alt='' class='ribbon-tag'>" : "")
               
            </div>

            }

         
        </div>
    </div>
</div>
<div class="product-overview-section">
    <h2 class="heading margin-bot">Product Overview</h2>
    <p class="centre _980">YahClick from Vox is a cutting-edge, Ka-band, broadband satellite service that delivers reliable, high-speed internet connectivity to users in areas with limited or no internet access, at costs comparable to current terrestrial services. YahClick is available in a range of packages that suit any environment and user segment, right from basic internet access for home users through to high speed service plans for corporate users. It offers uploads and it’s also quick to install, which means that you no longer need to wait weeks for installation or put up with poor signal and cable theft. The need for affordable, reliable connectivity is higher than ever and Vox’s YahClick product will ensure that satellite is a viable option for any South African.</p>
    <div class="div-block-25">
        <div class="w-layout-grid grid-4">
            <div class="benefits-card">
                <div class="div-block-26"><img src="/images/green-arrow-right.svg" width="36" alt=""></div>
                <div class="div-block-27">
                    <p class="white-p">Fast, reliable and wide reaching internet access.</p>
                </div>
            </div>
            <div class="benefits-card">
                <div class="div-block-26"><img src="/images/green-arrow-right.svg" width="36" alt=""></div>
                <div class="div-block-27">
                    <p class="white-p">No longer a need to worry about fixed line availability, cable theft or poor signal strength</p>
                </div>
            </div>
            <div class="benefits-card">
                <div class="div-block-26"><img src="/images/green-arrow-right.svg" width="36" alt=""></div>
                <div class="div-block-27">
                    <p class="white-p">Quick to install, with professional installers on standby around the country</p>
                </div>
            </div>
            <div class="benefits-card">
                <div class="div-block-26"><img src="/images/green-arrow-right.svg" width="36" alt=""></div>
                <div class="div-block-27">
                    <p class="white-p">Cost-effective broadband due to <br>cutting-edge technology</p>
                </div>
            </div>
            <div class="benefits-card">
                <div class="div-block-26"><img src="/images/green-arrow-right.svg" width="36" alt=""></div>
                <div class="div-block-27">
                    <p class="white-p">Perfect for home and business users.</p>
                </div>
            </div>
            <div class="benefits-card">
                <div class="div-block-26"><img src="/images/green-arrow-right.svg" width="36" alt=""></div>
                <div class="div-block-27">
                    <p class="white-p">Unlimited uploads</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="how-it-works-section" class="how-it-works-section">
    <h2 class="heading white-h2">How it works</h2>
    <div class="div-block-28"><img src="/images/infographic.svg" alt="" class="image-20"></div>
</div>
<div class="features-section">
    <div class="feature-container">
        <div class="feature-wrapper">
            <h2 class="heading margin-bot">New Technology</h2>
            <p class="margin-bot">YahClick technology is based on something called Ka multi-spot beams, which is a major differentiator to traditional satellite technology. While satellite internet isn’t a new technology, cutting-edge “frequency reuse” maximises spectrum efficiency and means that YahClick is perfect for home and business broadband needs.</p>
            <div class="sub-heading-content bold">Here is why:</div>
            <ul class="list">
                <li class="list-item">Ka-band makes use of “spot beams” rather than broadcasting over an entire continent, which results in far more efficient use of the available bandwidth and a lower cost to you.</li>
                <li class="list-item">Ka-band doesn’t require a very large dish outside your home or office to produce high speed internet in either direction (high speed downloads and uploads).</li>
                <li class="list-item">YahClick is specifically designed around Ka-band technology and acceleration or frequency reuse techniques have been implemented to ensure high-speed performance.</li>
            </ul>
        </div>
        <div class="feature-wrapper map"></div>
    </div>
    <div class="features-container">
        <h3 class="heading margin-bot">Features and Benefits</h3>
        <div class="div-block-30">
            <div class="list-wrapper-01">
                <ul>
                    <li class="feature-list-item">High speed internet connection almost anywhere in South Africa</li>
                </ul>
                <ul>
                    <li class="feature-list-item">Completely independent of traditional connection mediums such as ADSL and GSM/3G</li>
                </ul>
                <ul>
                    <li class="feature-list-item">Unlimited downloads during the Free Zone(01h00 – 06h00) for consumer and business packages</li>
                </ul>
            </div>
            <div class="list-wrapper-01">
                <ul>
                    <li class="feature-list-item">Additional data can be added and packages adjusted inthe user-friendly YahClick customer zone</li>
                </ul>
                <ul>
                    <li class="feature-list-item">Static IP addresses on selected business packages</li>
                </ul>
                <ul>
                    <li class="feature-list-item">Quick installation times</li>
                </ul>
            </div>
        </div>
    </div>
</div>