﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.SingleProvider>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
	Layout = null;
}

@{

    var selection = Model.Content.Site().FirstChild("providers").Children()
                        .Where(x => x.IsVisible())
                        .Where(x => x.Name == "Vox");


    //var root = Umbraco.TypedContentAtRoot()
    //    .Where(x => x.DocumentTypeAlias == "packagesFolder").First();

    //var child = root.Children.Where(x => x.DocumentTypeAlias == "providerFolder").First();
    //var child1 = child.Children.Where(x => x.DocumentTypeAlias == "vox").First();

    //var providerPackages = child1.Children.Where(x => x.DocumentTypeAlias == "packagesFolder").First();



}



@* the fun starts here *@



@foreach (var item in selection)
{
    <div class="provider-header">
        <div class="provider-wrapper">
            <img src="/images/vox-color.svg" width="427" alt="" class="image-3">
            <div class="white-bold">@item.GetPropertyValue("bannerHeader")</div>
            <p class="white provider-text">Bringing you innovative internet solutions that aim to serve all your internet needs; <br>VOX boasts a range of premium, unshaped data deals on affordable rates!</p>
        </div>
        @item.GetPropertyValue("type")
    </div>
    <div class="introduction-strip">
        <p class="content-strip">Speeds that can go up to 1GB per second with capped and uncapped bundles available; no matter the deal chosen, you can relish fast and reliable internet connections with steady after-sale support and an option of month-to-month deals so you have freedom from long term contracts.  Connect to multiple devices after you build your personal package to enjoy a deal suited to your taste.</p>
    </div>
}




<div id="introduction" class="introduction-section">
    <div class="content-container">
        <h2>PACKAGE RESULTS</h2>
        <div class="faq-wrapper">
            <div class="faq-question-div">
                <img src="../images/plus-icon.svg" width="19" alt="" class="plus-icon"><img src="../images/minus-icon.svg" width="19" alt="" class="minus-icon">
                <div class="faq-heading">Filter Packages</div>
            </div>
            <div class="faq-content">
                <div class="filter-form w-form">
                    <form id="email-form-2" name="email-form-2" data-name="Email Form 2" class="form-3"><select id="field" name="field" class="select-field w-select"><option value="fno">FNO</option><option value="First">First Choice</option><option value="Second">Second Choice</option><option value="Third">Third Choice</option></select><select id="field-6" name="field-6" data-name="Field 6" class="select-field w-select"><option value="providers">Providers</option><option value="First">First Choice</option><option value="Second">Second Choice</option><option value="Third">Third Choice</option></select><select id="field-5" name="field-5" data-name="Field 5" class="select-field w-select"><option value="type">Type</option><option value="First">First Choice</option><option value="Second">Second Choice</option><option value="Third">Third Choice</option></select><select id="field-4" name="field-4" data-name="Field 4" class="select-field w-select"><option value="datacap">Data Cap</option><option value="First">First Choice</option><option value="Second">Second Choice</option><option value="Third">Third Choice</option></select><select id="field-3" name="field-3" data-name="Field 3" class="select-field w-select"><option value="pricing">Pricing</option><option value="First">First Choice</option><option value="Second">Second Choice</option><option value="Third">Third Choice</option></select><select id="field-2" name="field-2" data-name="Field 2" class="select-field w-select"><option value="speed">Speed</option><option value="First">First Choice</option><option value="Second">Second Choice</option><option value="Third">Third Choice</option></select><input type="submit" value="Submit" data-wait="Please wait..." class="design-btn w-button"></form>
                    <div class="w-form-done">
                        <div>Thank you! Your submission has been received!</div>
                    </div>
                    <div class="w-form-fail">
                        <div>Oops! Something went wrong while submitting the form.</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="div-block">
            <div class="w-layout-grid grid-2">

                <div id="card" class="card-container">
                    <div class="card-header-box"><img src="/images/openserve_white.svg" width="70" alt=""></div><img src="../images/Vox-black.svg" height="40" alt="" class="fno-logo-card">
                    <div class="card-speed-sub">10MBPS UNCAPPED</div>
                    <div class="card-speed-wrapper">
                        <div class="card-speed-container">
                            <img src="/images/arrow-up.svg" width="30" alt="" class="arrow-speed">
                            <div class="card-speed-upload">10Mbps</div>
                            <div class="speed-sub">Upload</div>
                        </div>
                        <div class="card-speed-container">
                            <img src="/images/arrow-down.svg" width="30" alt="" class="arrow-speed">
                            <div class="card-speed-upload">5Mbps</div>
                            <div class="speed-sub">Download</div>
                        </div>
                    </div>
                    <div class="card-price">R549/pm</div><a href="#" class="card-btn w-button">GET THIS DEAL</a>
                </div>
                <div id="card" class="card-container">
                    <div class="card-header-box"><img src="/images/openserve_white.svg" width="70" alt=""></div><img src="../images/Vox-black.svg" height="40" alt="" class="fno-logo-card">
                    <div class="card-speed-sub">10MBPS UNCAPPED</div>
                    <div class="card-speed-wrapper">
                        <div class="card-speed-container">
                            <img src="../images/arrow-up.svg" width="30" alt="" class="arrow-speed">
                            <div class="card-speed-upload">10Mbps</div>
                            <div class="speed-sub">Upload</div>
                        </div>
                        <div class="card-speed-container">
                            <img src="/images/arrow-down.svg" width="30" alt="" class="arrow-speed">
                            <div class="card-speed-upload">5Mbps</div>
                            <div class="speed-sub">Download</div>
                        </div>
                    </div>
                    <div class="card-price">R549/pm</div><a href="#" class="card-btn w-button">GET THIS DEAL</a>
                </div>
                <div id="card" class="card-container">
                    <div class="card-header-box"><img src="../images/openserve_white.svg" width="70" alt=""></div><img src="../images/Vox-black.svg" height="40" alt="" class="fno-logo-card">
                    <div class="card-speed-sub">10MBPS UNCAPPED</div>
                    <div class="card-speed-wrapper">
                        <div class="card-speed-container">
                            <img src="/images/arrow-up.svg" width="30" alt="" class="arrow-speed">
                            <div class="card-speed-upload">10Mbps</div>
                            <div class="speed-sub">Upload</div>
                        </div>
                        <div class="card-speed-container">
                            <img src="/images/arrow-down.svg" width="30" alt="" class="arrow-speed">
                            <div class="card-speed-upload">5Mbps</div>
                            <div class="speed-sub">Download</div>
                        </div>
                    </div>
                    <div class="card-price">R549/pm</div><a href="#" class="card-btn w-button">GET THIS DEAL</a>
                </div>
                <div id="card" class="card-container">
                    <div class="card-header-box"><img src="/images/openserve_white.svg" width="70" alt=""></div><img src="../images/Vox-black.svg" height="40" alt="" class="fno-logo-card">
                    <div class="card-speed-sub">10MBPS UNCAPPED</div>
                    <div class="card-speed-wrapper">
                        <div class="card-speed-container">
                            <img src="/images/arrow-up.svg" width="30" alt="" class="arrow-speed">
                            <div class="card-speed-upload">10Mbps</div>
                            <div class="speed-sub">Upload</div>
                        </div>
                        <div class="card-speed-container">
                            <img src="/images/arrow-down.svg" width="30" alt="" class="arrow-speed">
                            <div class="card-speed-upload">5Mbps</div>
                            <div class="speed-sub">Download</div>
                        </div>
                    </div>
                    <div class="card-price">R549/pm</div><a href="#" class="card-btn w-button">GET THIS DEAL</a>
                </div>
                <div id="card" class="card-container">
                    <div class="card-header-box"><img src="../images/openserve_white.svg" width="70" alt=""></div><img src="../images/Vox-black.svg" height="40" alt="" class="fno-logo-card">
                    <div class="card-speed-sub">10MBPS UNCAPPED</div>
                    <div class="card-speed-wrapper">
                        <div class="card-speed-container">
                            <img src="/images/arrow-up.svg" width="30" alt="" class="arrow-speed">
                            <div class="card-speed-upload">10Mbps</div>
                            <div class="speed-sub">Upload</div>
                        </div>
                        <div class="card-speed-container">
                            <img src="/images/arrow-down.svg" width="30" alt="" class="arrow-speed">
                            <div class="card-speed-upload">5Mbps</div>
                            <div class="speed-sub">Download</div>
                        </div>
                    </div>
                    <div class="card-price">R549/pm</div><a href="#" class="card-btn w-button">GET THIS DEAL</a>
                </div>
                <div id="card" class="card-container">
                    <div class="card-header-box"><img src="/images/openserve_white.svg" width="70" alt=""></div><img src="../images/Vox-black.svg" height="40" alt="" class="fno-logo-card">
                    <div class="card-speed-sub">10MBPS UNCAPPED</div>
                    <div class="card-speed-wrapper">
                        <div class="card-speed-container">
                            <img src="/images/arrow-up.svg" width="30" alt="" class="arrow-speed">
                            <div class="card-speed-upload">10Mbps</div>
                            <div class="speed-sub">Upload</div>
                        </div>
                        <div class="card-speed-container">
                            <img src="/images/arrow-down.svg" width="30" alt="" class="arrow-speed">
                            <div class="card-speed-upload">5Mbps</div>
                            <div class="speed-sub">Download</div>
                        </div>
                    </div>
                    <div class="card-price">R549/pm</div><a href="#" class="card-btn w-button">GET THIS DEAL</a>
                </div>
                <div id="card" class="card-container">
                    <div class="card-header-box"><img src="/images/openserve_white.svg" width="70" alt=""></div><img src="../images/Vox-black.svg" height="40" alt="" class="fno-logo-card">
                    <div class="card-speed-sub">10MBPS UNCAPPED</div>
                    <div class="card-speed-wrapper">
                        <div class="card-speed-container">
                            <img src="/images/arrow-up.svg" width="30" alt="" class="arrow-speed">
                            <div class="card-speed-upload">10Mbps</div>
                            <div class="speed-sub">Upload</div>
                        </div>
                        <div class="card-speed-container">
                            <img src="/images/arrow-down.svg" width="30" alt="" class="arrow-speed">
                            <div class="card-speed-upload">5Mbps</div>
                            <div class="speed-sub">Download</div>
                        </div>
                    </div>
                    <div class="card-price">R549/pm</div><a href="#" class="card-btn w-button">GET THIS DEAL</a>
                </div>
            </div>
        </div><a href="#" class="reset-btn w-button">Reset Results</a>
    </div>
</div>