﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.ThankYou>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
	Layout = "Web.cshtml";
}

    <div style="margin-bottom:200px;" class="thankyou-container">
        <h1 class="thankyou-h1">Thank-You!</h1>
        <h2 class="heading">Your submission has been received successfully.</h2>
        <p class="paragraph">We are currently reviewing your details and a friendly agent should be in contact shortly.</p><a href="/" class="button w-button">Back to Home</a>
    </div>