﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
  

@{
	Layout = null;

    
}

@* the fun starts here *@

<!DOCTYPE html>
<!--  This site was created in Webflow. http://www.webflow.com  -->
<!--  Last Published: Mon Feb 24 2020 11:45:52 GMT+0000 (Coordinated Universal Time)  -->
<html data-wf-page="5e3aa9df3b4cb91f095d7dae" data-wf-site="5e3aa9df3b4cb96fca5d7dad" lang="en">
<head>

    @Html.Partial("/Views/Partials/meta.cshtml")

    @*<meta charset="utf-8">
        <title>Best Internet | Fibre &amp; LTE Comparison</title>
        <meta content="Best Internet brings you the best comparative internet deals in South Africa. Choose from and compare internet service providers and packages at your fingertips!" name="description">
        <meta content="Best Internet | Fibre &amp; LTE Comparison" property="og:title">
        <meta content="Best Internet brings you the best comparative internet deals in South Africa. Choose from and compare internet service providers and packages at your fingertips!" property="og:description">
        <meta content="summary" name="twitter:card">
        <meta content="width=device-width, initial-scale=1" name="viewport">
        <meta content="Webflow" name="generator">*@
    <link href="/css/normalize.css" rel="stylesheet" type="text/css">
    <link href="/css/webflow.css" rel="stylesheet" type="text/css">
    <link href="/css/best-internet-v2.webflow.css" rel="stylesheet" type="text/css">
    @*<link href="/css/style.css" rel="stylesheet" type="text/css">*@
    @RenderSection("styles", false);
    <link href="/covid/pop-style.css" rel="stylesheet">
    <script src="https://use.typekit.net/nvx1mzb.js" type="text/javascript"></script>
    <script type="text/javascript">try { Typekit.load(); } catch (e) { }</script>
    <!-- [if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js" type="text/javascript"></script><![endif] -->
    <script type="text/javascript">!function (o, c) { var n = c.documentElement, t = " w-mod-"; n.className += t + "js", ("ontouchstart" in o || o.DocumentTouch && c instanceof DocumentTouch) && (n.className += t + "touch") }(window, document);</script>

    <script src="https://unpkg.com/isotope-layout@3/dist/isotope.pkgd.js"></script>

    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Google Tag Manager -->
    <script>
        (function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':
                    new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                    'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-M78CZ88');</script>
    <!-- End Google Tag Manager -->

    <script type="text/javascript">
        /** This section is only needed once per page if manually copying **/
        if (typeof MauticSDKLoaded == 'undefined') {
            var MauticSDKLoaded = true;
            var head = document.getElementsByTagName('head')[0];
            var script = document.createElement('script');
            script.type = 'text/javascript';
            script.src = 'https://campaign.igdigital.co.za/index.php/media/js/mautic-form.js';
            script.onload = function () {
                MauticSDK.onLoad();
            };
            head.appendChild(script);
            var MauticDomain = 'https://campaign.igdigital.co.za/index.php';
            var MauticLang = {
                'submittingMessage': "Please wait..."
            }
        }
    </script>

    <script>

        var lading_url = "";
        function setCookie(cname, cvalue, exdays) {
            var d = new Date();
            d.setTime(d.getTime() + (exdays * 24 * 60 * 60 * 1000));
            var expires = "expires=" + d.toGMTString();
            document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/";
        }

        function getCookie(cname) {
            var name = cname + "=";
            var decodedCookie = decodeURIComponent(document.cookie);
            var ca = decodedCookie.split(';');
            for (var i = 0; i < ca.length; i++) {
                var c = ca[i];
                while (c.charAt(0) == ' ') {
                    c = c.substring(1);
                }
                if (c.indexOf(name) == 0) {
                    return c.substring(name.length, c.length);
                }
            }
            return "";
        }

        function checkCookie() {
            var url = getCookie("page_url");
            if (url == "") {
                setCookie("page_url", window.location.href, 30);
            } else if (url == null) {
                setCookie("page_url", window.location.href, 30);
            }
        }
    </script>

    @RenderSection("Head", false)

</head>
<body onload="checkCookie()">
    <!-- Google Tag Manager (noscript) -->
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-M78CZ88"
                height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->
    @RenderSection("ScriptsTop", false)

    @*@{ Html.RenderAction("RenderNavHeader", "SiteLayout");}*@


    <div data-collapse="medium" data-animation="default" data-duration="400" class="navbar-container w-nav">
        <div class="container w-container">
            <a href="/" class="brand w-nav-brand w--current"><img src="/images/best-internet-logo.svg" width="186" alt="" class="logo"></a>
            <nav role="navigation" class="nav-menu w-nav-menu">


                @* @RenderChildItems(Model)*@

                @Html.CachedPartial("~/Views/Partials/SiteLayout/MenuNavigation.cshtml", Model.Content, 3600, true)

                @*<a href="/" class="nav-link w-nav-link w--current">HOME</a>
                    <a href="/providers" class="nav-link w-nav-link">PROVIDERS</a>
                    <a href="/blog/" class="nav-link w-nav-link">BLOG</a>
                    <a href="/contact-us/" class="nav-link w-nav-link">CONTACT US</a>*@

            </nav>
            <div class="menu-button w-nav-button">
                <div class="icon w-icon-nav-menu"></div>
            </div>
        </div>
    </div>

    @RenderBody()


    @Html.CachedPartial("~/Views/Partials/SiteLayout/_Footer.cshtml", Model.Content, 3600, false)
    <script src="https://d3e54v103j8qbb.cloudfront.net/js/jquery-3.4.1.min.220afd743d.js" type="text/javascript" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    @RenderSection("ScriptsBottom", false)
    <script src="/js/webflow.js" type="text/javascript"></script>
   
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script>
        $('.close').click(function (e) {
            $('.cookie-banner').fadeOut();
        });
    </script>
    <!-- [if lte IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif] -->
    <script src="~/Scripts/isotope.pkgd.min.js"></script>


    <script>
        // external js: isotope.pkgd.js

        // init Isotope
        var $grid = $('.package-grid').isotope({
            itemSelector: '.grid-item'
        });

        // store filter for each group
        var filters = {};

        $('.filters').on('change', function (event) {
            var $select = $(event.target);
            // get group key
            var filterGroup = $select.attr('value-group');
            // set filter for group
            filters[filterGroup] = event.target.value;
            // combine filters
            var filterValue = concatValues(filters);
            // set filter for Isotope
            $grid.isotope({ filter: filterValue });
        });

        // flatten object by concatting values
        function concatValues(obj) {
            var value = '';
            for (var prop in obj) {
                value += obj[prop];
            }
            return value;
        }

    </script>




</body>
</html>