﻿
@inherits Umbraco.Web.Mvc.UmbracoTemplatePage


@{


    Blog blog = new Blog(Umbraco.TypedContent(1139));

    List<IPublishedContent> recentPosts = blog.Children.OrderByDescending(x => x.GetPropertyValue<DateTime>("postDate")).Take(3).ToList();

}


<div class="pre-footer">
    <div class="pre-footer-container w-row">
        <div class="pre-footer-column w-col w-col-3">
            <img src="/images/best-internet-white.svg" width="148" alt="" class="image-8">
            <p class="white-p">Get the best internet money can buy. With Best Internet we help you get more than what you bargained for.</p>
        </div>
        <div class="pre-footer-column w-col w-col-3">
            <div class="sub-heading-content white-bold">GET IN TOUCH</div>
            <div class="contact-us-info">
                <p>Phone : 0861 444 899</p>
            </div>
            <div class="contact-us-info">
                <p>Email : info@bestinternet.co.za</p>
            </div>
            <div class="contact-us-widget">
                <p class="white-p blog">Follow us on facebook: <a href="https://www.facebook.com/bestinternetza/" target="_blank" class="link-social">Best internet</a></p>
            </div>
        </div>
        <div class="pre-footer-column w-col w-col-3">
            <div class="sub-heading-content white-bold">SITEMAP</div>
            <ul class="w-list-unstyled">
                <li class="sitemap-link-wrapper"><img src="/images/arrow-footer.svg" width="20" alt=""><a href="/solutions/fibre" class="footer-sitemap-link">FIBRE</a></li>
                <li class="sitemap-link-wrapper"><img src="/images/arrow-footer.svg" width="20" alt=""><a href="/solutions/lte" class="footer-sitemap-link">LTE</a></li>
                <li class="sitemap-link-wrapper"><img src="/images/arrow-footer.svg" width="20" alt=""><a href="/solutions/satellite" class="footer-sitemap-link">SATELLITE</a></li>
                <li class="sitemap-link-wrapper"><img src="/images/arrow-footer.svg" width="20" alt=""><a href="/providers" class="footer-sitemap-link">PROVIDERS</a></li>
                <li class="sitemap-link-wrapper"><img src="/images/arrow-footer.svg" width="20" alt=""><a href="/blog/" class="footer-sitemap-link">BLOG</a></li>
                <li class="sitemap-link-wrapper"><img src="/images/arrow-footer.svg" width="20" alt=""><a href="/contact-us" class="footer-sitemap-link">CONTACT US</a></li>
            </ul>
        </div>
        <div class="pre-footer-column w-col w-col-3">
            <div class="sub-heading-content white-bold">LATEST BLOG POST</div>

            @foreach (ABlog ablog in recentPosts)
            {

                var slideimg = "";
                if (Model.Content.HasValue("summaryImage"))
                {
                    var mediaItem = ablog.SummaryImage;
                    var imgcrop = Url.GetCropUrl(mediaItem: ablog.SummaryImage, cropAlias: "homeBlogThumb", htmlEncode: true);
                    slideimg = imgcrop.ToString();
                }

                <a href="@ablog.Url" class="blog-listing w-inline-block">
                    <img src="@ablog.SummaryImage.GetCropUrl("homeBlogThumb")" alt="" class="image-2">

                    <div class="div-block-7">
                        <p class="heading-blog-footer">@ablog.BlogTitle</p>
                        <p class="white-p blog">@ablog.SubTitle</p>
                    </div>
                </a>
            }

        </div>
    </div>
</div>

<div class="footer">
    <div class="footer-legal-wrapper">
        <div class="footer-legal-container">
            <div class="white-p w-embed w-script">
                Copyright &copy;
                <script>document.write(new Date().getFullYear());</script> All rights reserved | <a href="http://www.bestinternet.co.za" class="link-legal" target="_blank">Best Internet</a>
            </div>
        </div>
        <div class="footer-legal-container left-align">
            <a href="/privacy-policy/" class="link-legal">Privacy Policy</a>
        </div>
    </div>
</div>
