﻿@inherits UmbracoTemplatePage
@{
    Layout = null;

    IPublishedContent currentPageNode = Model.Content;
    IPublishedContent menuroot = Umbraco.TypedContentAtRoot().First();
}
@BootstrapNavigation(menuroot, currentPageNode, true, "nav-link w-nav-link")
@helper BootstrapNavigation(IPublishedContent menuroot, IPublishedContent currentPageNode, bool showGrandChildren, string menuClass)
{
    if (menuroot.GetPropertyValue<bool>("hideChildrenFromNavigation"))
    {
        return;
    }

    var rootchildnodes = menuroot.Children.Where(n => !n.GetPropertyValue<bool>("umbracoNaviHide") &&
        !n.GetPropertyValue<bool>("hideFromNavigation") && !n.Parent.GetPropertyValue<bool>("hideChildrenFromNavigation")).ToList(); // && Umbraco.IsProtected(child.Id, child.Path) && Umbraco.MemberHasAccess(child.Id, child.Path)

    if (rootchildnodes.Any())
    {

        foreach (IPublishedContent child in rootchildnodes)
        {
            var nodes = child.Children.Where(n => !n.GetPropertyValue<bool>("umbracoNaviHide") && !n.GetPropertyValue<bool>("hideFromNavigation") && !n.Parent.GetPropertyValue<bool>("hideChildrenFromNavigation")); //  && Umbraco.IsProtected(child.Id, child.Path) && Umbraco.MemberHasAccess(child.Id, child.Path)
            String activeClass = (currentPageNode.Id == child.Id ? "w--current" : currentPageNode.IsDescendant(child) ? "ancestor w--current" : "");



            var link = "";

            if (child.DocumentTypeAlias != "extLink")
            {
                link = child.Url == "/home/" ? "/" : child.Url;
            }


            if (!child.GetPropertyValue<bool>("umbracoNaviHide"))
            {
                var linkName = child.HasProperty("nameInNavigation") && !string.IsNullOrEmpty(child.GetPropertyValue<string>("nameInNavigation")) ? child.GetPropertyValue<string>("nameInNavigation") : child.Name;


                if (nodes.Any() && showGrandChildren)
                {
                    <div data-hover="1" data-delay="0" class="dropdown w-dropdown">
                        <div class="nav-link w-dropdown-toggle">
                            <div class="w-icon-dropdown-toggle"></div>
                            <div>@linkName.ToUpper()</div>
                        </div>

                        <nav class="w-dropdown-list">
                            @if (showGrandChildren && child.Level <= 3)
                            {
                                @BootstrapNavigation(child, currentPageNode, true, "dropdown-link w-dropdown-link")@*mega-menu*@
                            }

                       
                        </nav>
                    </div>

                }
                else
                {
                    <a href="@(link)" class="@menuClass @activeClass">@linkName.ToUpper()</a>

                }

            }
        }

    }
}